@{
    ViewBag.Title = "Partner Management";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}
@section css{
    <link href="~/newdesignstyles/css/reseller.css" rel="stylesheet" />
 <link rel="stylesheet" type="text/css" href="https://tympanus.net/Development/TextInputEffects/css/set1.css" />
}
<style>
   input[type=text],input[type="email"],input[type="tel"],input[type="number"] {
            width: 101%;
            padding: 13px 0px 2px 10px;
            margin: 15px 5px 15px 0px;
            box-sizing: border-box;
            background-color: #fff;
            color: black;
        }
     .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 1.1em;
            width: 101%;
            border: none;
            border-radius: 0;
            /*background: #f0f0f0;*/
            color: #aaa;
            font-weight: normal;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none;
        }

        .input__label--hoshi {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 5.7em 0.25em;
            width: 100%;
            height: calc(100% - 1em);
            text-align: left;
            pointer-events: none;
        }
</style>



    <div class="col-md-10">
        <input type="hidden" id="partid" name="partid" class="partid" value="" />
        <input type="hidden" id="VendorId" name="VendorId" value="@ViewBag.masterid" />
        @if (ViewBag.resellers != null)
        {
            <div class="row">
                <div class="col-sm-4">
                    <div id="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">Business Details</h5>
                                </div>
                                <div class="col-md-4">
                                    @*<button class="btn btn-primary btn-sm" value="Update" id="btncontact">Save</button>*@

                                    <button class="btn btn-primary btn-sm btnbusiness" value="Update" id="btnbusiness">Save</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6">

                                    @*<div class="md-form form-sm mt-0">

                                        <input type="text" id="BusinessName" class="form-control input-sm" value="@ViewBag.resellers.PartnerName">
                                        <label for="BusinessName">Business Name</label>
                                    </div>*@
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="BusinessName" name="BusinessName" value="@ViewBag.resellers.PartnerName" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Businessname">
                                            <span class="input__label-content input__label-content--hoshi">Business Name</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6">
                                    <span class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="email"  id="Email" name="Email" value="@ViewBag.resellers.emailid" />
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Email">
                                            <span class="input__label-content input__label-content--hoshi">Email</span>
                                        </label>
                                    </span>
                                    @*<div class="md-form form-sm mt-0">
                                        <input type="email" id="Email" class="form-control input-group-sm" value="@ViewBag.resellers.emailid">
                                        <label for="Email">Email</label>

                                    </div>*@
                                </div>
                            </div>
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="number" id="PhoneNumber" class="form-control mr-sm-3" value="@ViewBag.resellers.phoneno">
                                        <label for="PhoneNumber">Phone Number</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="Address" class="form-control mr-sm-3" value="@ViewBag.resellers.address1">
                                        <label for="Address">Address</label>

                                    </div>
                                </div>
                            </div>*@
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="City" class="form-control mr-sm-3" value="@ViewBag.resellers.city">
                                        <label for="City">City</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="State" class="form-control mr-sm-3" value="@ViewBag.resellers.state">
                                        <label for="State">State</label>

                                    </div>
                                </div>
                            </div>*@
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="Country" class="form-control mr-sm-3" value="@ViewBag.resellers.country">
                                        <label for="Country">Country</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="number" id="faxnumber" class="form-control mr-sm-3" value="@ViewBag.resellers.country">
                                        <label for="faxnumber">Fax Number</label>

                                    </div>
                                </div>
                            </div>*@
                            @*<div class="form-row">
                                <div class="col-md-12">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="url" class="form-control mr-sm-3" value="@ViewBag.resellers.url">
                                        <label for="url">Website Url</label>

                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">Contact Details</h5>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm btnbusiness" value="Update" id="btnbusiness">Save</button>
                                </div>
                            </div>


                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="firstName" class="form-control mr-sm-3" value="@ViewBag.resellers.cpfname">
                                        <label for="firstName">First Name</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="lastname" class="form-control mr-sm-3" value="@ViewBag.resellers.cplname">
                                        <label for="lastname">Last Name</label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="Designation" class="form-control mr-sm-3" value="@ViewBag.resellers.cpdesig">
                                        <label for="Designation">Designation</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="number" id="mobileno" class="form-control mr-sm-3" value="@ViewBag.resellers.cpphoneno">
                                        <label for="mobileno">Phone Number</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="md-form form-sm mt-0">
                                        <input type="email" id="email" class="form-control mr-sm-3" value="@ViewBag.resellers.cpemailid">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">Bank Details</h5>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm btnbusiness" value="Update" id="btnbusiness">Save</button>
                                </div>
                            </div>


                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="panno" class="form-control mr-sm-3" value="@ViewBag.resellers.PAN">
                                        <label for="panno">PAN Number</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="Gst" class="form-control mr-sm-3" value="@ViewBag.resellers.GST">
                                        <label for="Gst">GSTIN</label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="bankname" class="form-control mr-sm-3" value="@ViewBag.resellers.bankname">
                                        <label for="bankname">Bank Name</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="bankbranchname" class="form-control mr-sm-3" value="@ViewBag.resellers.bankbranch">
                                        <label for="bankbranchname">Bank Branch Name</label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="accholdername" class="form-control mr-sm-3" value="@ViewBag.resellers.AccountHolderName">
                                        <label for="accholdername">A/C Holder Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="ifsccode" class="form-control mr-sm-3" value="@ViewBag.resellers.IFSC">
                                        <label for="ifsccode">IFSC CODE</label>


                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" id="accountno" class="form-control mr-sm-3" value="@ViewBag.resellers.AccountNumber">
                                        <label for="accountno">Account Number</label>

                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>}
        else
        {
    <div class="row">
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Business Details</h5>
                        </div>
                        <div class="col-md-4">
                            @*<button class="btn btn-primary btn-sm" value="Update" id="btncontact">Save</button>*@

                           <button class="btn btn-primary btn-sm btnbusiness" value="save" id="btnbusiness">Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
                            <span class="input input--hoshi">
                                <input class="input__field input__field--hoshi" type="text" id="BusinessName" name="BusinessName"/>
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="BusinessName">
                                    <span class="input__label-content input__label-content--hoshi">Business Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <span class="input input--hoshi">
                                <input class="input__field input__field--hoshi" type="email" id="Email" name="Email"/>
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Email">
                                    <span class="input__label-content input__label-content--hoshi">Email</span>
                                </label>
                            </span>
                        </div>
                    </div>
                   @*<div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">

                                <input type="text" id="BusinessName" class="form-control input-sm" >
                                <label for="BusinessName">Business Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="email" id="Email" class="form-control input-group-sm" >
                                <label for="Email">Email</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="number" id="PhoneNumber" class="form-control mr-sm-3" >
                                <label for="PhoneNumber">Phone Number</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Address" class="form-control mr-sm-3">
                                <label for="Address">Address</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="City" class="form-control mr-sm-3">
                                <label for="City">City</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="State" class="form-control mr-sm-3">
                                <label for="State">State</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Country" class="form-control mr-sm-3" >
                                <label for="Country">Country</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="number" id="faxnumber" class="form-control mr-sm-3" >
                                <label for="faxnumber">Fax Number</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="url" class="form-control mr-sm-3" >
                                <label for="url">Website Url</label>

                            </div>
                        </div>
                    </div>*@
               </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Contact Details</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm btnbusiness" value="Update" id="btnbusiness">Save</button>
                        </div>
                    </div>


                    @*<div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="firstName" class="form-control mr-sm-3" >
                                <label for="firstName">First Name</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="lastname" class="form-control mr-sm-3" >
                                <label for="lastname">Last Name</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Designation" class="form-control mr-sm-3" >
                                <label for="Designation">Designation</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="number" id="mobileno" class="form-control mr-sm-3" >
                                <label for="mobileno">Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-sm mt-0">
                                <input type="email" id="email" class="form-control mr-sm-3" >
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Bank Details</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm btnbusiness" value="Update" id="btnbusiness">Save</button>
                        </div>
                    </div>


                    @*<div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="panno" class="form-control mr-sm-3" >
                                <label for="panno">PAN Number</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Gst" class="form-control mr-sm-3" >
                                <label for="Gst">GSTIN</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="bankname" class="form-control mr-sm-3" >
                                <label for="bankname">Bank Name</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="bankbranchname" class="form-control mr-sm-3" >
                                <label for="bankbranchname">Bank Branch Name</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="accholdername" class="form-control mr-sm-3" >
                                <label for="accholdername">A/C Holder Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="ifsccode" class="form-control mr-sm-3" >
                                <label for="ifsccode">IFSC CODE</label>


                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="accountno" class="form-control mr-sm-3" >
                                <label for="accountno">Account Number</label>

                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>}
        <div class="container-fluid">
            @*<div class="">*@
            <div class="white-wrapper row mx-0">
                @*<div class="accordion mt-2" style="backgrou: #1515a782">
                    <div class="row">
                        <div class="col-xs-6 col-md-2 col-sm-3" id="package">
                            @*<input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                            <span>Service Name</span>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3">
                            <span id="span-package-1">Package Name</span>
                        </div>
                        <div class="col-xs-6  col-md-5 col-sm-3">
                            Sale Price
                            <table id="prices-accordion">
                                <tbody>

                                    <tr>
                                        @*<td>₹@item.normaldays</td>
                                <td>₹@item.peakdays</td>
                                <td>₹@item.holidays </td>
                                <td>₹@item.choicedays </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Normal
                                        </td>
                                        <td>
                                            peaks day
                                        </td>
                                        <td>
                                            holiday
                                        </td>
                                        <td>
                                            choise day
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                        <div class="col-xs-6  col-md-2 col-sm-3">
                            expiry
                        </div>
                    </div>
                </div>*@

                <div class="col-md-12 col-sm-6">
                    <table class="table table" id="table-text">
                        <thead>
                            <tr>
                                <th id="head-section">Service Name</th>
                                <th id="head-section">Package Name</th>
                                <th id="head-section">
                                    Sale Price
                                    <table id="prices">
                                        <tbody>
                                            <tr>
                                                <th>Normal</th>
                                                <th>Peak</th>
                                                <th>Holiday</th>
                                                <th>Choice</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th id="head-section">Expiry</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            @*</div>*@
            @foreach (var item in ViewBag.package)
            {
                <div class="accordion1 mt-2" id="package">
                    <div class="row">
                        <div class="col-xs-6 col-md-2 col-sm-3">
                            <input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                            <span>Packages Price</span>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3">
                            <span id="span-package-1">@item.PackageName</span>
                        </div>
                        <div class="col-xs-6  col-md-5 col-sm-3">
                            <table id="prices-accordion">
                                <tbody>
                                    <tr>
                                        <td>₹@item.normaldays</td>
                                        <td>₹@item.peakdays</td>
                                        <td>₹@item.holidays </td>
                                        <td>₹@item.choicedays </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" name="normal" id="normal1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="normal" id="normal2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="peakday" id="peakday1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="peakday" id="peakday2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="holidays" id="holidays1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="holidays" id="holidays2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="choicedays" id="choicedays1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="choicedays" id="choicedays2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="normal1" class="price" value="10%"></td>
                                        <td><input type="text" name="peakday1" class="price" value="10%"></td>
                                        <td><input type="text" name="holidays1" class="price" value="10%"></td>
                                        <td><input type="text" name="choicedays1" class="price" value="10%"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <center>
                                <button class="btn btn-primary btn-sm savepackage">Save</button>
                            </center>
                        </div>
                        <div class="col-xs-6  col-md-2 col-sm-3">
                            <input type="text" style="width:80%;margin-left: 16%;" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>




<script>
    $('.btnbusiness').click(function () {
        var val = $(this).val();
        var vendorid = $('#VendorId').val();
        var partid = $('#partid').val();
        var partner = {
            PartnerID: $('#partid').val(),
            VendorId: $('#VendorId').val(),
            partnername: $('#BusinessName').val(),
            url: $('#url').val(),
            phoneno: $('#PhoneNumber').val(),
            emailid: $('#Email').val(),
            address1: $('#Address').val(),
            city: $('#City').val(),
            state: $('#State').val(),
            country: $('#Country').val(),
            cpfname: $('#firstName').val(),
            cplname: $('#lastname').val(),
            cpdesig: $('#Designation').val(),
            cpphoneno: $('#mobileno').val(),
            cpemailid: $('#email').val(),
            PAN: $('#panno').val(),
            GST: $('#Gst').val(),
            bankname: $('#bankname').val(),
            bankbranch: $('#bankbranchname').val(),
            AccountHolderName: $('#accholdername').val(),
            IFSC: $('#ifsccode').val(),
            AccountNumber: $('#accountno').val(),
            //state: $('State').val(),
        }
        $.ajax({
            url: '/ReSellerManagement/Index?command=' + val + '&&partid=' + partid,
            type: 'POST',
            data: JSON.stringify({ partner: partner }),
            contentType: 'application/json',
            success: function (data) {
                if (data != null) {
                    alert("save is successfully");
                    alert(data.PartnerID);
                 //   $('#PartnerID').val(data.PartnerID);
                    $('#partid').val(data.PartnerID);
                   // $("#Businessname").val(data.partnername);
                   //// $("#firstname").val(result.firstname);
                   // //$("#lastname").val(result.lastname);
                   // $("#Email").val(data.emailid);
                   // $("#PhoneNumber").val(data.phoneno);
                   // $("#Address").val(data.address1);
                   //// $("#adress2").val(result.adress2);
                   // $("#City").val(data.city);
                   // $("#State").val(data.state);
                   // $("#Country").val(data.country);
                   // //$("#pincode").val(result.pincode);
                   // //$("#Status").val(result.Status);
                }
                else { alert("save is failed"); }
            },
            error: function (data) {
                alert("save is failed");
            }
        })
    })

    $('.savepackage').click(function () {
        var vendorid = $('#VendorId').val();
        var partid = $('#partid').val();
        var packageid = $(this).parents("div#package").find('input#packageid').val();
        var normal = $(this).parents("div#package").find($('input[name=normal]:checked')).val();
        var peakday = $(this).parents("div#package").find($('input[name=peakday]:checked')).val();
        var holidays = $(this).parents("div#package").find($('input[name=holidays]:checked')).val();
        var choicedays = $(this).parents("div#package").find($('input[name=choicedays]:checked')).val();
        var normal1 = $(this).parents("div#package").find($('input[name=normal1]')).val();
        var peakday1 = $(this).parents("div#package").find($('input[name=peakday1]')).val();
        var holidays1 = $(this).parents("div#package").find($('input[name=holidays1]')).val();
        var choicedays1 = $(this).parents("div#package").find($('input[name=choicedays1]')).val();
        alert(packageid + ',' + normal + ',' + peakday + ',' + holidays + ',' + choicedays + ',' + normal1 + ',' + peakday1 + ',' + holidays1 + ',' + choicedays1);
        var partner = {
            PartnerID: $('#partid').val(),
            VendorId: $('#VendorId').val(),
            partnername: $('#BusinessName').val(),
            url: $('#url').val(),
            phoneno: $('#PhoneNumber').val(),
            emailid: $('#Email').val(),
            address1: $('#Address').val(),
            city: $('#City').val(),
            state: $('#State').val(),
            country: $('#Country').val(),
            cpfname: $('#firstName').val(),
            cplname: $('#lastname').val(),
            cpdesig: $('#Designation').val(),
            cpphoneno: $('#mobileno').val(),
            cpemailid: $('#email').val(),
            PAN: $('#panno').val(),
            GST: $('#Gst').val(),
            bankname: $('#bankname').val(),
            bankbranch: $('#bankbranchname').val(),
            AccountHolderName: $('#accholdername').val(),
            IFSC: $('#ifsccode').val(),
            AccountNumber: $('#accountno').val(),
            //state: $('State').val(),
        }
        $.ajax({
            url: '/ReSellerManagement/Index?command=' + val + '&&partid=' + partid,
            type: 'POST',
            data: JSON.stringify({ partner: partner }),
            contentType: 'application/json',
            success: function (data) {
                if (data != null) {
                    alert("save is successfully");
                    alert(data.PartnerID);
                    //   $('#PartnerID').val(data.PartnerID);
                    $('#partid').val(data.PartnerID);
                    // $("#Businessname").val(data.partnername);
                    //// $("#firstname").val(result.firstname);
                    // //$("#lastname").val(result.lastname);
                    // $("#Email").val(data.emailid);
                    // $("#PhoneNumber").val(data.phoneno);
                    // $("#Address").val(data.address1);
                    //// $("#adress2").val(result.adress2);
                    // $("#City").val(data.city);
                    // $("#State").val(data.state);
                    // $("#Country").val(data.country);
                    // //$("#pincode").val(result.pincode);
                    // //$("#Status").val(result.Status);
                }
                else { alert("save is failed"); }
            },
            error: function (data) {
                alert("save is failed");
            }
        })
    });
   
</script>
