@using System.Globalization
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}


<div class="sb2-2-3">
    <div class="col-md-12">
        <div class="box-inn-sp">
            <div class="inn-title">



                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Quotation ID</th>
                                <th>Event Type</th>
                                <th>Event Date</th>
                                <th>Package Name</th>
                                <th>Total Amount</th>
                                <th>Balance Due</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orders in ViewBag.order)
                            {
                                <tr class="even gradeX">
                                    <td> @orders.OrderId </td>
                                    <td> @orders.EventType </td>
                                    <td> @orders.BookedDate.ToString("dd-MM-yyyy") </td>
                                    <td> @orders.PackageName </td>
                                    <td>  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@orders.PerunitPrice * @orders.Quantity)).Replace(".00", "") </td>
                                    <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@orders.Due)).Replace(".00", "") </td>
                                    <td> @orders.orderstatus </td>
                                    <td>
                                        <a href="/Admin/quotationlist/QuoteReply?id=@orders.OrderId" class="btn btn-default btn-xs"> Reply Quote </a>
                                        @*<a href="#" class="btn btn-default btn-xs">Delete</a>*@
                                    </td>
                                </tr>
                            }
                            @foreach (var orders1 in ViewBag.order1)
                            {
                                <tr class="even gradeX">
                                    <td> @orders1.OrderId </td>
                                    <td> @orders1.EventType </td>
                                    <td> @orders1.BookedDate.ToString("dd-MM-yyyy") </td>
                                    <td> @orders1.PackageName </td>
                                    <td>  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@orders1.PerunitPrice * @orders1.Quantity)).Replace(".00", "") </td>
                                    <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@orders1.Due)).Replace(".00", "") </td>
                                    <td> @orders1.orderstatus </td>
                                    <td>
                                        <a href="/Admin/quotationlist/QuoteReply?id=@orders1.OrderId" class="btn btn-default btn-xs"> Reply Quote </a>
                                        @*<a href="#" class="btn btn-default btn-xs">Delete</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>