@using System.Globalization

@{
    ViewBag.Title = "QuoteReply";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}
@section css{
    <link href="~/Assets/plugins/datepicker/css/datepicker.css" rel="stylesheet" />



    <style>
        body {
            font-family: "Lato", sans-serif;
        }


        .tablink {
            background-color: #fff;
            color: #212529;
            float: left;
            border: 1px;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 14px;
            width: 16%;
        }

        .pks {
            font-size: 13px;
            font-weight: 800;
        }

        .ksimage {
            width: 150px;
            height: 160px;
        }

        .tablink:hover {
            background-color: #fff;
        }
        /* Style the tab content */
        .tabcontent {
            color: white;
            display: none;
            padding: 50px;
            text-align: center;
        }







        .first .col-md-4 img {
            height: 130px;
            width: 300px;
        }
    </style>
}

<div id="content" style="background-color: #fff;">
    <div class="inner">
        @*<div class="row">
                <div class="col-lg-12">
                    <h2 style="text-align:center">Replying To @ViewBag.quotations.Name Quote</h2>
                    <input type="hidden" id="type" value="Photography" />
                </div>
            </div>
            <hr />*@
        <div class="row" style="margin:0">
            <div class="col-lg-12">


                <center> <h3>Quotation Details</h3></center>
                @if (ViewBag.orderdetails1 != null)
                {
                    @*<p style="text-transform:capitalize;font-weight:bold"> Quotation requested for</p>*@

                    foreach (var item in ViewBag.orderdetails1)
                    {
                        <div class="room_type first">

                            <div class="row">
                                <input type="hidden" name="otype" id="otype" class="otype" value="@item.orderbooktype">
                                <input type="hidden" name="vid" id="vid" class="vid" value="@item.vid">

                                <div class="col-md-4">
                                    @if (item.logo != null)
                                    {

                                        <img src="../vendorimages/@item.logo" class="img-fluid" alt="" style="height: 88px;width: 255px;" />


                                    }
                                    else
                                    {
                                        <img src="~/noimages.png" class="img-fluid" alt="" style="height: 88px;width: 255px;" />

                                    }
                                </div>
                                <div class="col-md-8">



                                    <table>

                                        <tr>
                                            <td>
                                                <p>Businessname: @item.BusinessName </p>
                                                <p> Service type:@item.ServicType</p>
                                            </td>
                                            <td>
                                                <p>Orderdetailid: @item.OrderDetailId</p>
                                                <p>Packagename: @item.PackageName</p>
                                                <p>price/plate: @item.PerunitPrice </p>
                                                <p>Guest: @item.Quantity</p>
                                            </td>
                                            <td>

                                                <p> Event Date:@item.OrderDate.ToString("dd-MM-yyyy")</p>
                                                <p>Book date: @item.BookedDate.ToString("dd-MM-yyyy")</p>

                                            </td>
                                            <td>₹@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <!-- /row -->
                        </div>

                    }
                }
                @if (ViewBag.orderdetails != null)
                {

                    foreach (var item in ViewBag.orderdetails)
                    {
                        <div class="room_type first" style="background-color: #fff;">

                            <div class="row">
                                <input type="hidden" name="otype" id="otype" class="otype" value="@item.orderbooktype">
                                <input type="hidden" name="vid" id="vid" class="vid" value="@item.vid">
                                <div class="col-md-4">
                                    @if (item.logo != null)
                                    {

                                        <img src="../vendorimages/@item.logo.Trim(',')" class="img-fluid" alt="" style="height: 88px;width: 255px;" />


                                    }
                                    else
                                    {
                                        <img src="~/noimages.png" class="img-fluid" alt="" style="height: 88px;width: 255px;" />

                                    }
                                </div>
                                <div class="col-md-8">



                                    <table>

                                        <tr>
                                            <td>
                                                <p> @item.BusinessName </p><p>@item.ServicType</p>
                                            </td>
                                            <td>
                                                <p>Orderdetailid: @item.OrderDetailId</p>
                                                <p>Packagename: @item.PackageName</p>
                                                <p>price/plate: @item.PerunitPrice </p>
                                                <p>Guest: @item.Quantity</p>
                                            </td>
                                            <td>

                                                <p> Event Date:@item.OrderDate.ToString("dd-MM-yyyy")</p>
                                                <p>Book date: @item.BookedDate.ToString("dd-MM-yyyy")</p>

                                            </td>
                                            <td>₹@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <!-- /row -->
                        </div>

                    }
                }


            </div>
        </div>

        <center>

        @*----------common---------*@
        <div class="row" style="margin:0">
            <div class="col-3" style="width: 17%;">
                Select Service Type
            </div>
            <div class="col-3" style="width: 17%;">
                <select class="" id="selectedservice" style="width: 25%;">
                    <option value="" selected="">Select Service Type</option>
                    <option value="Venue">Venue</option>
                    <option value="Catering">Catering</option>
                    <option value="Photography">Photography</option>
                    <option value="Decorator">Decorator</option>
                    <option value="Mehendi">Mehendi Artists</option>
                    <option value="Pandit">Pandits</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin:0">
            <div class="col-2"style="width: 17%;">
                <label class="">Select Date</label>
            </div>
            <div class="col-2" style="width: 17%;">
                <input type="date" id="dp1" name="name" class="form-control">
            </div>
        </div>
            </center>
        <div class="tooltip-demo" align="center">
            <button type="button" id="btnsearch" class="btn btn-primary" tooltip="Select Service Type & Date" onclick="sortvendors()">Search Vendors</button>
            <a href="/Admin/Quotations" class="btn btn-danger">Cancel</a>
            @*<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Tooltip on top</button>*@
        </div>
        <br />
        <br />
        <div id="sortvendors">
            @{Html.RenderAction("FilteredVendors", "quotationlist");}
        </div>

  


<center>
    @*<button id="email" name="email" class="btn">Add Packages</button>

    <button id="email" name="email" onclick="email()" class="btn">Email</button>*@
    <button id="view" onclick="view()" name="view" class="btn">View</button>
</center>
                </div>
</div>
@*</div>*@



@section scripts{
    @*<script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>*@
    @*<script src="~/Assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>*@
    @*<script src="~/Assets/js/notifications.js"></script>*@
    <script>
        //$(function () { Notifications(); });
        //$('#dp1').val(new Date().toLocaleDateString().toString("dd-MM-yyyy"));
        // $('#dp1').datepicker({
        //    format: 'dd-mm-yyyy'
        //}).on('changeDate', function (ev) {
        //    $('.datepicker').hide();
        //    $('#btnsearch').removeAttr('disabled');
        //});

        function sortvendors() {
            var type = $('#selectedservice').val();
            var date = $('#dp1').val();
            var id1 = $('#vid').val();
            var id = '@Request.QueryString["id"]';
            var url = '/Admin/quotationlist/FilteredVendors?type=' + type + '&&date=' + date+ '&&id='+id1;
            $('#sortvendors').empty().load(url);
        }

        function view() {
            var type = $('#otype').val();
            var date = $('#dp1').val();
            var id = '@Request.QueryString["id"]';
            window.location.href = '/Admin/quotationlist/FilteredVendors1?id=' + id + "&&type=" + type;
           // $('#sortvendors').empty().load(url);
        }
        function email() {
            var type = $('#otype').val();
            var date = $('#dp1').val();
            var id = '@Request.QueryString["id"]';
            $.ajax({
                url: '/Admin/quotationlist/email?id=' + id + "&&type=" + type,
                success: function (data) {
                    alert(data);
                }
            })

        }
    </script>

}
