
@{
    ViewBag.Title = "update Package";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">
                <div class="tab-content padding-vertical-15">
                    @using (Html.BeginForm("updatepkg", "NVendorPkgs", FormMethod.Post))
                    {
                        if (ViewBag.pacakagerecord != null)
                        {
                            foreach (var item in ViewBag.pacakagerecord)
                            {
                        <form class="">
                            <div class="row">
                                <input type="hidden" class="form-control" name="id" value="@item.PackageID" autocomplete="off">
                               
                                <input type="hidden" class="form-control" name="vid" value="@item.VendorId" autocomplete="off">


                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">Type</label>

                                    <input type="text" class="form-control" name="PackageName" value="@item.VendorType-@item.VendorSubType" placeholder="type" autocomplete="off"  disabled>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">Package Name</label>

                                    <input type="text" class="form-control" name="PackageName" value="@item.PackageName" placeholder="Package Name" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label" for="inputBasicFirstName">Package Price</label>

                                    <input type="number" class="form-control" name="PackagePrice" value="@item.PackagePrice" placeholder="Package Price"  autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputBasicFirstName">Package Description</label>

                                <textarea class="form-control" name="Packagedec" value="@item.PackageDescription" placeholder="Package Description"  autocomplete="off"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                                }
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>

<!------ Date Picker ---------->
<script type="text/javascript" src="/newdesign/js/jquery-ui.min.js"></script>

<script>
   


</script>