
@{
    ViewBag.Title = ":: Invoice ::";
    Layout = "~/Views/SharedWeb/vendorloginmaster.cshtml";
}

@section css{
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .col-md-10 {
            color: black;
        }
    </style>

}

<main>
    <div id="error_page">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    
                        <div class="card" id="profilepipccontent">
                            @{Html.RenderAction("profilepic", "VDashboard");}
                        </div>
                        @{Html.RenderAction("sidebar", "VDashboard"); }
                    
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-12" style="padding-left:30px">
                            <div class="invoice-title add_top_30">
                                <h3 style="color:black">Invoice</h3><h3 class="float-right">Order # @ViewBag.orderid</h3>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <address>
                                        <strong>Billed To:</strong><br>
                                        @ViewBag.vendorname<br>
                                        @ViewBag.vendoraddress
                                    </address>
                                </div>
                                <div class="col-6 text-right">
                                    <address>
                                        <strong>Shipped To:</strong><br>
                                        @ViewBag.username<br>
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <address>
                                        <strong>Booked Date:</strong><br>
                                        @ViewBag.bookeddate<br><br>
                                    </address>
                                    <address>
                                        <strong>Payment Method:</strong><br>
                                        Visa ending **** 4242<br>
                                        @*jsmith@email.com*@
                                    </address>
                                    
                                </div>
                                <div class="col-6 text-right">
                                    <address>
                                        <strong>Order Date:</strong><br>
                                       @ViewBag.orderdate<br><br>
                                    </address>

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12" style="padding-left:30px">
                            <div class="add_top_15">
                                <h3><strong>Order summary</strong></h3>
                                <div class="table-responsive">
                                    <table class="table table-condensed" style="width:100%;max-width:100%">
                                        <thead>
                                            <tr>
                                                <td><strong>Package Name</strong></td>
                                                <td class="text-center"><strong>Price</strong></td>
                                                <td class="text-center"><strong>Quantity</strong></td>
                                                <td class="text-right"><strong>Total</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.orderdetails)
                                            {
                                                <tr>
                                                    <td>@item.EventType</td>
                                                    <td class="text-center">₹ @item.PerunitPrice</td>
                                                    <td class="text-center">@item.Quantity</td>
                                                    <td class="text-right">₹ @item.TotalPrice</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                <td class="thick-line text-right">₹ @ViewBag.totalprice</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>GST</strong></td>
                                                <td class="no-line text-right">₹ 0</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">₹ @ViewBag.totalprice</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/VDashboard?c=orders" class="btn btn-danger">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /container -->
            </div>
        </div>
    </div>
    <!-- /error_page -->
</main>

