
@{
    ViewBag.Title = ":: Invoice ::";
    Layout = "~/Views/SharedWeb/vendorloginmaster.cshtml";
}

@section css{
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .col-md-10 {
            color: black;
        }
    </style>

}

<main>
    <div id="error_page">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">

                    <div class="card" id="profilepipccontent">
                        @{Html.RenderAction("profilepic", "VDashboard");}
                    </div>
                    @{Html.RenderAction("sidebar", "VDashboard"); }

                </div>
                <div class="col-md-10">
                    <div id="print-content">
                        <input type="hidden" id="User_Id" name="User_Id" value="@ViewBag.User_Id" />
                        <input type="hidden" id="OrderId" name="OrderId" value="@ViewBag.orderid" />
                        <input type="hidden" id="paidamount" name="paidamount" value="@ViewBag.paidamount" />
                        <div class="row">
                            <div class="col-12" style="padding-left:30px">
                                <div class="invoice-title add_top_30">
                                    <h3 style="color:black">Invoice</h3><h3 class="float-right">Order # @ViewBag.orderid</h3>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <address>
                                            <strong>Billed To:</strong><br>
                                            @ViewBag.vendorname<br>
                                            @ViewBag.vendoraddress
                                        </address>
                                    </div>
                                    <div class="col-6 text-right">
                                        <address>
                                            <strong>Shipped To:</strong><br>
                                            @ViewBag.username<br>
                                        </address>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <address>
                                            <strong>Booked Date:</strong><br>
                                            @ViewBag.bookeddate<br><br>
                                        </address>
                                        @*<address>
                                <strong>Payment Method:</strong><br>
                                Visa ending **** 4242<br>
                                jsmith@email.com
                            </address>*@

                                    </div>
                                    <div class="col-6 text-right">
                                        <address>
                                            <strong>Order Date:</strong><br>
                                            @ViewBag.orderdate<br><br>
                                        </address>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="padding-left:30px">
                                <div class="add_top_15">
                                    <h3><strong>Order summary</strong></h3>
                                    <div class="table-responsive">
                                        <table class="table table-condensed" style="width:100%;max-width:100%">
                                            <thead>
                                                <tr>
                                                    <td><strong>Event Type</strong></td>
                                                    <td class="text-center"><strong>₹Price</strong></td>
                                                    <td class="text-center"><strong>Quantity</strong></td>
                                                    <td class="text-right"><strong>₹Total Amount</strong></td>
                                                    <td class="text-right"><strong>₹Due Amount</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.orderdetails)
                                                {
                                                    <tr>
                                                        <td>@item.EventType</td>
                                                        <td class="text-center"> @item.PerunitPrice</td>
                                                        <td class="text-center">@item.Quantity</td>
                                                        <td class="text-right">@item.TotalPrice</td>
                                                        <td class="text-right"> @ViewBag.paidamount</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                    <td class="thick-line text-right">₹ @ViewBag.totalprice</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>GST</strong></td>
                                                    <td class="no-line text-right">₹ 0</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Total</strong></td>
                                                    <td class="no-line text-right">₹ @ViewBag.totalprice</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Order Details</strong></h3>
                                                <div class="table-responsive">
                                                    <table class="table table-condensed" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                <td><strong>Select</strong></td>
                                                                <td><strong>Event Type</strong></td>
                                                                <td class="text-center"><strong>₹Price</strong></td>
                                                                <td class="text-center"><strong>Quantity</strong></td>
                                                                <td class="text-right"><strong>₹Total Amount</strong></td>
                                                                <td class="text-right"><strong>₹Due Amount</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.orderdetails)
                                                            {
                                                                <tr>
                                                                    <td><input type="checkbox" class="chcktbl" value="" /></td>
                                                                    <td>@item.EventType</td>
                                                                    <td class="text-center"> @item.PerunitPrice</td>
                                                                    <td class="text-center">@item.Quantity</td>
                                                                    <td class="text-right"> @item.TotalPrice</td>

                                                                    <td class="text-right"> @ViewBag.paidamount</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.payment.Count != 0)
                                    {<div class="row">
                                        <div class="col-lg-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Payment summary</strong></h3>
                                                <div class="table-responsive2">
                                                    <table class="table table-condensed2" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                <td class="text-center"><strong>Payment_Date</strong></td>
                                                                <td><strong>Payment_Id</strong></td>
                                                                <td class="text-center"><strong>Payment_Type</strong></td>
                                                                <td class="text-right"><strong>₹Received_Amount</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.payment)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">@item.Payment_Date.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.Payment_Id</td>
                                                                    <td class="text-center">@item.Payment_Type</td>
                                                                    <td class="text-right"> @item.Received_Amount</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                                    <div class="row" id="Paymentmode" style="display:none;margin-top:50px">
                                        <div class="col-lg-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3 class="col-md-12"><strong> Payment Mode</strong></h3>
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="row payment-options">
                                                                <fieldset class="form-check" style="display:inline">
                                                                    <label class="form-check-label" for="Status1">Cash</label>
                                                                    <input type="radio" class="chckcash" id="Type1" name="Payment_Type" value="Cash" checked required />
                                                                </fieldset>
                                                                <fieldset class="form-check" style="display:inline">
                                                                    <label class="form-check-label" for="Status2">Cheque</label>
                                                                    <input type="radio" class="chckcheque" id="Type2" name="Payment_Type" value="Cheque" required />
                                                                </fieldset>
                                                                <fieldset class="form-check" style="display:inline">
                                                                    <label class="form-check-label" for="Status2"> Credit / Debit Card</label>
                                                                    <input type="radio" class="chckcard" id="Type3" name="Payment_Type" value="Credit/DebitCard" required />
                                                                </fieldset>
                                                                <fieldset class="form-check" style="display:inline">
                                                                    <label class="form-check-label" for="Status2">Bank Transfer</label>
                                                                    <input type="radio" class="chckbt" id="Type4" name="Payment_Type" value="Bank Transfer" required />
                                                                </fieldset>
                                                                <fieldset class="form-check" style="display:inline">
                                                                    <label class="form-check-label" for="Status2">Wallet</label>
                                                                    <input type="radio" class="chckwallet" id="Type5" name="Payment_Type" value="Wallet" required />
                                                                </fieldset>
                                                            </div>
                                                            <br />
                                                            <div class="row Cashdetails" id="cashdetails">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" style="margin-bottom:0;">
                                                                        <label>Date:</label>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"></div>
                                                                        <input class="form-control datepicker" id="Cash_Date" name="Cash_Date" type="text" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Cashier Name:</label>
                                                                        <input type="text" class="form-control" id="Cash_Card_Holdername" name="Cash_Card_Holdername" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row Chequedetails" id="chequedetails" style="display:none;">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" style="margin-bottom:0;">
                                                                        <label>Date:</label>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"></div>
                                                                        <input class="form-control datepicker" id="Cheque_Date" name="Cheque_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Bank name</label>
                                                                        <input type="text" class="form-control" id="Cheque_Bankname" name="Cheque_Bankname" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Cheque No</label>
                                                                        <input type="text" class="form-control" id="Cheque_Number" name="Cheque_Number" style="padding: 5px;">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row credit/debitcarddetails" id="carddetails" style="display:none;">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" style="margin-bottom:0;">
                                                                        <label>Date:</label>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"></div>
                                                                        <input class="form-control datepicker" id="creditORdebitcard_date" name="creditORdebitcard_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Card Holder Name</label>
                                                                        <input type="text" class="form-control" id="Card_Holder_Name" name="Card_Holder_Name" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Last 4 digits</label>
                                                                        <input type="text" class="form-control" id="Card_Last4digits" name="Card_Last4digits" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row Bankdetails" id="bankdetails" style="display:none;">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" style="margin-bottom:0;">
                                                                        <label>Date:</label>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"></div>
                                                                        <input class="form-control datepicker" id="Bank_Transfer_date" name="Bank_Transfer_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Account Holder Name</label>
                                                                        <input type="text" class="form-control" id="Bank_Transfer_Name" name="Bank_Transfer_Name" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Transaction Id</label>
                                                                        <input type="text" class="form-control" id="Bank_Transaction_ID" name="Bank_Transaction_ID" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Bank Name</label>
                                                                        <input type="text" class="form-control" id="Bank_Transfer_IFSCcode" name="Bank_Transfer_IFSCcode" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Branch Name</label>
                                                                        <input type="text" class="form-control" id="Bank_Transfer_Branchname" name="Bank_Transfer_Branchname" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row Walletdetails" id="walletdetails" style="display:none;">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" style="margin-bottom:0;">
                                                                        <label>Date:</label>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"></div>
                                                                        <input class="form-control datepicker" id="Wallet_Date" name="Wallet_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Mobile Number</label>
                                                                        <input type="text" class="form-control" id="Wallet_Number" name="Wallet_Number" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="col-md-5" style="padding: 14px;">Received Amount</div>
                                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="Received_Amount" name="Received_Amount" style="padding: 5px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-5" style="padding: 14px;">Opening Balance</div>
                                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control open_balance" id="Opening_Balance" name="Opening_Balance" value="@ViewBag.totalprice" style="padding: 5px;" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-5" style="padding: 14px;">Current Balance</div>
                                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="Current_Balance" name="Current_Balance" style="padding: 5px;" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-left:30px">
                                                        <div class="col-md-6  remarks margin-top" style="margin-top:-10px">
                                                            <label>Remarks</label>
                                                            <textarea class="form-control" rows="3" id="Remarks" name="Remarks"></textarea>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div align="center">
                                                        <div style="position: absolute; left: 485px;">
                                                            <button id="SavePayment" type="button" name="command" value="Save" class="btn btn-success" style="display:block">Save Payment</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                         </div>
                                    </div>
                                    <br />
                                    <br />
                                    <a href="/VDashboard?c=orders" class="btn btn-danger">Go Back</a>
                                    <button type="button" class="btn btn-primary"><i class="icon-download"></i>Save</button>
                                    <button type="button" onclick="email(@ViewBag.orderid)"class="btn btn-primary"><i class="icon-direction-1"></i>Email</button>
                                    @*<button type="button" class="btn btn-primary" onclick="window.location.href='/Payments?Oid=' + @ViewBag.orderid">Receive Payment Now</button>*@
                                    <button type="button" class="btn btn-primary" id="btnrcvpmnt">Receive Payment</button>
                                    <button name="btnprint" onclick="printDiv('print-content')" class="btn btn-primary"><i class="icon-print"></i>Print</button>
                                    <button name="btnsaveas" id="savepdf" class="btn btn-primary"><i class="icon-download"></i>Save as PDF</button>
                </div>
                <!-- /container -->
            </div>
        </div>
    </div>
    <!-- /error_page -->
</main>
<script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>

<script>
    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }

    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#savepdf').click(function () {
        doc.fromHTML($('#print-content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });

    // This code is collected but useful, click below to jsfiddle link.

    function email(val) {
        $.ajax({
            url: '/vinvoice/Email?oid=' + val ,
            type: 'POST',
            contentType: 'application/json',

            success: function (result) {
                if (result == "success") {
                    alert("Email sent Successfully");
                } else {
                    alert("Error Occurred in sending email");
                }



            }
        })
        alert(val);};
    $(document).ready(function () {
        var now = new Date();
        var openamnt = $('#paidamount').val();
        $('#Current_Balance').val(openamnt);

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        //var today = now.getFullYear() + "-" + (month) + "-" + (day);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('.datepicker').val(today);


        $('input:radio[name="Payment_Type"]').change(function () {
            if ($(this).val() == "Cash") {
                $('#cashdetails').show();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Cheque") {
                $('#cashdetails').hide();
                $('#chequedetails').show();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Credit/DebitCard") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').show();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Bank Transfer") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').show();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Wallet") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').show();
            }
        });
    });
    $("#btnrcvpmnt").click(function () {
        $('#Paymentmode').css('display', 'block');
        $('#btnrcvpmnt').css('display', 'none');

    });

    $('#Received_Amount').keyup(function () {
        var openamnt = $('#paidamount').val();
        var rcvamnt = $('#Received_Amount').val();
        //if (rcvamnt > openamnt) { alert("Enter valid amount"); }
        //else
        if (rcvamnt == null || rcvamnt == "") {
            alert("Enter Some Amount");
            $('#Current_Balance').val(openamnt);


        } else {
            var result = parseFloat(openamnt) - parseFloat(rcvamnt);
            $('#Current_Balance').val(result);
        }

    });
    $("#SavePayment").click(function () {
        //var paymenttype = $('#Payment_Type').val();
        //var orderid =@Request.QueryString["Oid"];

        var payments = {
            OrderId: $("#OrderId").val(),
            User_Id: $("#User_Id").val(),
            Payment_Type: $("input[name='Payment_Type']:checked").val(),
            Cash_Date: $("#Cash_Date").val(),
            Cash_Card_Holdername: $("#Cash_Card_Holdername").val(),
            Cheque_Date: $("#Cheque_Date").val(),
            Cheque_Bankname: $("#Cheque_Bankname").val(),
            Cheque_Number: $("#Cheque_Number").val(),
            creditORdebitcard_date: $("creditORdebitcard_date").val(),
            Card_Holder_Name: $("#Card_Holder_Name").val(),
            Card_Last4digits: $("#Card_Last4digits").val(),
            Bank_Transfer_date: $("#Bank_Transfer_date").val(),
            Bank_Transaction_ID: $("#Bank_Transaction_ID").val(),
            Bank_Transfer_Name: $("#Bank_Transfer_Name").val(),
            Bank_Transfer_IFSCcode: $("#Bank_Transfer_IFSCcode").val(),
            Bank_Transfer_Branchname: $("#Bank_Transfer_Branchname").val(),
            Wallet_Date: $("#Wallet_Date").val(),
            Wallet_Number: $("#Wallet_Number").val(),
            Received_Amount: $("#Received_Amount").val(),
            Current_Balance: $('#Current_Balance').val(),
            Opening_Balance: $('#Opening_Balance').val(),
            Remarks: $("#Remarks").val()

        }
        $.ajax({
            url: '/vinvoice/Index',
            type: 'Post',
            contentType: 'application/json',
            data: JSON.stringify({ payments: payments }),
            success: function (data) {
                alert(data);
                location.reload();

                //window.location.href = "/VDashboard?c=orders";
                // window.location.href = "@Url.Action("Index", "Payments")";
            },
            error: function (data) {
                alert("failed");
            }
        });

    });
</script>