@using System.Globalization
@{
    ViewBag.Title = ":: Invoice ::";
    Layout = "~/Views/SharedWeb/vendorloginmaster.cshtml";
}

@section css{
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .col-md-10 {
            color: black;
        }
    </style>

}

<main>
    <div id="error_page">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">

                    <div class="card" id="profilepipccontent">
                        @{Html.RenderAction("profilepic", "VDashboard");}
                    </div>
                    @{Html.RenderAction("sidebar", "VDashboard"); }

                </div>
                <input type="hidden" name="GridHtml" />
                <input type="hidden" id="User_Id" name="User_Id" value="@ViewBag.User_Id" />
                <input type="hidden" id="OrderId" name="OrderId" value="@ViewBag.orderid" />
                <input type="hidden" id="paidamount" name="paidamount" value="@ViewBag.paidamount" />
                <input type="hidden" id="OrderDetailId" name="OrderDetailId" value="" />
                <input type="hidden" id="OrderDetailid1" name="OrderDetailid1" value="@ViewBag.orderdetailid5" />
                <div class="col-md-10">

                    <div id="print-content">
                        <div class="row">
                            <div class="col-12" style="padding-left:30px">
                                <div class="invoice-title add_top_30">
                                    <div class="table-responsive">
                                        <table style="height: 182px;" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 172px;"><strong>Invoice</strong></td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;"><strong>Order</strong> #  @ViewBag.orderid</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 172px;">
                                                        <strong>Billed To:</strong>
                                                        <p> @ViewBag.vendorname</p>
                                                        <p>@ViewBag.vendoraddress</p>
                                                    </td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;">
                                                        <strong>Shipped To:</strong>
                                                        <p> @ViewBag.username</p>
                                                        <p></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 172px;"><strong>Booked Date:</strong><p>@ViewBag.bookeddate</p></td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;"><strong>Order Date:</strong><p>@ViewBag.orderdate</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="padding-left:30px">
                                <div class="add_top_15">
                                    <h3><strong>Order summary</strong></h3>

                                    <div class="table-responsive">
                                        <table class="table table-condensed" style="width:100%;max-width:100%">
                                            <thead>
                                                <tr>
                                                    <td><strong>Event Type</strong></td>
                                                    <td class="text-center"><strong>Price</strong></td>
                                                    <td class="text-center"><strong>Quantity</strong></td>
                                                    <td class="text-right"><strong>Due Amount</strong></td>
                                                    <td class="text-right"><strong>Total Amount</strong></td>
                                                    <td class="text-right"><strong>Grand Total (Total Amount + GST)</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.orderdetails)
                                                {
                                                    <tr>
                                                        <td>@item.EventType</td>
                                                        <td class="text-center">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.PerunitPrice)).Replace(".00", "")</td>
                                                        <td class="text-center">@item.Quantity</td>
                                                        <td class="text-right">
                                                            Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.Due)).Replace(".00", "")
                                                        </td>
                                                        <td class="text-right">
                                                            Rs  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")
                                                        </td>
                                                        <td class="text-right">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice) + (Convert.ToDouble(@item.TotalPrice) * 0.18)).Replace(".00", "")</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                    <td class="thick-line text-right">
                                                        Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.total)).Replace(".00", "")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>GST</strong></td>
                                                    <td class="no-line text-right">18%</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong> Grand Total</strong></td>
                                                    <td class="no-line text-right">
                                                        Rs  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.gstplustotalAmount)).Replace(".00", "")
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Order Details</strong></h3>

                                                <div class="table-responsive">
                                                    <table class="table table-condensed" id="orderdetails" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                <td><strong>Select</strong></td>
                                                                <td><strong>Order DetailId</strong></td>
                                                                <td class="text-center"><strong>Service Name</strong></td>
                                                                <td class="text-center"><strong>Price</strong></td>
                                                                <td class="text-center"><strong>Quantity</strong></td>
                                                                <td class="text-center"><strong>Due Amount</strong></td>
                                                                <td class="text-center"><strong>Total Amount</strong></td>
                                                                <td class="text-center"><strong>Discount</strong></td>
                                                                <td class="text-center"><strong>GST</strong></td>
                                                                <td class="text-right"><strong>Grand Total (Total Amount + GST)</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.orderdetails)
                                                            {
                                                                <tr>
                                                                    <td><input type="checkbox" class="chcktblservice" value="@item.OrderDetailId" /></td>
                                                                    <td> @item.OrderDetailId </td>
                                                                    <td class="text-center">@item.ServiceType</td>
                                                                    <td class="text-center">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.PerunitPrice)).Replace(".00", "")</td>
                                                                    <td class="text-center">@item.Quantity</td>
                                                                    <td class="sbaldue text-center">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.Due)).Replace(".00", "")</td>
                                                                    <td class="tsamnt text-center">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</td>
                                                                    <td class="text-center">
                                                                        <select name="DiscountType" id="DiscountType" class="selectdiscount" style="font-size: 11px;" disabled>
                                                                            <option value="select">Select Discount Type</option>
                                                                            <option value="Discpercentage">Percentage %</option>
                                                                            <option value="flaterate">Flat Rate ₹</option>
                                                                        </select>
                                                                        <div class="form-group" style="padding-left:5px;padding-top:8px;">
                                                                            <input type="text" class="form-control disctxt" id="Discount" name="Discount" value="" placeholder="Enter Discount" style="font-size: 12px; width:128px;padding:0px;" disabled>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">18%</td>
                                                                    <td class="text-right gndttl">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice) + (Convert.ToDouble(@item.TotalPrice) * 0.18)).Replace(".00", "")</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.payment.Count != 0)
                                    {<div class="row">
                                        <div class="col-lg-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Payment summary</strong></h3>
                                                <div class="table-responsive2">
                                                    <table class="table table-condensed2" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                <td><strong>Payment Date</strong></td>
                                                                <td class="text-center"><strong>Payment Id</strong></td>
                                                                <td class="text-center"><strong>Payment Type</strong></td>
                                                                <td class="text-right"><strong>Received Amount</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.payment)
                                                            {
                                                                <tr>
                                                                    <td> @item.Payment_Date.ToString("dd-MMM-yyyy") </td>
                                                                    <td class="text-center">@item.Payment_Id</td>
                                                                    <td class="text-center">@item.Payment_Type</td>
                                                                    <td class="text-right"> Rs @item.Received_Amount</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="Paymentmode" style="display:none;padding-top:0px;">
                        <div class="col-lg-12" style="padding-left:30px">
                            <div class="add_top_15">
                                <h3 class="col-md-12"><strong> Payment Mode</strong></h3>
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row payment-options">
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status1">Cash</label>
                                                    <input type="radio" class="chckcash" id="Type1" name="Payment_Type" value="Cash" checked required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Cheque</label>
                                                    <input type="radio" class="chckcheque" id="Type2" name="Payment_Type" value="Cheque" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2"> Credit / Debit Card</label>
                                                    <input type="radio" class="chckcard" id="Type3" name="Payment_Type" value="Credit/DebitCard" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Bank Transfer</label>
                                                    <input type="radio" class="chckbt" id="Type4" name="Payment_Type" value="Bank Transfer" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Wallet</label>
                                                    <input type="radio" class="chckwallet" id="Type5" name="Payment_Type" value="Wallet" required />
                                                </fieldset>
                                            </div>
                                            <br />
                                            <div class="row Cashdetails" id="cashdetails">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Cash_Date" name="Cash_Date" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Payment By</label>
                                                        <input type="text" class="form-control" id="PaymentBy" name="PaymentBy" placeholder="Enter Customer Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Cashier Name:</label>
                                                        <input type="text" class="form-control" id="Cash_Card_Holdername" name="Cash_Card_Holdername" style="padding: 5px;">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row Chequedetails" id="chequedetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Cheque_Date" name="Cheque_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Payment By</label>
                                                        <input type="text" class="form-control" id="PaymentBy" name="PaymentBy" placeholder="Enter Customer Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Bank name</label>
                                                        <input type="text" class="form-control" id="Cheque_Bankname" name="Cheque_Bankname" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Cheque No</label>
                                                        <input type="text" class="form-control" id="Cheque_Number" name="Cheque_Number" style="padding: 5px;">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row credit/debitcarddetails" id="carddetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="creditORdebitcard_date" name="creditORdebitcard_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Payment By</label>
                                                        <input type="text" class="form-control" id="PaymentBy" name="PaymentBy" placeholder="Enter Customer Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Card Holder Name</label>
                                                        <input type="text" class="form-control" id="Card_Holder_Name" name="Card_Holder_Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Last 4 digits</label>
                                                        <input type="text" class="form-control" id="Card_Last4digits" name="Card_Last4digits" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Bankdetails" id="bankdetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Bank_Transfer_date" name="Bank_Transfer_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Payment By</label>
                                                        <input type="text" class="form-control" id="PaymentBy" name="PaymentBy" placeholder="Enter Customer Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Account Holder Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_Name" name="Bank_Transfer_Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Transaction Id</label>
                                                        <input type="text" class="form-control" id="Bank_Transaction_ID" name="Bank_Transaction_ID" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Bank Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_IFSCcode" name="Bank_Transfer_IFSCcode" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Branch Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_Branchname" name="Bank_Transfer_Branchname" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Walletdetails" id="walletdetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Wallet_Date" name="Wallet_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Payment By</label>
                                                        <input type="text" class="form-control" id="PaymentBy" name="PaymentBy" placeholder="Enter Customer Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Mobile Number</label>
                                                        <input type="text" class="form-control" id="Wallet_Number" name="Wallet_Number" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @*<div class="row">
                                                    <div class="col-md-5" style="padding: 14px;">Invoiced Amount</div>
                                                    <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="Invoiced_Amount" name="Invoiced_Amount" value="" style="padding: 5px;" readonly>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Total Amount</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    @*<input type="hidden" class="form-control" id="Opening_Balance1" name="Opening_Balance1" value="@ViewBag.total" style="padding: 5px;" readonly>*@
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Opening_Balance" name="Opening_Balance" style="padding: 5px;" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Balance Due</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <input type="hidden" class="form-control" id="Current_Balance1" name="Current_Balance1" value="@ViewBag.balance" style="padding: 5px;" readonly>

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Current_Balance" name="Current_Balance" style="padding: 5px;" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="row">
                                                    <div class="col-md-5" style="padding: 14px;">Discount Type</div>
                                                    <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                        <div class="form-group">
                                                          <select name="DiscountType" id="DiscountType" class="selectdiscount" style="padding: 5px; width:210px;font-size:12px;">
                                                              <option value="select">Select Discount Type</option>
                                                              <option value="Discpercentage">Percentage %</option>
                                                              <option value="flaterate">Flat Rate ₹</option>
                                                          </select>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            @*<div class="row">
                                                    <div class="col-md-5" style="padding: 14px;">Discount</div>
                                                    <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="Discount" name="Discount" value="@ViewBag.discount" style="padding:5px;">
                                                        </div>
                                                    </div>
                                                </div>*@
                                            @*<div class="row">
                                                    <div class="col-md-5" style="padding: 14px;">GST</div>
                                                    <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                        <div class="form-group">
                                                           <label id="lblgst" name="lblgst" value="18%" style="padding-left: 70px;">18%</label>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Final Amount</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <input type="hidden" class="form-control" id="FinalAmount1" name="FinalAmount1" value="@ViewBag.gstplustotalAmount" style="padding: 5px;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="FinalAmount" name="FinalAmount" value="@ViewBag.gstplustotalAmount" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Received Amount</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Received_Amount" name="Received_Amount" value="" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-left:30px">
                                        <div class="col-md-6  remarks margin-top" style="padding:5px">
                                            <label>Remarks</label>
                                            <textarea class="form-control" rows="3" id="Remarks" name="Remarks"></textarea>
                                        </div>
                                    </div>
                                    <br />
                                    <div align="center">
                                        <div style="position: absolute; left: 485px;">
                                            <button id="SavePayment" type="button" name="command" value="Save" class="btn btn-success" style="display:block">Save Payment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div align="right">
                        <a href="/vdb?c=orders" class="btn btn-danger">Go Back</a>
                        @*<button type="button" class="btn btn-primary"><i class="icon-download"></i>Save</button>*@
                        <button type="button" onclick="email(@ViewBag.orderid)" class="btn btn-primary"><i class="icon-direction-1"></i>Email</button>
                        @*<button type="button" class="btn btn-primary" onclick="window.location.href='/Payments?Oid=' + @ViewBag.orderid">Receive Payment Now</button>*@
                        <button type="button" class="btn btn-primary" id="btnrcvpmnt">Receive Payment</button>
                        <button name="btnprint" onclick="printDiv('print-content')" class="btn btn-primary"><i class="icon-print"></i>Print</button>
                        <button name="btnsaveas" id="savepdf" class="btn btn-primary"><i class="icon-download"></i>Save as PDF</button>
                    </div>
                </div>


            </div>
            <!-- /container -->
        </div>

    </div>
    <!-- /error_page -->
</main>
<script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>

<script>
    //(function () {
    //    var
    //        form = $('#print-content'),
    //        cache_width = form.width(),
    //        a4 = [595.28, 841.89]; // for a4 size paper width and height

    //    $('#savepdf').on('click', function () {
    //        $('body').scrollTop(0);
    //        createPDF();
    //    });
    //    //create pdf
    //    function createPDF() {
    //        getCanvas().then(function (canvas) {
    //            var
    //                img = canvas.toDataURL("image/png"),
    //                doc = new jsPDF({
    //                    unit: 'px',
    //                    format: 'a4'
    //                });
    //            doc.addImage(img, 'JPEG', 20, 20);
    //            doc.save('bhavdip-html-to-pdf.pdf');
    //            form.width(cache_width);
    //        });
    //    }

    //    // create canvas object
    //    function getCanvas() {
    //        form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
    //        return html2canvas(form, {
    //            imageTimeout: 2000,
    //            removeContainer: true
    //        });
    //    }

    //}());
</script>
<script>
    /*
 * jQuery helper plugin for examples and tests
 */
    (function ($) {
        $.fn.html2canvas = function (options) {
            var date = new Date(), $message = null, timeoutTimer = false, timer = date.getTime();
            html2canvas.logging = options && options.logging;
            html2canvas.Preload(this[0], $.extend({
                complete: function (images) {
                    var queue = html2canvas.Parse(this[0], images, options),
                    $canvas = $(html2canvas.Renderer(queue, options)),
                    finishTime = new Date();
                    $canvas.css({ position: 'absolute', left: 0, top: 0 }).appendTo(document.body);
                    $canvas.siblings().toggle();

                    $(window).click(function () {
                        if (!$canvas.is(':visible')) {
                            $canvas.toggle().siblings().toggle();
                            throwMessage("Canvas Render visible");
                        } else {
                            $canvas.siblings().toggle();
                            $canvas.toggle();
                            throwMessage("Canvas Render hidden");
                        }
                    });
                    throwMessage('Screenshot created in ' + ((finishTime.getTime() - timer) / 1000) + " seconds<br />", 4000);
                }
            }, options));

            function throwMessage(msg, duration) {
                window.clearTimeout(timeoutTimer);
                timeoutTimer = window.setTimeout(function () {
                    $message.fadeOut(function () {
                        $message.remove();
                    });
                }, duration || 2000);
                if ($message)
                    $message.remove();
                $message = $('<div ></div>').html(msg).css({
                    margin: 0,
                    padding: 10,
                    background: "#000",
                    opacity: 0.7,
                    position: "fixed",
                    top: 10,
                    right: 10,
                    fontFamily: 'Tahoma',
                    color: '#fff',
                    fontSize: 12,
                    borderRadius: 12,
                    width: 'auto',
                    height: 'auto',
                    textAlign: 'center',
                    textDecoration: 'none'
                }).hide().fadeIn().appendTo('body');
            }
        };
    })(jQuery);

</script>



<script>
    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
    $('#savepdf').click(function () {
        debugger;
        // $("input[name='GridHtml']").val($("#print-content").html());
        //var pdfhtml = $("input[name='GridHtml']").val();
        var pdfhtml = document.getElementById("print-content").outerHTML;// $("#print-content").html();
        // var pdfhtml = $(this).attr("GridHtml");
        var oid = '@Request.QueryString["oid"]';
        //alert(pdfhtml);
        $.ajax({
            url: '/vinvoice/pdfdownload',//?pdfhtml=' + pdfhtml + "&&oid=" + oid,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: {},
            data: JSON.stringify({ pdfhtml: pdfhtml, oid: oid }),
            success: function (result) {
                if (result == "success") {
                    alert("pdf downloaded sucess fully");
                }
                else {
                    alert("Error Occurred in downloading pdf");
                }



            }
        })
        //doc.fromHTML($('#print-content').html(), 15, 15, {
        //    'width': 170,
        //    'elementHandlers': specialElementHandlers
        //});
        //doc.save('sample-file.pdf');
    });
    //var doc = new jsPDF();
    //var specialElementHandlers = {
    //    '#editor': function (element, renderer) {
    //        return true;
    //    }
    //};

    //$('#savepdf').click(function () {
    //    doc.fromHTML($('#print-content').html(), 15, 15, {
    //        'width': 170,
    //        'elementHandlers': specialElementHandlers
    //    });
    //    doc.save('sample-file.pdf');
    //});
    @*function printDiv(divName) {
        var div = $('#print-content').html();
        var oid = @Request.QueryString["oid"]
        $.ajax({
                url: '/vinvoice/pdfsave?div=' + div +"&&oid="+oid,
            type: 'POST',
            contentType: 'application/json',

            success: function (result) {
                if (result == "success") {
                    alert("Email sent Successfully");
                } else {
                    alert("Error Occurred in sending email");
                }



            }
        })

    }*@

    // This code is collected but useful, click below to jsfiddle link.

    function email(val) {
        $.ajax({
            url: '/vinvoice/Email?oid=' + val,
            type: 'POST',
            contentType: 'application/json',

            success: function (result) {
                if (result == "success") {
                    alert("Email sent Successfully");
                }
                else {
                    alert("Error Occurred in sending email");
                }
            }
        })
    };
    $(document).ready(function () {
        var now = new Date();
        //var openamnt = $('#paidamount').val();
        //$('#Current_Balance').val(openamnt);
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        //var today = now.getFullYear() + "-" + (month) + "-" + (day);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('.datepicker').val(today);

        $('input:radio[name="Payment_Type"]').change(function () {
            if ($(this).val() == "Cash") {
                $('#cashdetails').show();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Cheque") {
                $('#cashdetails').hide();
                $('#chequedetails').show();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Credit/DebitCard") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').show();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Bank Transfer") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').show();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Wallet") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').show();
            }
        });
    });
    $("#btnrcvpmnt").on('click', function () {
        $('#Paymentmode').css('display', 'block');
        $('.chcktblservice').prop('checked', true);
        $('#btnrcvpmnt').css('display', 'none');
        var totalmnt = $('#Opening_Balance').val();
        var finalpaying = parseFloat(totalmnt);
        $('#Opening_Balance').val(totalmnt);
        //$('#Current_Balance').val(totalmnt);
        var cntdue = $('#Current_Balance1').val();
        //var ctbalncedue1 = $('#Current_Balance').val();
        var id = $("#OrderDetailid1").val();
        $("#OrderDetailId").val(id);
        var pymnt = parseFloat(cntdue);
        $('#Current_Balance').val(cntdue);
        var pmnt = 0
        var gstsum2 = 0
        var gstsum5 = $('#FinalAmount').val();
        $("#orderdetails tr").click(function () {
            if ($(this).find('td:eq(0)').find('input.chcktblservice').is(':not(:checked)')) {
                var rid1;
                var oDid1 = $("#OrderDetailid1").val();
                $("#Discount").val('');
                $(this).find('td:eq(1)').each(function () {
                    var odid1 = $(this).text();
                    var id1 = odid1.trim();
                    rid1 = oDid1.replace(id1, "");
                    $("#OrderDetailId").val(rid1);
                    $("#OrderDetailid1").val(rid1);
                });

                $(this).find('.tsamnt').each(function () {
                    var bal = $(this).text();
                    var baldue1 = bal.replace('Rs ', '');
                    var tbalcurrentdue1 = baldue1.replace(/,/g, '');
                    finalpaying -= parseFloat(tbalcurrentdue1);
                    $('#Opening_Balance').val(finalpaying);
                });
                $(this).find('.sbaldue').each(function () {
                    var cntbal1 = $(this).text();
                    var baldue1 = cntbal1.replace('Rs ', '');
                    var tbaldue1 = baldue1.replace(/,/g, '');
                    pymnt -= parseFloat(tbaldue1);
                    $('#Current_Balance').val(pymnt);
                    $('#Current_Balance1').val(pymnt);
                    var bldue = $('#Current_Balance').val();
                    $('#FinalAmount1').val(bldue);
                    $('#FinalAmount').val(bldue);
                });
                var ttotal2;
                var initialbal2;
                $(this).find('.tsamnt').each(function () {
                    var opnamnt2 = $(this).text();
                    var totamnt2 = opnamnt2.replace('Rs ', '');
                    ttotal2 = totamnt2.replace(/,/g, '');
                })
                $(this).find('.sbaldue').each(function () {
                    var cntbal2 = $(this).text();
                    var baldue2 = cntbal2.replace('Rs ', '');
                    initialbal2 = baldue2.replace(/,/g, '');
                })
                if (ttotal2 == initialbal2 || ttotal2 != 0 && Intlbal2 != 0) {
                    var gstplusttamnt2 = parseFloat(initialbal2);
                    var gstplusfinal2 = gstplusttamnt2 + (gstplusttamnt2 * 18 / 100);
                    gstsum5 -= gstplusfinal2;
                    $('#FinalAmount1').val(gstsum5);
                    $('#FinalAmount').val(gstsum5);
                }

            }
            else {
                var oDid1 = $("#OrderDetailId").val();
                var odid1 = $(this).find('td:eq(1)').text();
                rid1 = oDid1 + ',' + odid1;
                $("#OrderDetailId").val(rid1);
                $("#Discount").val('');
                $(this).find('.tsamnt').each(function () {
                    var nt = $(this).text();
                    var nt1 = nt.replace('Rs ', '');
                    var tnt = nt1.replace(/,/g, '');
                    finalpaying += parseFloat(tnt);
                    $('#Opening_Balance').val(finalpaying);
                });
                $(this).find('.sbaldue').each(function () {
                    var cntbal2 = $(this).text();
                    var baldue2 = cntbal2.replace('Rs ', '');
                    var tbaldue2 = baldue2.replace(/,/g, '');
                    pymnt += parseFloat(tbaldue2);
                    $('#Current_Balance').val(pymnt);
                    $('#Current_Balance1').val(pymnt);
                    var bldue = $('#Current_Balance').val();
                    $('#FinalAmount1').val(bldue);
                    $('#FinalAmount').val(bldue);
                });
                var ttotal2;
                var initialbal2;
                $(this).find('.tsamnt').each(function () {
                    var opnamnt2 = $(this).text();
                    var totamnt2 = opnamnt2.replace('Rs ', '');
                    ttotal2 = totamnt2.replace(/,/g, '');
                })
                $(this).find('.sbaldue').each(function () {
                    var cntbal2 = $(this).text();
                    var baldue2 = cntbal2.replace('Rs ', '');
                    initialbal2 = baldue2.replace(/,/g, '');
                })
                if (ttotal2 == initialbal2 || ttotal2 != 0 && Intlbal2 != 0) {
                    var gstplusttamnt2 = parseFloat(initialbal2);
                    var gstplusfinal2 = gstplusttamnt2 + (gstplusttamnt2 * 18 / 100);
                    gstsum2 += gstplusfinal2;
                    $('#FinalAmount1').val(gstsum2);
                    $('#FinalAmount').val(gstsum2);
                }
            }
        });
    });

    $('#Received_Amount').on('input', function () {
        var openingamnt1 = $('#Current_Balance1').val();
        var rcvamnt = $('#Received_Amount').val();
        var result = ''
        if (rcvamnt == null || rcvamnt == "") {
            alert("Enter Some Amount");
            $('#Current_Balance').val(openingamnt1);
        }
        else if (parseFloat(rcvamnt) > parseFloat(openingamnt1)) {
            alert("Enter less than or Equal Of Balance Due Amount...");
            $('#Received_Amount').val("");
            $('#Current_Balance').val(openingamnt1);
        }
        else {
            result = parseFloat(openingamnt1) - parseFloat(rcvamnt);
            $('#Current_Balance').val(result);
        }
    });
    
    $("#SavePayment").click(function () {
        //var paymenttype = $('#Payment_Type').val();
        //var orderid =@Request.QueryString["Oid"];
        var OrderDetailId = $("#OrderDetailId").val();
        var Received_Amount = $("#Received_Amount").val();
        var payments = {
            OrderId: $("#OrderId").val(),
            User_Id: $("#User_Id").val(),
            Payment_Type: $("input[name='Payment_Type']:checked").val(),
            PaymentBy: $('#PaymentBy').val(),
            Cash_Date: $("#Cash_Date").val(),
            Cash_Card_Holdername: $("#Cash_Card_Holdername").val(),
            Cheque_Date: $("#Cheque_Date").val(),
            Cheque_Bankname: $("#Cheque_Bankname").val(),
            Cheque_Number: $("#Cheque_Number").val(),
            creditORdebitcard_date: $("creditORdebitcard_date").val(),
            Card_Holder_Name: $("#Card_Holder_Name").val(),
            Card_Last4digits: $("#Card_Last4digits").val(),
            Bank_Transfer_date: $("#Bank_Transfer_date").val(),
            Bank_Transaction_ID: $("#Bank_Transaction_ID").val(),
            Bank_Transfer_Name: $("#Bank_Transfer_Name").val(),
            Bank_Transfer_IFSCcode: $("#Bank_Transfer_IFSCcode").val(),
            Bank_Transfer_Branchname: $("#Bank_Transfer_Branchname").val(),
            Wallet_Date: $("#Wallet_Date").val(),
            Wallet_Number: $("#Wallet_Number").val(),
            Current_Balance: $('#Current_Balance').val(),
            Opening_Balance: $('#Opening_Balance').val(),
            //DiscountType: $('#DiscountType').val(),
            //Discount: $('#Discount').val(),
            //GST:$('#lblgst').val(),
            Remarks: $("#Remarks").val()
        }
        $.ajax({
            url: '/vinvoice/Index',
            type: 'Post',
            contentType: 'application/json',
            data: JSON.stringify({ payments: payments, OrderDetailId: OrderDetailId, Received_Amount: Received_Amount }),
            success: function (data) {
                alert(data);
                location.reload();
            },
            error: function (data) {
                alert("failed");
            }
        });

    });


    $("#orderdetails tr input.chcktblservice").click(function () {
        var checked = $(this).is(':checked');
        var gstsum5 = $('#FinalAmount').val(); // GSt Total Amount
        var tr = $(this).parent('td').parent('tr');
        var rid;
        var oid = $("#OrderDetailId").val();
        var odid = tr.find('td:eq(1)').text();
        if (rid == '') rid = odid;
        else rid = oid + ',' + odid;
        $("#OrderDetailId").val(rid);
        var openingbal = $('#Opening_Balance').val();
        var opamt = tr.find('.tsamnt').text().replace('Rs ', '').replace(',', '').trim();
        //Opening Balance
        if (openingbal == '')
            $('#Opening_Balance').val(opamt);
        else {
            if(checked)
                $('#Opening_Balance').val(parseInt(openingbal) + parseInt(opamt));
            else
                $('#Opening_Balance').val(parseInt(openingbal) - parseInt(opamt));
        }
        //Balance Due
        var currentbal = $('#Current_Balance').val();
        var cntbal = tr.find('.sbaldue').text().replace('Rs ', '').replace(',', '').trim();
        if (currentbal != '')
        {
            if (checked)
                $('#Current_Balance').val(parseInt(currentbal) + parseInt(cntbal));
            else
                $('#Current_Balance').val(parseInt(currentbal) - parseInt(cntbal));
        }
        else {
            $('#Current_Balance').val(cntbal);
        }
        $('#Paymentmode').css('display', 'block');
        // Total Amount + GST
        var total = 0; var gstsum = 0
        var openingbalance = $('#Opening_Balance').val();
        var duebalance = $('#Current_Balance').val();
        var famount =$('#FinalAmount').val();
        if (openingbalance == duebalance || openingbalance != 0 && duebalance != 0) {
            var gstplusttamnt = parseFloat(openingbalance);
            var gstplusfinal = gstplusttamnt + (gstplusttamnt * 18 / 100);
            if (checked)
            {
                gstsum += gstplusfinal;
                tr.find('#DiscountType').removeAttr('disabled');
                tr.find('#Discount').removeAttr('disabled');
            }
            else
            {
                var famt = tr.find('.gndttl').text().replace('Rs ', '').replace(',', '').trim();
                gstsum = parseInt(famount) - parseInt(famt);
                tr.find('#DiscountType').attr('disabled', 'disabled');
                tr.find('#Discount').attr('disabled', 'disabled')
            }
            $('#FinalAmount').val(gstsum);
        }
    });

    var discounttype = '';
    $('.selectdiscount').change(function () {
        discounttype = $('.selectdiscount option:selected').text();
        $(this).parent('td').find('#Discount').focus();
    });

    $('#Discount').on('input', function () {
        if (discounttype == 'Percentage %') {
            var ttamnt = $('#Opening_Balance').val();
            var discamnt = $('#Discount').val();
            if (discamnt > 100) {
                alert('Percentage should not be greater than 100');
            }
            else {
                var discountinpercent = ttamnt - (ttamnt * discamnt / 100);
                finalamnt = discountinpercent + (discountinpercent * 18 / 100);
                $('#FinalAmount').val(finalamnt);
                $('#FinalAmount1').val(finalamnt);
            }
        }
        else if (discounttype == 'Flat Rate ₹') {
            var ttamnt1 = $('#Opening_Balance').val();
            var discamnt1 = $('#Discount').val();
            var discountrupees = ttamnt1 - discamnt1;
            finalamnt1 = discountrupees + (discountrupees * 18 / 100);
            $('#FinalAmount1').val(finalamnt1);
            $('#FinalAmount').val(finalamnt1);
        }
    });
</script>

@*//$(document).ready(function () {
    //    var sum = 0
    //    var sum1 = 0
    //    var gstsum = 0
    //    var gstsum5 = $('#FinalAmount').val();
    //    $("#orderdetails1 tr").click(function () {
    //        if ($(this).find('input.chcktblservice').is(':checked')) {
    //            var rid;
    //            var oid = $("#OrderDetailId").val();
    //            var odid = $(this).find('td:eq(1)').text();
    //            rid = oid + ',' + odid;
    //            $("#OrderDetailId").val(rid);
    //            $("#Discount").val('');
    //            $(this).find('.tsamnt').each(function () {
    //                var opnamnt = $(this).text();
    //                var totamnt = opnamnt.replace('Rs ', '');
    //                var tt = totamnt.replace(/,/g, '');
    //                sum += parseFloat(tt);
    //                $('#Opening_Balance').attr("value", sum);
    //            });
    //            $(this).find('.sbaldue').each(function () {
    //                var cntbal = $(this).text();
    //                var baldue = cntbal.replace('Rs ', '');
    //                var tbaldue = baldue.replace(/,/g, '');
    //                sum1 += parseFloat(tbaldue);
    //                $('#Current_Balance').val(sum1);
    //                $('#Current_Balance1').val(sum1);
    //                var bl = $('#Current_Balance').val();
    //                $('#FinalAmount1').val(bl);
    //                $('#FinalAmount').val(bl);
    //            });
    //            $('#Paymentmode').css('display', 'block');
    //            var ttotal;
    //            var initialbal;
    //            $(this).find('.tsamnt').each(function () {
    //                var opnamnt = $(this).text();
    //                var totamnt = opnamnt.replace('Rs ', '');
    //                ttotal = totamnt.replace(/,/g, '');
    //            })
    //            $(this).find('.sbaldue').each(function () {
    //                var cntbal = $(this).text();
    //                var baldue = cntbal.replace('Rs ', '');
    //                initialbal = baldue.replace(/,/g, '');
    //            })
    //            if (ttotal == initialbal || ttotal != 0 && Intlbal != 0) {
    //                var gstplusttamnt = parseFloat(initialbal);
    //                var gstplusfinal = gstplusttamnt + (gstplusttamnt * 18 / 100);
    //                gstsum += gstplusfinal
    //                $('#FinalAmount1').val(gstsum);
    //                $('#FinalAmount').val(gstsum);
    //            }
    //        }
    //        else {
    //            var oid = $("#OrderDetailId").val();
    //            var odid = $(this).find('td:eq(1)').text();
    //            ksid = oid.replace(odid, '');
    //            $("#Discount").val('');
    //            $("#OrderDetailId").val(ksid);
    //            $(this).find('.tsamnt').each(function () {
    //                var opnamnt = $(this).text();
    //                var totamnt = opnamnt.replace('Rs ', '');
    //                var tt = totamnt.replace(/,/g, '');
    //                sum -= parseFloat(tt);
    //                $('#Opening_Balance').attr("value", sum);
    //            });
    //            $(this).find('.sbaldue').each(function () {
    //                var cntbal = $(this).text();
    //                var baldue = cntbal.replace('Rs ', '');
    //                var tbaldue = baldue.replace(/,/g, '');
    //                sum1 -= parseFloat(tbaldue);
    //                $('#Current_Balance').val(sum1);
    //                $('#Current_Balance1').val(sum1);
    //                var bl = $('#Current_Balance').val();
    //                $('#FinalAmount1').val(bl);
    //                $('#FinalAmount').val(bl);
    //            });
    //            var ttotal2;
    //            var initialbal2;
    //            $(this).find('.tsamnt').each(function () {
    //                var opnamnt2 = $(this).text();
    //                var totamnt2 = opnamnt2.replace('Rs ', '');
    //                ttotal2 = totamnt2.replace(/,/g, '');
    //            })
    //            $(this).find('.sbaldue').each(function () {
    //                var cntbal2 = $(this).text();
    //                var baldue2 = cntbal2.replace('Rs ', '');
    //                initialbal2 = baldue2.replace(/,/g, '');
    //            })
    //            if (ttotal2 == initialbal2 || ttotal2 != 0 && Intlbal2 != 0) {
    //                var gstplusttamnt2 = parseFloat(initialbal2);
    //                var gstplusfinal2 = gstplusttamnt2 + (gstplusttamnt2 * 18 / 100);
    //                gstsum5 -= gstplusfinal2;
    //                $('#FinalAmount1').val(gstsum5);
    //                $('#FinalAmount').val(gstsum5);
    //            }
    //            $('#Paymentmode').css('display', 'block');
    //        }
    //    });

    //});*@

    