@using System.Globalization
@{
    ViewBag.Title = ":: Invoice ::";
    Layout = "~/Views/SharedWeb/vendorloginmaster.cshtml";
}

@section css{
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .col-md-10 {
            color: black;
        }
    </style>

}

<main>
    <div id="error_page">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">

                    <div class="card" id="profilepipccontent">
                        @{Html.RenderAction("profilepic", "VDashboard");}
                    </div>
                    @{Html.RenderAction("sidebar", "VDashboard"); }

                </div>
                <input type="hidden" name="GridHtml" />
                <input type="hidden" id="User_Id" name="User_Id" value="@ViewBag.User_Id" />
                <input type="hidden" id="OrderId" name="OrderId" value="@ViewBag.orderid" />
                <input type="hidden" id="paidamount" name="paidamount" value="@ViewBag.paidamount" />
                <input type="hidden" id="OrderDetailId" name="OrderDetailId" value="@ViewBag.orderdetailid" />
                <div class="col-md-10">

                    <div id="print-content">
                        <div class="row">
                            <div class="col-12" style="padding-left:30px">
                                <div class="invoice-title add_top_30">
                                    <div class="table-responsive">
                                        <table style="height: 182px;" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 172px;"><strong>Invoice</strong></td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;"><strong>Order</strong> #  @ViewBag.orderid</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 172px;">
                                                        <strong>Billed To:</strong>
                                                        <p> @ViewBag.vendorname</p>
                                                        <p>@ViewBag.vendoraddress</p>
                                                    </td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;">
                                                        <strong>Shipped To:</strong>
                                                        <p> @ViewBag.username</p>
                                                        <p></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 172px;"><strong>Booked Date:</strong><p>@ViewBag.bookeddate</p></td>
                                                    <td style="width: 173px;">&nbsp;</td>
                                                    <td style="width: 173px;"><strong>Order Date:</strong><p>@ViewBag.orderdate</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="padding-left:30px">
                                <div class="add_top_15">
                                    <h3><strong>Order summary</strong></h3>

                                    <div class="table-responsive">
                                        <table class="table table-condensed" style="width:100%;max-width:100%">
                                            <thead>
                                                <tr>
                                                    <td><strong>Event Type</strong></td>
                                                    <td class="text-center"><strong>Price</strong></td>
                                                    <td class="text-center"><strong>Quantity</strong></td>
                                                    <td class="text-right"><strong>Total Amount</strong></td>
                                                    <td class="text-right"><strong>Due Amount</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.orderdetails)
                                                {
                                                    <tr>
                                                        <td>@item.EventType</td>
                                                        <td class="text-center">Rs @item.PerunitPrice</td>
                                                        <td class="text-center">@item.Quantity</td>
                                                        <td class="text-right">
                                                            Rs  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")
                                                        </td>
                                                        <td class="text-right">
                                                            Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.paidamount)).Replace(".00", "")
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                    <td class="thick-line text-right">
                                                        Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.totalprice)).Replace(".00", "")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>GST</strong></td>
                                                    <td class="no-line text-right">Rs 0</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Total</strong></td>
                                                    <td class="no-line text-right">
                                                        Rs  @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.totalprice)).Replace(".00", "")
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Order Details</strong></h3>

                                                <div class="table-responsive">
                                                    <table class="table table-condensed" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                @*//       <td><strong>Select</strong></td>*@
                                                                <td><strong>Order DetailId</strong></td>
                                                                <td class="text-center"><strong>Event Type</strong></td>
                                                                <td class="text-center"><strong>Price</strong></td>
                                                                <td class="text-center"><strong>Quantity</strong></td>
                                                                <td class="text-right"><strong>Total Amount</strong></td>
                                                                <td class="text-right"><strong>Due Amount</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.orderdetails)
                                                            {
                                                                <tr>
                                                                    @*<td><input type="checkbox" class="chcktbl" value="@item.Due,@item.OrderDetailId" onclick="addamnttotal()" /></td>*@
                                                                    <td> @item.OrderDetailId </td>
                                                                    <td class="text-center">@item.EventType</td>
                                                                    <td class="text-center">Rs @item.PerunitPrice</td>
                                                                    <td class="text-center">@item.Quantity</td>
                                                                    <td class="text-right">
                                                                        Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")
                                                                    </td>

                                                                    <td class="text-right">Rs @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.paidamount)).Replace(".00", "")</td>
                                                                </tr>
                                                                
                                                            }
                                                        </tbody>                           
                                                    </table>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                    @if (ViewBag.payment.Count != 0)
                                    {<div class="row">
                                        <div class="col-lg-12" style="padding-left:30px">
                                            <div class="add_top_15">
                                                <h3><strong>Payment summary</strong></h3>
                                                <div class="table-responsive2">
                                                    <table class="table table-condensed2" style="width:100%;max-width:100%">
                                                        <thead>
                                                            <tr>
                                                                <td><strong>Payment Date</strong></td>
                                                                <td class="text-center"><strong>Payment Id</strong></td>
                                                                <td class="text-center"><strong>Payment Type</strong></td>
                                                                <td class="text-right"><strong>Received Amount</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.payment)
                                                            {
                                                                <tr>
                                                                    <td> @item.Payment_Date.ToString("dd-MMM-yyyy") </td>
                                                                    <td class="text-center">@item.Payment_Id</td>
                                                                    <td class="text-center">@item.Payment_Type</td>
                                                                    <td class="text-right"> Rs @item.Received_Amount</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="Paymentmode" style="display:none;margin-top:50px">
                        <div class="col-lg-12" style="padding-left:30px">
                            <div class="add_top_15">
                                <h3 class="col-md-12"><strong> Payment Mode</strong></h3>
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row payment-options">
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status1">Cash</label>
                                                    <input type="radio" class="chckcash" id="Type1" name="Payment_Type" value="Cash" checked required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Cheque</label>
                                                    <input type="radio" class="chckcheque" id="Type2" name="Payment_Type" value="Cheque" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2"> Credit / Debit Card</label>
                                                    <input type="radio" class="chckcard" id="Type3" name="Payment_Type" value="Credit/DebitCard" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Bank Transfer</label>
                                                    <input type="radio" class="chckbt" id="Type4" name="Payment_Type" value="Bank Transfer" required />
                                                </fieldset>
                                                <fieldset class="form-check" style="display:inline">
                                                    <label class="form-check-label" for="Status2">Wallet</label>
                                                    <input type="radio" class="chckwallet" id="Type5" name="Payment_Type" value="Wallet" required />
                                                </fieldset>
                                            </div>
                                            <br />
                                            <div class="row Cashdetails" id="cashdetails">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Cash_Date" name="Cash_Date" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Cashier Name:</label>
                                                        <input type="text" class="form-control" id="Cash_Card_Holdername" name="Cash_Card_Holdername" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Chequedetails" id="chequedetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Cheque_Date" name="Cheque_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Bank name</label>
                                                        <input type="text" class="form-control" id="Cheque_Bankname" name="Cheque_Bankname" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Cheque No</label>
                                                        <input type="text" class="form-control" id="Cheque_Number" name="Cheque_Number" style="padding: 5px;">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row credit/debitcarddetails" id="carddetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="creditORdebitcard_date" name="creditORdebitcard_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Card Holder Name</label>
                                                        <input type="text" class="form-control" id="Card_Holder_Name" name="Card_Holder_Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Last 4 digits</label>
                                                        <input type="text" class="form-control" id="Card_Last4digits" name="Card_Last4digits" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Bankdetails" id="bankdetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Bank_Transfer_date" name="Bank_Transfer_date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Account Holder Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_Name" name="Bank_Transfer_Name" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Transaction Id</label>
                                                        <input type="text" class="form-control" id="Bank_Transaction_ID" name="Bank_Transaction_ID" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Bank Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_IFSCcode" name="Bank_Transfer_IFSCcode" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Branch Name</label>
                                                        <input type="text" class="form-control" id="Bank_Transfer_Branchname" name="Bank_Transfer_Branchname" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Walletdetails" id="walletdetails" style="display:none;">
                                                <div class="col-md-4">
                                                    <div class="form-group" style="margin-bottom:0;">
                                                        <label>Date:</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"></div>
                                                        <input class="form-control datepicker" id="Wallet_Date" name="Wallet_Date" placeholder="DD/MM/YYYY" type="text" style="padding: 5px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Mobile Number</label>
                                                        <input type="text" class="form-control" id="Wallet_Number" name="Wallet_Number" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @*<div class="row">
                        <div class="col-md-5" style="padding: 14px;">Invoiced Amount</div>
                        <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Invoiced_Amount" name="Invoiced_Amount" value="" style="padding: 5px;" readonly>
                            </div>
                        </div>
                    </div>*@
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Total Amount</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control open_balance" id="Opening_Balance" name="Opening_Balance" value="@ViewBag.totalprice" style="padding: 5px;" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Balance Due</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Current_Balance" name="Current_Balance" style="padding: 5px;" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" style="padding: 14px;">Received Amount</div>
                                                <div class="col-md-7" style="padding:1px;margin-left: -19px;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Received_Amount" name="Received_Amount" style="padding: 5px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-left:30px">
                                        <div class="col-md-6  remarks margin-top" style="padding:5px">
                                            <label>Remarks</label>
                                            <textarea class="form-control" rows="3" id="Remarks" name="Remarks"></textarea>
                                        </div>
                                    </div>
                                    <br />
                                    <div align="center">
                                        <div style="position: absolute; left: 485px;">
                                        <button id="SavePayment" type="button" name="command" value="Save" class="btn btn-success" style="display:block">Save Payment</button>
                                    </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div align="right">
                        <a href="/VDashboard?c=orders" class="btn btn-danger">Go Back</a>
                        @*<button type="button" class="btn btn-primary"><i class="icon-download"></i>Save</button>*@
                        <button type="button" onclick="email(@ViewBag.orderid)" class="btn btn-primary"><i class="icon-direction-1"></i>Email</button>
                        @*<button type="button" class="btn btn-primary" onclick="window.location.href='/Payments?Oid=' + @ViewBag.orderid">Receive Payment Now</button>*@
                        <button type="button" class="btn btn-primary" id="btnrcvpmnt">Receive Payment</button>
                        <button name="btnprint" onclick="printDiv('print-content')" class="btn btn-primary"><i class="icon-print"></i>Print</button>
                        <button name="btnsaveas" id="savepdf" class="btn btn-primary"><i class="icon-download"></i>Save as PDF</button>
                    </div>
                </div>
                
                
            </div>
            <!-- /container -->
        </div>
        
    </div>
    <!-- /error_page -->
</main>
<script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>

<script>
    //(function () {
    //    var
    //        form = $('#print-content'),
    //        cache_width = form.width(),
    //        a4 = [595.28, 841.89]; // for a4 size paper width and height

    //    $('#savepdf').on('click', function () {
    //        $('body').scrollTop(0);
    //        createPDF();
    //    });
    //    //create pdf
    //    function createPDF() {
    //        getCanvas().then(function (canvas) {
    //            var
    //                img = canvas.toDataURL("image/png"),
    //                doc = new jsPDF({
    //                    unit: 'px',
    //                    format: 'a4'
    //                });
    //            doc.addImage(img, 'JPEG', 20, 20);
    //            doc.save('bhavdip-html-to-pdf.pdf');
    //            form.width(cache_width);
    //        });
    //    }

    //    // create canvas object
    //    function getCanvas() {
    //        form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
    //        return html2canvas(form, {
    //            imageTimeout: 2000,
    //            removeContainer: true
    //        });
    //    }

    //}());
</script>
<script>
    /*
 * jQuery helper plugin for examples and tests
 */
    (function ($) {
        $.fn.html2canvas = function (options) {
            var date = new Date(),$message = null,timeoutTimer = false,timer = date.getTime();
            html2canvas.logging = options && options.logging;
            html2canvas.Preload(this[0], $.extend({
                complete: function (images) {
                    var queue = html2canvas.Parse(this[0], images, options),
                    $canvas = $(html2canvas.Renderer(queue, options)),
                    finishTime = new Date();
                    $canvas.css({ position: 'absolute', left: 0, top: 0 }).appendTo(document.body);
                    $canvas.siblings().toggle();

                    $(window).click(function () {
                        if (!$canvas.is(':visible')) {
                            $canvas.toggle().siblings().toggle();
                            throwMessage("Canvas Render visible");
                        } else {
                            $canvas.siblings().toggle();
                            $canvas.toggle();
                            throwMessage("Canvas Render hidden");
                        }
                    });
                    throwMessage('Screenshot created in ' + ((finishTime.getTime() - timer) / 1000) + " seconds<br />", 4000);
                }
            }, options));

            function throwMessage(msg, duration) {
                window.clearTimeout(timeoutTimer);
                timeoutTimer = window.setTimeout(function () {
                    $message.fadeOut(function () {
                        $message.remove();
                    });
                }, duration || 2000);
                if ($message)
                    $message.remove();
                $message = $('<div ></div>').html(msg).css({
                    margin: 0,
                    padding: 10,
                    background: "#000",
                    opacity: 0.7,
                    position: "fixed",
                    top: 10,
                    right: 10,
                    fontFamily: 'Tahoma',
                    color: '#fff',
                    fontSize: 12,
                    borderRadius: 12,
                    width: 'auto',
                    height: 'auto',
                    textAlign: 'center',
                    textDecoration: 'none'
                }).hide().fadeIn().appendTo('body');
            }
        };
    })(jQuery);

</script>



<script>
    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
    $('#savepdf').click(function () {
        debugger;
        // $("input[name='GridHtml']").val($("#print-content").html());
        //var pdfhtml = $("input[name='GridHtml']").val();
        var pdfhtml = document.getElementById("print-content").outerHTML;// $("#print-content").html();
        // var pdfhtml = $(this).attr("GridHtml");
        var oid = '@Request.QueryString["oid"]';
        //alert(pdfhtml);
        $.ajax({
            url: '/vinvoice/pdfdownload',//?pdfhtml=' + pdfhtml + "&&oid=" + oid,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: {},
            data: JSON.stringify({ pdfhtml: pdfhtml, oid: oid }),
            success: function (result) {
                if (result == "success") {
                    alert("pdf downloaded sucess fully");
                }
                else {
                    alert("Error Occurred in downloading pdf");
                }



            }
        })
        //doc.fromHTML($('#print-content').html(), 15, 15, {
        //    'width': 170,
        //    'elementHandlers': specialElementHandlers
        //});
        //doc.save('sample-file.pdf');
    });
    //var doc = new jsPDF();
    //var specialElementHandlers = {
    //    '#editor': function (element, renderer) {
    //        return true;
    //    }
    //};

    //$('#savepdf').click(function () {
    //    doc.fromHTML($('#print-content').html(), 15, 15, {
    //        'width': 170,
    //        'elementHandlers': specialElementHandlers
    //    });
    //    doc.save('sample-file.pdf');
    //});
    @*function printDiv(divName) {
        var div = $('#print-content').html();
        var oid = @Request.QueryString["oid"]
        $.ajax({
                url: '/vinvoice/pdfsave?div=' + div +"&&oid="+oid,
            type: 'POST',
            contentType: 'application/json',

            success: function (result) {
                if (result == "success") {
                    alert("Email sent Successfully");
                } else {
                    alert("Error Occurred in sending email");
                }



            }
        })

    }*@


    // This code is collected but useful, click below to jsfiddle link.

    function email(val) {
        $.ajax({
            url: '/vinvoice/Email?oid=' + val,
            type: 'POST',
            contentType: 'application/json',

            success: function (result) {
                if (result == "success") {
                    alert("Email sent Successfully");
                }
                else {
                    alert("Error Occurred in sending email");
                }
            }
        })
    };
    $(document).ready(function () {
        var now = new Date();
        var openamnt = $('#paidamount').val();
        $('#Current_Balance').val(openamnt);

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        //var today = now.getFullYear() + "-" + (month) + "-" + (day);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('.datepicker').val(today);


        $('input:radio[name="Payment_Type"]').change(function () {
            if ($(this).val() == "Cash") {
                $('#cashdetails').show();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Cheque") {
                $('#cashdetails').hide();
                $('#chequedetails').show();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Credit/DebitCard") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').show();
                $('#bankdetails').hide();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Bank Transfer") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').show();
                $('#walletdetails').hide();
            }
            else if ($(this).val() == "Wallet") {
                $('#cashdetails').hide();
                $('#chequedetails').hide();
                $('#carddetails').hide();
                $('#bankdetails').hide();
                $('#walletdetails').show();
            }
        });
    });
    $("#btnrcvpmnt").on('click',function () {
        $('#Paymentmode').css('display', 'block');
        $('#btnrcvpmnt').css('display', 'none');

    });

    $('#Received_Amount').keyup(function () {
        var invamnt = $("#invoiced_amount").val();
        var openamnt = $('#paidamount').val();
        var rcvamnt = $('#Received_Amount').val();
        //if (rcvamnt > openamnt) { alert("Enter valid amount"); }
        //else
        if (rcvamnt == null || rcvamnt == "") {
            alert("Enter Some Amount");
            $('#Current_Balance').val(openamnt);


        }
        else if (parseFloat(rcvamnt) > parseFloat(invamnt)) {
            aelrt("Enter less than or Equal Of Invoiced Amount...");
            $('#Received_amount').val("");
        }
        else {
            var result = parseFloat(openamnt) - parseFloat(rcvamnt);
            $('#Current_Balance').val(result);
        }

    });
    $("#SavePayment").click(function () {
        //var paymenttype = $('#Payment_Type').val();
        //var orderid =@Request.QueryString["Oid"];

        var payments = {
            OrderId: $("#OrderId").val(),
            User_Id: $("#User_Id").val(),
            OrderDetailId: $("#OrderDetailId").val(),
            Payment_Type: $("input[name='Payment_Type']:checked").val(),
            Cash_Date: $("#Cash_Date").val(),
            Cash_Card_Holdername: $("#Cash_Card_Holdername").val(),
            Cheque_Date: $("#Cheque_Date").val(),
            Cheque_Bankname: $("#Cheque_Bankname").val(),
            Cheque_Number: $("#Cheque_Number").val(),
            creditORdebitcard_date: $("creditORdebitcard_date").val(),
            Card_Holder_Name: $("#Card_Holder_Name").val(),
            Card_Last4digits: $("#Card_Last4digits").val(),
            Bank_Transfer_date: $("#Bank_Transfer_date").val(),
            Bank_Transaction_ID: $("#Bank_Transaction_ID").val(),
            Bank_Transfer_Name: $("#Bank_Transfer_Name").val(),
            Bank_Transfer_IFSCcode: $("#Bank_Transfer_IFSCcode").val(),
            Bank_Transfer_Branchname: $("#Bank_Transfer_Branchname").val(),
            Wallet_Date: $("#Wallet_Date").val(),
            Wallet_Number: $("#Wallet_Number").val(),
            Received_Amount: $("#Received_Amount").val(),
            Current_Balance: $('#Current_Balance').val(),
            Opening_Balance: $('#Opening_Balance').val(),
            Remarks: $("#Remarks").val()

        }
        $.ajax({
            url: '/vinvoice/Index',
            type: 'Post',
            contentType: 'application/json',
            data: JSON.stringify({ payments: payments }),
            success: function (data) {
                alert(data);
                location.reload();

                //window.location.href = "/VDashboard?c=orders";
                // window.location.href = "@Url.Action("Index", "Payments")";
            },
            error: function (data) {
                alert("failed");
            }
        });

    });

    //function  addamnttotal()
    //{
    //    $('#Paymentmode').css('display', 'block');
    //    var sum = 0;

    //    var poid1 = $("input:checkbox:checked").map(function () { return this.value.split(',')[0]; }).toArray();
    //    var poid12 = $("input:checkbox:checked").map(function () { return this.value.split(',')[1]; }).toArray()
    //    alert(poid1); alert(poid12);
    //    var lent = poid1.length;
    //    for(var i=0;i < lent; i++)
    //    {
    //        sum = sum + parseFloat(poid1[i]);
    //        alert(sum);
    //    }
    //}
</script>
