<div class="uk-section uk-section-large uk-section-muted">
    <div class="uk-container">
        <h3 class="uk-h3">BILLING DETAILS</h3>

        <hr>
        <p class="text-center">Enter coupon code and avail discount</p>
        <div class="uk-form-stacked">
            <input class="uk-input_cart" id="form-stacked-text" type="text" placeholder="Couponcode">
            <a href="#0" class="btn_3 add_top_30">APPLY</a>
        </div>
        <hr>
        <div>
            <div class="uk-margin">
               

                <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="uk-h1">TOTAL AMOUNT</a></label>
                                <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 20px;">@ViewBag.tamount</a></label><br><br>
                <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="uk-h1">DISCOUNT</a></label>
                <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 20px;">@ViewBag.discount</a></label><br><br>
                <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="uk-h1">SERVICE CHARGE</a></label>
                <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 20px;">@ViewBag.service</a></label><br><br>
                <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="uk-h1">GST</a></label>
                <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 20px;">@ViewBag.Gst</a></label><br><br>
                <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="uk-h1">NET AMOUNT</a></label>
                <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 20px;">@ViewBag.netamount</a></label><br><br>



                <hr>
                <center>
                    <button type="submit" value="email" name="command" onclick="email()" class="btn_1 add_top_30" > Get Assistance&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>

                <button type="submit" value="email" name="command" class="btn_1 add_top_30" disabled>Proceed to Payment&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>
                
                </center><br>
                <div class="uk-form-controls">
                    <center>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut.
                        </p>
                    </center>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</div>