
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
        <meta name="author" content="Ansonika">*@
    <title>@ViewBag.Title</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">
    @*<img src="~/newdesignstyles/images/favicon.ico" />*@
    @*<link rel="apple-touch-icon" type="image/x-icon" href="~/newdesignstyles/images/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/newdesignstyles/images/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/newdesignstyles/images/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/newdesignstyles/images/apple-touch-icon-144x144-precomposed.png">*@

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">

    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">

    <!-- SPECIFIC CSS -->
    <link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">
    
    @RenderSection("css", false)
    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom.css" rel="stylesheet">
    
</head>

<body>

    <div id="page" class="theia-exception">

        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                    @*<img src="~/newdesignstyles/img/logo-sticky.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">*@
                </a>
            </div>
            @*<ul id="top_menu">
                    <li><a href="#" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
                    <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
                    <li><a href="#" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
                </ul>*@
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                @{Html.RenderAction("ItemsCartViewBindingLayout", "Home");}
                @*<ul>
                    <li>
                        @using MaaAahwanam.Web.Custom
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            var user = (CustomPrincipal)HttpContext.Current.User;
                            if (user.UserType == "Admin")
                            {
                                Response.Redirect("/Admin/Login");
                            }
                            if (user.UserType == "Vendor")
                            {
                                Response.Redirect("/NUserRegistration/changeid?id=" + user.UserId + "");
                            }
                            if (user.UserType == "User")
                            {
                                <span><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">@ViewBag.username</a></span>


                            }
                        }
                        else
                        {
                            <span><a href="#sign-in-dialog" id="sign-in" style="color:black" class="login" title="Sign In">Login/Register</a></span>
                        }
                    </li>

                    </ul>*@
                @*<ul>
                    <li>
                        <a href="#0" class="btn_5 add_top_30">Call: +91 7032199007</a>

                    </li>

                    <li><span><img src="http://design.maa-aahwanam.com/panagea/india.png" /></span>
                </ul>
            </nav>

        </header>
        <!-- /header -->
        <main>
            <div class="container margin_60_35">
                <form method="post">
                    <div class="row no-gutters custom-search-input-2">

                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Location" id="loc" name="loc">
                                <img src="http://design.maa-aahwanam.com/panagea/images/icons/location.png">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            @*<input class="form-control" type="text" placeholder="What type of event" value="" required="" autocomplete="off">*@
                            @*<select required id="selectevent" name="selectevent" onchange="showfield(this.options[this.selectedIndex].value)">
                                    <option value="" disabled>Select Event</option>
                                    <option value="Wedding">Wedding</option>
                                    <option value="Party">Party</option>
                                    <option value="Corporate">Corporate</option>
                                    <option value="Baby Function">Baby Function</option>
                                    <option value="Birthday">Birthday</option>
                                    <option value="Engagement">Engagement</option>
                                    <option value="Other">Other</option>
                                </select>*@
                            <div class="nice-select" tabindex="0" style="background-color:white">
                                <span class="current" style="padding-left:20px">Select Event</span>
                                <ul class="list">
                                    <li data-value="" class="option disabled">Select Event</li>
                                    <li data-value="Wedding" class="option selected">Wedding</li>
                                    <li data-value="Party" class="option">Party</li>
                                    <li data-value="Corporate" class="option">Corporate</li>
                                    <li data-value="Baby Function" class="option">Baby Function</li>
                                    <li data-value="Birthday" class="option">Birthday</li>
                                    <li data-value="Engagement" class="option">Engagement</li>
                                    <li data-value="Other" class="option">Other &emsp;<input type="text" id="other"></li>
                                </ul>
                            </div>
                            @*<div id="div1"></div>*@
                            <img src="http://design.maa-aahwanam.com/panagea/images/icons/checklist.png">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="form-control" type="number" id="guests" name="guests" placeholder="Guests">
                                <img src="http://design.maa-aahwanam.com/panagea/images/icons/family.png">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="form-control" id="datetimepicker1" type="text" name="datetimepicker1" placeholder="Date?" required>
                                <img src="http://design.maa-aahwanam.com/panagea/images/icons/calendar.png">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" id="btnsearch" class="btn_search" value="Search">
                        </div>

                    </div>
                </form>
            </div>
            <div>
                @RenderBody()
            </div>
        </main>
    </div>


    <!--/footer-->
    <!-- page -->
    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide ">
        <div class="small-dialog-header">
            <h3>Sign In / Register</h3>
        </div>
        <form>
            <div class="sign-in-wrapper">
                @*<a href="#0" class="social_bt facebook">Login with Facebook</a>
                    <a href="#0" class="social_bt google">Login with Google</a>
                    <div class="divider"><span>Or</span></div>*@
                <div class="authenticationBlocks">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email ID" name="UserName" id="UserName" required />

                        @*<input type="email" class="form-control" name="email" id="email">*@
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="Password" class="form-control" placeholder="Password" name="Password1" id="Password1" required />

                        @*<input type="password" class="form-control" name="password" id="password" value="">*@
                        <i class="icon_lock_alt"></i>
                    </div>
                    @*<div class="clearfix add_bottom_15">
                           <div class="checkboxes float-left">
                                <label class="container_check">
                                    Remember me
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                        </div>*@
                    <div class="text-center"><input type="submit" value="login" onclick="login(this.value)" class="btn_1 full-width" name="command"></div>

                    <div class="text-center">
                        Don’t have an account? <a id="signup" class="registerBtn" href="javascript:void(0);">Sign up</a>
                    </div>
                </div>
                @*<div class="float-right mt-1 registerBtn"><a id="signup" href="javascript:void(0);">Sign up</a></div>*@
                <div id="forgot_pw" class="forgotks">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                    <div class="float-right mt-1"><a id="forgot" class="loginBtn" href="javascript:void(0);">Login</a></div>

                </div>
                <div id="signup" class="register">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Name" id="txtname" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="Password" minlength="5" id="Password" required>
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email" id="txtemail" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        @*<input type="password" class="form-control" name="password" id="password" value="">*@
                        <input type="tel" pattern="^\d{10}$" class="form-control" placeholder="Mobile Number(format: xxxxxxxxxx)" id="txtphone" required>
                        <i class="icon_lock_alt"></i>
                    </div>

                    <p>You will receive an email containing a link allowing you to activate</p>
                    <div class="float-right mt-1"><a id="signin" class="loginBtn" href="javascript:void(0);">Login</a></div>

                    <div class="text-center"><input type="submit" value="Register" onclick="savecustomer(this.value)" class="btn_1"></div>

                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Popup -->

    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    @*<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>
    <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
    <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
    <!-- Map -->
    @*<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB6Vck_vRXDPR8ILH8ZLOeGSEz_n4YR0mU"></script>
        <script src="~/newdesignstyles/Scripts/map_tours.js"></script>
        <script src="~/newdesignstyles/Scripts/infobox.js"></script>*@

    <!-- Masonry Filtering -->
    <script src="~/newdesignstyles/Scripts/isotope.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        $(window).load(function () {
            var $container = $('.isotope-wrapper');
            $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
        });

        $('.filters_listing').on('click', 'input', 'change', function () {
            var selector = $(this).attr('data-filter');
            $('.isotope-wrapper').isotope({ filter: selector });
        });
    </script>

    <!-- Range Slider -->
    @*<script>
             $("#range").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 30,
                max: 180,
                from: 0,
                to: 500,
                type: 'double',
                step: 1,
                prefix: "Min. ",
                grid: false
            });
        </script>*@

    <script>
        $(document).ready(function () {
            var guests = window.localStorage.getItem("guests");
            var location = window.localStorage.getItem("location");
            var eventtype = window.localStorage.getItem("eventtype");
            var date = window.localStorage.getItem("eventdate");
            if (eventtype != '')
                $("span.current").text(eventtype);
            else
                $("span.current").text('Select Event');
            $('#loc').val(location);
            $('#guests').val(guests);
            $('#datetimepicker1').val(date);
        });
        $('#datetimepicker1,#datepicker2').daterangepicker({
            singleDatePicker: true,
            minDate: new Date(),
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
        $('#btnsearch').click(function () {
            var location = $('#loc').val();
            var eventtype = $('.current').text();//$('#selectevent').val();
            var guests = $('#guests').val();
            var date = $('#datetimepicker1').val();
            window.localStorage.setItem("guests", guests);
            window.localStorage.setItem("location", location);
            window.localStorage.setItem("eventtype", eventtype);
            window.localStorage.setItem("eventdate", date);
            if (location == '') {
                alert('Enter Location');
                $('#loc').focus();
            }
            else if (eventtype == '' || eventtype == null || eventtype == 'Select Event') {
                alert('Select Event Type');
            }
            else if (guests == '') {
                alert('Enter Guests');
                $('#guests').focus();
            }
            else if (date == '') {
                alert('Select date');
                $('#datetimepicker1').focus();
            }
            else {
                window.location.href = '/results/Index?loc=' + location + '&&eventtype=' + eventtype + '&&count=' + guests + '&&date=' + date;
            }
        });
    </script>


    <!-- COLOR SWITCHER  -->
    @*<script src="http://design.maa-aahwanam.com/panagea/js/switcher.js"></script>
        <div id="style-switcher">
            <h6>Color Switcher <a href="#"><i class="ti-settings"></i></a></h6>
            <div>
                <ul class="colors" id="color1">
                    <li><a href="#" class="default" title="Default"></a></li>
                    <li><a href="#" class="aqua" title="Aqua"></a></li>
                    <li><a href="#" class="green_switcher" title="Green"></a></li>
                    <li><a href="#" class="orange" title="Orange"></a></li>
                    <li><a href="#" class="blue" title="Blue"></a></li>
                </ul>
            </div>
        </div>*@
    <!--Start of Tawk.to Script-->
    <script>
        var regClick = $(".registerBtn"), loginClick = $(".loginBtn"), forgotClick = $(".forgotPasswordBtn"),
          loginBlock = $(".login"), regBlock = $(".register"), forgotBlock = $(".forgotPassword");
        $(regClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(regBlock).css("display", "block");
        });
        $(loginClick).click(function () {
            $(".forgotks").css("display", "none");
            $(".register").css("display", "none");

            $(".authenticationBlocks > div").css("display", "block");

        });

        $(forgotClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(forgotBlock).css("display", "block");
        });
        $(document).ready(function () {
            $(regBlock).css("display", "none");

        });
        function savecustomer(clickedvalue) {
            var CustomerPhoneNumber = $("#txtphone").val();
            var CustomerName = $("#txtname").val();
            var Password = $("#Password").val();
            var Email = $("#txtemail").val();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var passwordpattern = /^[a-z0-9]+$/i;
            var emailaddressVal = $("#txtemail").val();
            if (CustomerPhoneNumber == '') {
                alert("Please Enter PhoneNumber");
                $("#txtphone").focus();
            }
            else if (!phonepattern.test(CustomerPhoneNumber)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }
            else if (CustomerName == '') {
                alert("Please Enter Name");
                $("#txtname").focus();
            }
            else if (!passwordpattern.test(CustomerName)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }
            else if (CustomerName.length < 5) {
                alert("Name must be 5 characters");
                $("#txtname").focus();
            }
            else if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }
            else if (Password.length < 5) {
                alert("Password length must be 5 characters");
                $("#txtpassword").focus();
                $("#txtpassword").alphanum();
            }
            else if (!passwordpattern.test(Password)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }
            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#txtemail").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#txtemail").focus();
            }

            else {
                if (clickedvalue == 'Register') {
                    $.ajax({
                        url: '/Home/register', type: 'POST',
                        data: JSON.stringify({ CustomerPhoneNumber: CustomerPhoneNumber, CustomerName: CustomerName, Password: Password, Email: Email }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                alert("Check your email to active your account to login");
                                window.location.reload();

                            }
                            if (data == "unique") {
                                alert("E-Mail ID Already Registered!!! Try Logging with your Password");
                                window.location.reload();

                            }
                            else if (data == "unique1") {
                                alert("Registration fails");

                            }
                            else if (data == "Failed") {

                                alert("Registration Failed");
                                window.location.reload();
                            }
                            else {
                                alert("Registration Failed");
                                // $("#txtphone").val('');
                                $("#txtname").val('');
                                $("#txtpassword").val('');
                                $("#txtdeladdress").val('');
                                $("#txtemail").val('');
                                // window.location.reload();
                                $("#otpopup").css("display", "block");
                                $("#txtotp").focus();
                            }
                        },
                        error: function (data) {
                            alert("error");
                        }
                    });
                }
            }
        }
        function login(clickedvalue) {
            var Password = $("#Password1").val();
            var Email = $("#UserName").val();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var passwordpattern = /^[a-z0-9]+$/i;
            var emailaddressVal = $("#UserName").val();
            if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }

            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#txtemail").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#txtemail").focus();
            }

            else {
                if (clickedvalue == 'login') {
                    $.ajax({
                        url: '/Home/login',
                        type: 'POST',
                        data: JSON.stringify({ Password: Password, Email: Email }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                alert("Login Sucessfull");
                                window.location.reload();
                            }
                            if (data == "unique") {
                                alert("vendorlogin successfull");
                                //vendorlogin
                            }
                            else if (data == "Failed") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                        },
                        error: function (data) {
                            alert("error");
                        }
                    });
                }
            }
        }
    </script>
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b7e7e93afc2c34e96e7d2fe/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>