@model Tuple<MaaAahwanam.Models.Vendormaster, MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail, MaaAahwanam.Models.VendorVenue>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>:: Vendor Sign Up 1 ::</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <style>
        .hideShowPassword-toggle {
    background-image: url('../../newdesign/images/wink.svg');
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
  }
  .hideShowPassword-toggle-hide {
    background-position: -44px center;
  }
  /*
   * Because our input elements have a z-index so that
   * their borders will overlap on focus, we'll give ours
   * a higher one to make sure they're always visible.
   */
  .hideShowPassword-toggle,
  .my-toggle-class {
    z-index: 3;
  }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 logo">
                <a href="/HomePage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-4 header-simple-phone">
                <p>Customer Service</p>
                <span class="red"><i class="fa fa-phone" aria-hidden="true"></i> 1800 180 180</span>
            </div>
        </div>
    </div>
    <div class="container border-default">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <h4>Create a Free Ahwanam account</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 header-banner">
                <img src="~/newdesign/images/banner.jpg" alt="Banner Image">
            </div>
        </div>
        <div class="row progress-area text-center">
            <div class="progress-ui">
                <div class="complete"><span>1</span></div>
                <div><span>2</span></div>
                <div><span>3</span></div>
                <div><span>4</span></div>
            </div>
            <div class="progress-content">
                <div>General Information</div>
                <div>Photo Gallery</div>
                <div>Frequently Asked Questions</div>
                <div>Promotions</div>
            </div>
        </div>
        <form method="post">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Log In Information</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => this.Model.Item2.UserName, new { @class = "form-control1", placeholder = "Email ID *" ,Required="Required", @onchange = "check()" })  
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                            @*<input type="password" class="form-control1" placeholder="Password *">*@
                            @Html.PasswordFor(model => this.Model.Item2.Password, new { @class = "form-control1", placeholder = "Password *", Required = "Required" })
                            @*<input type="password" class="form-control1" id="password-1" placeholder="Password">*@
                        </div>
                        @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                            <input type="password" class="form-control1" placeholder="Confirm Password *">
                        </div>*@
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Contact information</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Contact Person *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.ContactPerson, new { @class = "form-control1", placeholder = "Contact Person *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Email *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.EmailId, new { @class = "form-control1", placeholder = "Email ID *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Telephone">*@
                            @Html.TextBoxFor(model => this.Model.Item1.LandlineNumber, new { @class = "form-control1", placeholder = "Telephone *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Mobile Number">*@
                            @Html.TextBoxFor(model => this.Model.Item1.ContactNumber, new { @class = "form-control1", placeholder = "Mobile Number" })
                        </div>
                        @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Fax">
                        </div>*@
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Website">*@
                            @Html.TextBoxFor(model => this.Model.Item1.Url, new { @class = "form-control1", placeholder = "Website" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>Enquiries from couples interested in your services and updates from Ahwanam will be sent to this email address.</small></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Business Information</h4>
                    </div>
                </div>
                @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                    <select class="form-control" id="sel1" multiple size="5">
                        <option>Venues</option>
                        <option>Decoration</option>
                        <option>Catering</option>
                        <option>Photography</option>
                        <option>Entertainments</option>
                        <option>Beauty Services</option>
                    </select>
                </div>*@
                <div class="row margin-top margin-bottom">@Html.HiddenFor(model=>model.Item3.Address)
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            @*@Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required" })*@
                            @*@Html.DropDownListFor(Model => Model.Item3.Country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })*@
                            <select class="form-control" id="sel1" multiple size="5">
                                <option>Venues</option>
                                <option>Decoration</option>
                                <option>Catering</option>
                                <option>Photography</option>
                                <option>Entertainments</option>
                                <option>Beauty Services</option>
                            </select>
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            @*<input type="text" class="form-control" placeholder="City/Town *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            @*<input type="text" class="form-control" placeholder="City/Town *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.City, new { @class = "form-control", placeholder = "City/Town *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            @*<input type="text" class="form-control" placeholder="Postal Code *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.ZipCode, new { @class = "form-control", placeholder = "Zip Code *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            @*<input type="text" class="form-control" placeholder="Address *">*@
                            @Html.TextBoxFor(model => this.Model.Item1.Address, new { @class = "form-control", placeholder = "Address *", Required = "Required" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
                <div class="clear-both"></div>
                <div class="row padding-top-10 margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                            @*<input type="text" class="form-control1" placeholder="Name of your Business">*@
                            @Html.TextBoxFor(model => this.Model.Item1.BusinessName, new { @class = "form-control1", placeholder = "Name of your Business *", Required = "Required" })
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <label>Describe your business and services offered (in third person)</label>
                            @*<textarea class="form-control" rows="10"></textarea>*@
                            @Html.TextAreaFor(model => this.Model.Item1.Description, new { @class = "form-control", rows = "10" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>Add a detailed description of all the services and products that your company offers. This information will be useful to couples.</small></p>
                        <p class="grey">
                            <small>
                                Our team will edit your text to ensure quality and search engine optimization. Please don't add contact information such as email, phone number, website, address, etc.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Your Business Category</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom" id="businesscategory">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Venues">
                        <h4>Venues</h4> <input type="hidden" name="Item4.VenueType" id="Item1_VenueType" />
                        <div class="checkbox">
                            <label><input type="checkbox">Convention Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Function Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Banquet Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Meeting Room</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Open Lawn</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Roof Top</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Hotel</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Resort</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Catering">
                        <h4>Catering</h4>
                        <div class="checkbox">
                            <label><input type="checkbox">Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Chinese</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Mexican</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">South Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Continental</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Multi Cuisine</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Chaat</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Fast Food</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Othersl</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="grey"><small>By clicking "Next" you are agreeing to our legal terms.</small></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @*<a href="/VendorSignUp2" class="btn btn-default red-bg white">Next</a>*@
                    <input type="submit" value="Next" class="btn btn-default red-bg white margin-left"/>
                    <a href="/HomePage" class="btn btn-default red-bg white margin-left">cancel</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
    <script src="~/newdesign/js/hideShowPassword.min.js"></script>
    <script>
        /*------- Toggle Password Hide / Show -------------*/
        $(window).ready(function () {
            $('#Item2_Password').hideShowPassword({
                innerToggle: true,
            });
        });
        /*------- Toggle Password Hide / Show -------------*/

        /*------- Check Box value -------------*/
        $(".checkbox input[type='checkbox']").change(function () {
            var arr = [], i = 0;
            $(".checkbox input[type='checkbox']:checked").each(function () {
                arr[i++] = $(this).parent("label").text();
            });
           // alert(arr);
            $('#Item1_VenueType').val(arr);
            //console.log(arr);
        });
        /*------- Check Box value -------------*/
        $('#Item2_UserName').on('input', function () {
            $('#Item1_EmailId').val(this.value);
        });
        $('#Item1_EmailId').on('input', function () {
            $('#Item2_UserName').val(this.value);
        });
        /*------- Select Business Category -------------*/
        var listval, idval;
        $("#sel1").on('change', function () {
            listval = $(this).val();
            alert(listval);
            $("#businesscategory > div").each(function () {
                //var v = listval.split(",");
                //alert(v);
                idval = $(this).attr("id");
                //alert(idval);
                if (listval == idval) {
                    //alert("YES");
                    $(this).css("display", "block");
                }
            });
        });
        /*------- Select Business Category -------------*/
    </script>
    @*E-Mail ID check*@
    <script>
        function ValidateEmail(email) {
            var expr = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
            return expr.test(email);
        };
        function check() {
            var emailId = $("#Item2_UserName").val();
            if (!ValidateEmail(emailId)) {
                alert("Invalid email address.");
            }
            else {
                $.ajax({
                    url: '/VendorSignUp1/checkemail',
                    type: 'POST',
                    data: JSON.stringify({ emailid: emailId }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "exists") {
                            alert("E-Mail ID Already Taken!!! Try Another");
                            $("#Item2_UserName").val("");
                            $("#Item1_EmailId").val("");
                            $("#Item2_UserName").focus();
                        }
                    },
                    error: function (data)
                    { alert("Server is Not Responding at the Moment"); }
                });
            }

        }
    </script>
</body>
</html>
