@model Tuple<MaaAahwanam.Models.Vendormaster, MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail, MaaAahwanam.Models.VendorVenue>
@{
    ViewBag.Title = ":: Update Info ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}


<style>
          .hideShowPassword-toggle {
      background-image: url('../../newdesign/images/wink.svg');
      background-position: 0 center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 100%;
      overflow: hidden;
      text-indent: -9999em;
      width: 44px;
    }
    .hideShowPassword-toggle-hide {
      background-position: -44px center;
    }
    /*
     * Because our input elements have a z-index so that
     * their borders will overlap on focus, we'll give ours
     * a higher one to make sure they're always visible.
     */
    .hideShowPassword-toggle,
    .my-toggle-class {
      z-index: 3;
    }
</style>

<div class="container border-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
            <h4>Create a Free Ahwanam account</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 header-banner">
            <img src="~/newdesign/images/banner.jpg" alt="Banner Image">
        </div>
    </div>
    <div class="row progress-area text-center">
        <div class="progress-ui">
            <div class="complete"><span>1</span></div>
            <div><span>2</span></div>
            <div><span>3</span></div>
            <div><span>4</span></div>
        </div>
        <div class="progress-content">
            <div>General Information</div>
            <div>Photo Gallery</div>
            <div>Frequently Asked Questions</div>
            <div>Promotions</div>
        </div>
    </div>
    <form method="post">
        <div class="block">
            @*<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Log In Information</h4>
                    </div>
                </div>*@

        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-user" aria-hidden="true"></i> Contact information</h4>
                </div>
            </div>
            <div class="row margin-top margin-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Contact Person *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.ContactPerson, new { @class = "form-control1", placeholder = "Contact Person *", Required = "Required", Value = @ViewBag.data.ContactPerson })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Email *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.EmailId, new { @class = "form-control1", placeholder = "Email ID *", Required = "Required", @onchange = "check()", Value = @ViewBag.data.EmailId ,@readonly=true})
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Telephone">*@
                        @Html.TextBoxFor(model => this.Model.Item1.LandlineNumber, new { @class = "form-control1", placeholder = "Telephone *", Required = "Required", Value = @ViewBag.data.LandlineNumber })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Mobile Number">*@
                        @Html.TextBoxFor(model => this.Model.Item1.ContactNumber, new { @class = "form-control1", placeholder = "Mobile Number", Value = @ViewBag.data.ContactNumber })
                    </div>
                    @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Fax">
                        </div>*@
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Website">*@
                        @Html.TextBoxFor(model => this.Model.Item1.Url, new { @class = "form-control1", placeholder = "Website", Value = @ViewBag.data.Url })
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>Enquiries from couples interested in your services and updates from Ahwanam will be sent to this email address.</small></p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Business Information</h4>
                </div>
            </div>
            @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                    <select class="form-control" id="sel1" multiple size="5">
                        <option>Venues</option>
                        <option>Decoration</option>
                        <option>Catering</option>
                        <option>Photography</option>
                        <option>Entertainments</option>
                        <option>Beauty Services</option>
                    </select>
                </div>*@
            <div class="row margin-top margin-bottom">
                @Html.HiddenFor(model => model.Item3.Address)

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0 selectcategory">
                        @*@Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required" })*@
                        @*@Html.DropDownListFor(Model => Model.Item3.Country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })*@
                        @*<select class="form-control" id="sel1" multiple size="5">
                                <option>Venues</option>
                                <option>Decoration</option>
                                <option>Catering</option>
                                <option>Photography</option>
                                <option>Entertainments</option>
                                <option>Beauty Services</option>
                            </select>*@
                        @*<div class="checkbox1">
                                <label><input type="checkbox" value=""><span></span>Venue</label>
                            </div>*@
                        @*<div class="checkbox"><span></span>
                                <label><input type="checkbox" value="">Decoration</label>
                            </div>*@
                        @*<div class="checkbox1">
                                <label><input type="checkbox" value=""><span></span>Catering</label>
                            </div>*@
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">Photography</label>
                            </div>*@
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">Entertainments</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Beauty Services</label>
                            </div>*@
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="City/Town *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required", Value = @ViewBag.data.Landmark })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="City/Town *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.City, new { @class = "form-control", placeholder = "City/Town *", Required = "Required", Value = @ViewBag.data.City })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Postal Code *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.ZipCode, new { @class = "form-control", placeholder = "Zip Code *", Required = "Required", Value = @ViewBag.data.ZipCode })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Address *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.Address, new { @class = "form-control", placeholder = "Address *", Required = "Required", Value = @ViewBag.data.Address })
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="clear-both"></div>
            <div class="row padding-top-10 margin-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Name of your Business">*@
                        @Html.TextBoxFor(model => this.Model.Item1.BusinessName, new { @class = "form-control1", placeholder = "Name of your Business *", Required = "Required", Value = @ViewBag.data.BusinessName })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <label>Describe your business and services offered (in third person)</label>
                        <textarea class="form-control" rows="10" id="Item1_Description" name="Item1.Description">@ViewBag.data.Description</textarea>
                        @*@Html.TextAreaFor(model => this.Model.Item1.Description, new { @class = "form-control", rows = "10", Value = @ViewBag.data.Description })*@
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>Add a detailed description of all the services and products that your company offers. This information will be useful to couples.</small></p>
                    <p class="grey">
                        <small>
                            Our team will edit your text to ensure quality and search engine optimization. Please don't add contact information such as email, phone number, website, address, etc.
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Your Business Category</h4>
                </div>
            </div>
            <div class="row">
                @Html.HiddenFor(model => model.Item1.ServicType, new { Value = ViewBag.service })
                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12 selectcategory">
                    @*<div class="checkbox1">
                            @foreach (var item in ViewBag.data.ServicType.Split(","))
                            {
                                <label><input type="checkbox" value="" checked><span></span>@item</label>
                            }
                        </div>*@





                    <div class="checkbox1">
                        @if (ViewBag.type == "Venue")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Venue</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Venue</label>
                            }*@
                    </div>

                    <div class="checkbox1">
                        @if (ViewBag.type == "Catering")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Catering</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Catering</label>
                            }*@

                    </div>
                    <div class="checkbox1">
                        @if (ViewBag.type == "Photography")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Photography</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Photography</label>
                            }*@
                    </div>
                    <div class="checkbox1">

                        @if (ViewBag.type == "Decorator")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Decorator</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Decorator</label>
                            }*@

                    </div>

                    <div class="checkbox1">

                        @if (ViewBag.type == "Other")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Other</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Decorator</label>
                            }*@

                    </div>
                    @*<div class="checkbox1">
                            <label><input type="checkbox" value=""><span></span>Entertainments</label>
                        </div>
                        <div class="checkbox1">
                            <label><input type="checkbox" value=""><span></span>Beauty Services</label>
                        </div>*@
                </div>
            </div>

            <div class="row margin-top margin-bottom" id="businesscategory">
                <input type="hidden" name="Item4.VenueType" id="Item1_VenueType" value="@ViewBag.service" />
                @if (ViewBag.type == "Venue" && ViewBag.service != null)
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Venue">
                        <h4>Venues</h4>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Convention Hall"))
                            {
                            <label><input type="checkbox" checked><span></span>Convention Hall</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Convention Hall</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Function Hall"))
                            {
                            <label><input type="checkbox" checked><span></span>Function Hall</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Function Hall</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Banquet Hall"))
                            {
                            <label><input type="checkbox" checked><span></span>Banquet Hall</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Banquet Hall</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Meeting Room"))
                            {
                            <label><input type="checkbox" checked><span></span>Meeting Room</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Meeting Room</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Open Lawn"))
                            {
                            <label><input type="checkbox" checked><span></span>Open Lawn</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Open Lawn</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Roof Top"))
                            {
                            <label><input type="checkbox" checked><span></span>Roof Topl</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Roof Top</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Hotel"))
                            {
                            <label><input type="checkbox" checked><span></span>Hotel</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Hotel</label>
                            }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Resort"))
                            {
                            <label><input type="checkbox" checked><span></span>Resort</label>
                            }
                            else
                            {
                            <label><input type="checkbox"><span></span>Resort</label>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Venue">
                        <h4>Venues</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Convention Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Function Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Banquet Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Meeting Rooml</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Open Lawn</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Roof Top</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Hotel</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Resort</label>
                        </div>
                    </div>
                }
                @if (ViewBag.type == "Catering" && ViewBag.service != null)
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Catering">
                        <h4>Catering</h4>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Indian"))
                        {
                            <label><input type="checkbox" checked><span></span>Indian</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Indian</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Chinese"))
                        {
                            <label><input type="checkbox" checked><span></span>Chinese</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Chinese</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Mexican"))
                        {
                            <label><input type="checkbox" checked><span></span>Mexican</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Mexican</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("South Indian"))
                        {
                            <label><input type="checkbox" checked><span></span>South Indian</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>South Indian</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Continental"))
                        {
                            <label><input type="checkbox" checked><span></span>Continental</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Continental</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Multi Cuisine"))
                        {
                            <label><input type="checkbox" checked><span></span>Multi Cuisine</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Multi Cuisine</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Chaat"))
                        {
                            <label><input type="checkbox" checked><span></span>Chaat</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Chaat</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Fast Food"))
                        {
                            <label><input type="checkbox" checked><span></span>Fast Food</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Fast Food</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Others"))
                        {
                            <label><input type="checkbox" checked><span></span>Others</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Others</label>
                        }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Catering">
                        <h4>Catering</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Chinese</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Mexican</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>South Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Continental</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Multi Cuisine</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Chaat</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Fast Food</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }
                @if (ViewBag.type == "Photography" && ViewBag.service != null)
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Photography">
                        <h4>Photography</h4>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Wedding"))
                        {
                            <label><input type="checkbox" checked><span></span>Wedding</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Wedding</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Candid"))
                        {
                            <label><input type="checkbox" checked><span></span>Candid</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Candid</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Portfolio"))
                        {
                            <label><input type="checkbox" checked><span></span>Portfolio</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Portfolio</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Fashion"))
                        {
                            <label><input type="checkbox" checked><span></span>Fashion</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Fashion</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Toddler"))
                        {
                            <label><input type="checkbox" checked><span></span>Toddler</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Toddler</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Videography"))
                        {
                            <label><input type="checkbox" checked><span></span>Videography</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Videography</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Conventional"))
                        {
                            <label><input type="checkbox" checked><span></span>Conventional</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Conventional</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Cinematography"))
                        {
                            <label><input type="checkbox" checked><span></span>Cinematography</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Cinematography</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Others"))
                        {
                            <label><input type="checkbox" checked><span></span>Others</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Others</label>
                        }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Photography">
                        <h4>Photography</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Wedding</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Candid</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Portfolio</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Fashion</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Toddler</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Videography</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Conventional</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Cinematography</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }
                @if (ViewBag.type == "Decorator" && ViewBag.service != null)
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Decorator">
                        <h4>Decorator</h4>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Florists"))
                        {
                            <label><input type="checkbox" checked><span></span>Florists</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Florists</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("TentHouse Decorators"))
                        {
                            <label><input type="checkbox" checked><span></span>TentHouse Decorators</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>TentHouse Decorators</label>
                        }
                        </div>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Others"))
                        {
                            <label><input type="checkbox" checked><span></span>Others</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Others</label>
                        }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Decorator">
                        <h4>Decorator</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Florists</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>TentHouse Decorators</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }
                @if (ViewBag.type == "Other" && ViewBag.service != null)
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Other">
                        <h4>Other</h4>
                        <div class="checkbox">
                            @if (ViewBag.service.Contains("Mehendi"))
                        {
                            <label><input type="checkbox" checked><span></span>Mehendi</label>
                        }
                        else
                        {
                            <label><input type="checkbox"><span></span>Mehendi</label>
                        }
                        </div>
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">TentHouse Decorators<span></span></label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Others<span></span></label>
                            </div>*@
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Other">
                        <h4>Other</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Mehendi</label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="grey"><small>By clicking "Next" you are agreeing to our legal terms.</small></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<a href="/VendorSignUp2" class="btn btn-default red-bg white">Next</a>*@
                <input type="submit" value="Update Info" class="btn btn-default red-bg white margin-left" id="firstnextbtn" />
                <a href="/HomePage" class="btn btn-default red-bg white margin-left">Cancel</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script src="~/newdesign/js/hideShowPassword.min.js"></script>
<script>
    /*------- Toggle Password Hide / Show -------------*/
    //$(window).ready(function () {
    //    $('#Item2_Password').hideShowPassword({
    //        innerToggle: true,
    //    });
    //});
    /*------- Toggle Password Hide / Show -------------*/

    /*------- Check Box value -------------*/
    $(".checkbox1 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".checkbox1 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text();
        });
        //alert(arr);
        $('#Item1_ServicType').val(arr);
        //alert($('#Item1_ServicType').val());
        //console.log(arr);
    });

    $(".checkbox input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".checkbox input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text();
        });
        //alert(arr);
        $('#Item1_VenueType').val(arr);
        //console.log(arr);
    });
    /*------- Check Box value -------------*/
    $('#Item2_UserName').on('input', function () {
        $('#Item1_EmailId').val(this.value);
    });
    $('#Item1_EmailId').on('input', function () {
        $('#Item2_UserName').val(this.value);
    });
    ///*------- Select Business Category -------------*/
    //var listval, idval;
    //$("#sel1").on('change', function () {
    //    listval = $(this).val();
    //    alert(listval);
    //    $("#businesscategory > div").each(function () {
    //        //var v = listval.split(",");
    //        //alert(v);
    //        idval = $(this).attr("id");
    //        //alert(idval);
    //        if (listval == idval) {
    //            //alert("YES");
    //            $(this).css("display", "block");
    //        }
    //    });
    //});
    ///*------- Select Business Category -------------*/

    /*------- Select Business Category -------------*/
    //$(".selectcategory div.checkbox1 input[type='checkbox']").change(function () {
    //    listval = $(this).parent("label").text();
    //    //alert(listval);
    //    $("#businesscategory > div").each(function () {
    //        idval = $(this).attr("id");
    //        if (listval == idval) {
    //            if ($(".selectcategory div.checkbox1 input[type='checkbox']").is(':checked')) {
    //                //alert("Check");
    //                $(this).css("display", "block");
    //            } else
    //                if ($(".selectcategory div.checkbox1 input[type='checkbox']").not(':checked').length) {
    //                    //alert("Un-Check");
    //                    $(this).css("display", "none");
    //                }
    //        }
    //    });
    //});
    var listval, catgId;
    $(".selectcategory div.checkbox1 input[type='checkbox']").change(function () {
        if ($(this).is(':checked')) {
            listval = $(this).parent("label").text().replace(' ', '');
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "block");
                }
            });
        } else {
            listval = $(this).parent("label").text();
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "none");
                    $(this).children(".checkbox").children("label").children("input").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });
        }
    });

    $(document).ready(function () {
        $(".selectcategory div.checkbox1 input[type='checkbox']").each(function () {
            if ($(this).is(':checked')) {
                listval = $(this).parent("label").text();
                $("#businesscategory div").each(function () {
                    catgId = $(this).attr("id");
                    if (listval == catgId) {
                        $(this).css("display", "block");
                    }
                });
            }
        });
    });

    //window.load =function(){
    //$(".selectcategory div.checkbox1 input[type='checkbox']").on('load',function () {
    //    alert("hi");
    //    if ($(this).is(':checked')) {
    //        listval = $(this).parent("label").text().replace(' ', '');
    //        alert(listval);
    //        $("#businesscategory div").each(function () {
    //            catgId = $(this).attr("id");
    //            if (listval == catgId) {
    //                $(this).css("display", "block");
    //            }
    //        });
    //    } else {
    //        listval = $(this).parent("label").text();
    //        $("#businesscategory div").each(function () {
    //            catgId = $(this).attr("id");
    //            if (listval == catgId) {
    //                $(this).css("display", "none");
    //                $(this).children(".checkbox").children("label").children("input").each(function () {
    //                    $(this).prop("checked", false);
    //                });
    //            }
    //        });
    //    }
    //})
    //};
    /*------- Select Business Category -------------*/
    /*------- Next anchor click condition Function -------------*/
    $("#firstnextbtn").click(function () {
        var CatgBox = $(".selectcategory input[type='checkbox']:checked").length;
        var BusCatbox = $("#businesscategory input[type='checkbox']:checked").length;
        if (CatgBox > 0 && BusCatbox > 0) {
            window.location.replace("file:///E:/vamsi/Maa-Aahwanam/Maa-Aahwanam-All/signup2.html");
        }
        //else {
        //    alert("Please select atleast one Main and Sub Categories");
        //}
    });
    /*------- Next anchor click condition Function -------------*/

</script>
@*E-Mail ID check*@
<script>
    function ValidateEmail(email) {
        var expr = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        return expr.test(email);
    };
    function check() {
        var emailId = $("#Item2_UserName").val();
        if (!ValidateEmail(emailId)) {
            alert("Invalid email address.");
        }
        else {
            $.ajax({
                url: '/VendorSignUp1/checkemail',
                type: 'POST',
                data: JSON.stringify({ emailid: emailId }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "exists") {
                        alert("E-Mail ID Already Taken!!! Try Another");
                        $("#Item2_UserName").val("");
                        $("#Item1_EmailId").val("");
                        $("#Item2_UserName").focus();
                    }
                },
                error: function (data)
                { alert("Server is Not Responding at the Moment"); }
            });
        }

    }
</script>

