@using system;
@using MaaAahwanam.Web.Custom
@using System.Globalization
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
    var amenitycount = 0;
    CustomPrincipal user = null;
    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        user = (CustomPrincipal)HttpContext.Current.User;
    }
}

@section css{
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

}
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

    body {
        font-family: "Lato", sans-serif;
    }

    #example1 {
        box-sizing: content-box;
        width: 77px;
        height: 82px;
        padding: 15px;
        border: 1px grey;
        color: white;
        background-color: #5829bb;
    }

    #example2 {
        box-sizing: content-box;
        width: 77px;
        height: 70px;
        padding: 15px;
        border: 1px black solid;
        color: black;
    }

    .tablink {
        background-color: #fff;
        color: #212529;
        float: left;
        border: 1px;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 13px;
        width: 16%;
        font-family: lato;
    }

        .tablink:hover {
            background-color: #fff;
        }

    /* Style the tab content */
    .tabcontent {
        color: white;
        display: none;
        padding: 50px;
        text-align: center;
    }

    #Food Packages, #Hall Details, #Description, #Gallery, #Check Availability, #Policies {
        background-color: white;
    }

    #modal-example .form-group input.form-control {
        padding-left: 40px;
    }

    #modal-example .form-group i {
        font-size: 21px;
        position: absolute;
        left: 12px;
        top: 34px;
        color: #ccc;
        width: 25px;
        height: 25px;
        display: block;
        font-weight: 400 !important;
    }

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    /*.vendorcalendar {
        max-width: 700px;
        margin-left: 15px;
    }*/

    .uk-h6-1 {
        font-size: 15px;
        margin: 20px 0 10px 0;
    }

    .row-2 {
        margin-left: 5px;
    }

    .col-md-8-2 {
        height: 333px;
        width: 488px;
    }

    p.caption {
        margin: 0 30px 35px 0;
        background-color: yellow;
        border-radius: 30px;
        height: 60px;
        width: 60px;
    }

        p.caption img {
            height: 35px;
            padding-left: 13px;
            margin-top: 16px;
        }

        p.caption b {
            padding-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50px;
        }

    a.btn-pill {
        font-weight: 700;
    }

    .col-sm, .col-sm-sm {
        height: 140px;
        border: 1px;
    }

    .col-sm {
        background-color: #543791;
    }

    .col-md-4-1 {
        max-width: 42%;
    }

    #halldetails {
        border-collapse: collapse;
    }

        #halldetails td {
            border: 1px solid grey;
        }

    .uk-form-stacked input {
        font-weight: 700;
    }

    ul.magnific-gallery {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .uk-h3 {
        margin: 0 0 20px 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .tdwidhth {
        width: 140px;
    }
</style>



@*<main>*@
<div class="bg_color_1">
    <div class="container margin_60_35" style="padding-top:70px;padding-bottom:0px;margin-left:0">
        <div class="row" style="width:1340px">
            <div class="col-lg-8">
                <div class="box_cart">
                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="min-height: 300; max-height: 600; animation: push">
                        <ul class="uk-slideshow-items">
                            @foreach (var item in ViewBag.allimages)
                            {
                                <li class="uk-active uk-transition-active" style="transform: translateX(0px); z-index: 0;">
                                    <img class="mw-100" src="~/vendorimages/@item.ImageName" alt="@item.ImageName" style="height: 100%; width: 100%;" />

                                </li>
                            }
                        </ul>
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                    <!--End step -->
                    <div class="uk-grid">
                        <h2 class="uk-h2" style="font-size:18px;text-transform: uppercase;margin: 0px 10px -1px 0px;max-width: 55%;width:100%">@ViewBag.Productinfo.BusinessName <span style="font-size:16px;font-weight:400;text-transform: capitalize"><br>@ViewBag.City,@ViewBag.State</span></h2>
                        <img src="http://design.maa-aahwanam.com/panagea/images/heart.png" style="margin-left:200px;width: 10%;height: 50%;max-width: 45%;" />

                        <div style="padding-top:10px"><a href="#map">See Address Map</a>&emsp;&emsp; <a href="#">View Description</a></div>
                    </div>
                    <div class="uk-grid-sub">
                        @foreach (var item in ViewBag.particularVenue)
                        {
                            <button style="text-transform: uppercase;font-size:16px" class="tablink" href="#@item.VenueType"><b>@item.VenueType</b></button>
                        }
                    </div>
                </div>
                <br><br>
                @foreach (var item in ViewBag.particularVenue)
                {
                    <div class="container" id="@item.VenueType">
                        <h2 style="font-size:44px;font-weight:700;text-transform: uppercase">@item.VenueType</h2>
                        <h3 class="uk-h3" style="margin-left:4px">AVAILABLE FOOD PACKAGES</h3>
                        @foreach (var item1 in @ViewBag.availablepackages)
                        {
                            if (item1.VendorSubId == item.Id)
                            {

                                <input type="hidden" value="@item1.PackageID" name="packageid" id="packageid">
                                <input type="hidden" value="@item1.PackagePrice" name="PackagePrice" id="PackagePrice">
                                <input type="hidden" value="@item1.price1" name="PackagePrice1" id="PackagePrice1">
                                <input type="hidden" value="@item1.PackageName" name="PackageName" id="PackageName">
                                <div class="row packss" style="width:850px;padding-left:18px;">
                                    @*<input type="hidden" value="@item1.PackageID,@item1.PackagePrice,@item1.PackageName" name="package" id="package">*@
                                    <div class="col-sm">
                                        <div align="center">
                                            <p class="box-text">
                                                <text class="pname">@item1.PackageName</text>
                                                <br />
                                                <br />
                                                <span>
                                                    ₹
                                                    @if (@item1.PackagePrice != "" && @item1.PackagePrice != null)
                                                    { <b style="font-size:30px">@item1.PackagePrice</b>}
                                                    else
                                                    {
                                                        <b style="font-size:30px">@item1.price1</b>
                                                    }
                                                    / Person
                                                </span>
                                                <text class="packageid" style="display:none">@item1.PackageID</text>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-sm" overflow="visible" style="padding-left:15px">
                                        <span>What You Get</span>
                                        <br />
                                        @for (int i = 0; i < @item1.PackageDescription.Split(',').Length; i++)
                                        {
                                            @*<button class="small ui button_xs">@item1.PackageDescription.Split(',')[i]</button>*@
                                            <a class="btn-pill">@item1.PackageDescription.Split(',')[i]</a>
                                        }

                                    </div>
                                    @*<img src="~/newdesignstyles/img/plus.png" />*@
                                    <div class="col-sm-sm" style="max-width:15%">
                                        @if (@item1.PackagePrice != "" && @item1.PackagePrice != null)
                                        {
                                            <button style="margin-top:40px;float:right;margin-right:50px" value="@item1.PackageID,@item1.PackageName,@item1.PackagePrice" onclick="ks(this.value)" class="btn btn-warning btn-circle"><img src="~/newdesignstyles/img/plus.png" /></button>
                                        }
                                        else
                                        {
                                            <button style="margin-top:40px;float:right;margin-right:50px" value="@item1.PackageID,@item1.PackageName,@item1.price1" onclick="ks(this.value)" class="btn btn-warning btn-circle"><img src="~/newdesignstyles/img/plus.png" /></button>
                                        }
                                    </div>
                                </div><br><br>
                            }
                        }
                    </div>

                    <h3 class="uk-h3">HALL DETAILS</h3>
                    <div class="row" style="margin-left:20px">
                        <div class="col-md-4-1">
                            <img src="http://design.maa-aahwanam.com/panagea/images/banquet3.jpg" style="width:330px;height:140px;">
                            <table id="halldetails" style="width:330px;height:193px">
                                <tbody>
                                    <tr>
                                        <td class="tdwidhth"><h1 class="uk-h1">Area Name</h1></td>
                                        <td>
                                            @if (item.name != null)
                                            { @item.name }
                                            else
                                            { <text>NA</text> }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdwidhth"><h1 class="uk-h1">Area Type</h1></td>
                                        <td>
                                            @if (item.VenueType != null)
                                            { @item.VenueType }
                                            else
                                            { <text>NA</text> }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdwidhth"><h1 class="uk-h1">Area Dimensions</h1></td>
                                        <td>
                                            @if (item.Dimentions != null)
                                            { @item.Dimentions }
                                            else
                                            { <text>NA</text> }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdwidhth"><h1 class="uk-h1">Max Capacity</h1></td>
                                        <td>
                                            @if (item.Maximumcapacity != null)
                                            { @item.Maximumcapacity }
                                            else
                                            { <text>NA</text> }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdwidhth"><h1 class="uk-h1">Seating Style</h1></td>
                                        <td>Seating Style</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8-2">
                            <h6 class="uk-h6-1">AMENTIES</h6>
                            <div class="row-2" overflow="visible">
                                <br>
                                @for (int i = 0; i < ViewBag.amenities[amenitycount].Split(',').Length; i++)
                                {
                                    <p class="caption">
                                        <img src="~/newdesignstyles/VenueIcons/@(ViewBag.amenities[amenitycount].Split(',')[i]).png" title="@ViewBag.amenities[amenitycount].Split(',')[i]" />
                                    </p>  @*<br><br><b>@ViewBag.amenities[amenitycount].Split(',')[i]</b>*@
                                }
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h3 class="uk-h3">AVAILABILITY CALENDAR</h3>
                    @*<img src="http://design.maa-aahwanam.com/panagea/images/calendar.jpg"></img>*@
                    @*<input id="datepicker" class="datepicker" name="datepicker" />*@
                    @*<div class='vendorcalendar'></div>*@
                    <input type="hidden" class="vendorcalendar"/>



                    <br />
                        <br />
                        <h3 class="uk-h3">GALLERY/VIDEOS</h3>
                        <div class="container margin_60_35" style="padding-top:30px">
                            <div class="grid">
                                <ul class="magnific-gallery">
                                    @foreach (var image in ViewBag.allimages)
                                    {
                                        <li>
                                            <figure style="background-color:white">
                                                <img src="~/vendorimages/@image.ImageName" alt="@image.ImageName" style="height:150px;margin-left:10px">
                                                <figcaption>
                                                    <div class="caption-content">
                                                        <a href="~/vendorimages/@image.ImageName" title="Photo title" data-effect="mfp-zoom-in">
                                                            <i class="pe-7s-albums"></i>
                                                            <p>@image.Imagedescription</p>
                                                        </a>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- /grid gallery -->
                        </div>
                    <!-- /container -->
                        <h3 class="uk-h3">VENUE POLICIES</h3>
                        <P>Read all the terms & conditions of the banquet hall.</P><br><br>

                        <figure>
                            <img src="http://design.maa-aahwanam.com/panagea/images/baloon.png">
                            <h5 class="uk-h5">ALCOHOL IS NOT SUPPLIED</h5>
                            <figurecaption> &emsp;&emsp;&emsp;&emsp;We don’t supply alcohol but outside alcohol is allowed</figurecaption>
                        </figure>
                        <hr />
                }
                <h3 class="uk-h3">Address</h3>
                <p>
                    @ViewBag.Productinfo.Address,@ViewBag.Productinfo.Landmark,@ViewBag.Productinfo.City,@ViewBag.Productinfo.State,@ViewBag.Productinfo.ZipCode
                </p>
                <div id="map"></div>
                <!-- End Map -->
            </div>
            <!-- /col -->
            <aside class="col-lg-4" id="sidebar">
                <div class="box_detail" style="display:none">
                    <h6 class="uk-h6-2">AMENTIES</h6>
                    <div class="row-button">
                        <a class="btn-pill">WIFI</a>
                        <a class="btn-pill">CATERING</a>
                        <a class="btn-pill">PARKING</a>
                    </div>
                    <div class="row-button">
                    </div>
                </div>
                <div class="uk-section uk-section-large uk-section-muted">
                    <div class="uk-container">
                        @*<center>
                            <img src="http://design.maa-aahwanam.com/panagea/images/left.png" />

                                <img src="http://design.maa-aahwanam.com/panagea/images/right.png" />
                                </center>*@
                        <div>
                            <div class="row packesss" id="allrecords" style="margin-left:35px">
                                <div class="col-md-2 isotope-item popular" id="example2"><label style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate2.Split('/')[0]</label><label>@ViewBag.cdate2.Split('/')[1],@ViewBag.cdate2.Split('/')[2]</label>₹<b id="pprice">00</b></div>
                                <div class="col-md-2 isotope-item popular" id="example1" style="margin-top: -5px;"><label style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: white;">@ViewBag.cdate.Split('/')[0]</label><label>@ViewBag.cdate.Split('/')[1],@ViewBag.cdate.Split('/')[2]</label>₹<b id="pprice">00</b></div>
                                <div class="col-md-2 isotope-item popular" id="example2"><label style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: red;">@ViewBag.cdate1.Split('/')[0]</label><label>@ViewBag.cdate1.Split('/')[1],@ViewBag.cdate1.Split('/')[2]</label>₹<b id="pprice">00</b></div>
                                <img src="http://design.maa-aahwanam.com/panagea/images/icons/calendar.png" id="datepicker" style="height:17px ;width:20px;margin-top:85px;margin-left:10px" />
                                @*<input type='button' value="http://design.maa-aahwanam.com/panagea/images/icons/calendar.png" id="datepicker1" style="height:17px ;width:20px;margin-top:85px;margin-left:10px" />*@

                            </div>

                            <div>
                                <form class="uk-form-stacked">
                                    <br>
                                    <div class="uk-margin">
                                        <input type="hidden" class="Packageselected" value="" name="Packageselected" id="Packageselected">

                                        <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">Guests</h1></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input guests1" name="guests1" id="guests1" type="text">
                                        </div>
                                    </div>
                                    <div class="uk-margin total">
                                        <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">Food Packages</h1></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input price" name="price" id="price" type="text">
                                        </div><br>
                                        <h4 align="middle">&#8377;<b id="tp">000</b></h4>
                                        <div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </form>
                                @if (user != null)
                                {
                                    <button type="button" class="btn_1 add_top_30" value="booknow" onclick="booknow(this.value)">BOOK NOW&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>
                                    <button type="button" class="btn_1 add_top_30" value="cart" onclick="booknow(this.value)">CART&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/cart2.png" /></button>                            }
                                else
                                {
                                    @*<a  class="btn_1 add_top_30" id="sign-in" href='#sign-in-dialog'> BOOK NOW&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></a>
                                        <a  class="btn_1 add_top_30" id="sign-in" href='#sign-in-dialog'> CART&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/cart2.png" /></a>*@

                                    <button type="submit" value="email" name="command" class="btn_1 add_top_30" uk-toggle="target: #modal-example">Book Now&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>
                                    <button type="submit" value="email" name="command" class="btn_1 add_top_30" uk-toggle="target: #modal-example">CART&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/cart2.png" /></button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /bg_color_1 -->
</div>
@*</main>*@


<!--/main-->
@*<div id="modal-example" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title" style="font-size:22px">Sign In / Register</h3>
            </div>
            <div class="uk-modal-body">
                <div class="authenticationBlocks">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Your Email ID" name="UserName1" id="UserName1" required />

                        @*<input type="email" class="form-control" name="email" id="email">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="Password" class="form-control" placeholder="Enter Your Password" name="Password2" id="Password2" required />

                        @*<input type="password" class="form-control" name="password" id="password" value="">
                        <i class="icon_lock_alt"></i>
                    </div>
                    @*<div class="clearfix add_bottom_15">
                           <div class="checkboxes float-left">
                                <label class="container_check">
                                    Remember me
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                        </div>
                    <div class="text-center"><input type="submit" value="Login" onclick="login1(this.value)" class="btn_1 full-width" name="command"></div>

                    <div class="text-center">
                        Don’t have an account? <a id="signup" class="registerBtn" href="javascript:void(0);">Sign up</a>
                    </div>
                </div>
                <div id="forgot_pw" class="forgotks">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot1">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                    <div class="float-right mt-1"><a id="forgot" class="loginBtn" href="javascript:void(0);">Login</a></div>

                </div>
                <div id="signup" class="register">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Name1" id="txtname1" placeholder="Enter Your Name" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="Password3" minlength="5" id="Password3" placeholder="Enter Your Desired Password" required>
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email1" id="txtemail1" placeholder="Enter Your Email ID" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        @*<input type="password" class="form-control" name="password" id="password" value="">
                        <input type="tel" pattern="^\d{10}$" class="form-control" placeholder="Enter Your Mobile Number(format: xxxxxxxxxx)" id="txtphone1" required>
                        <i class="icon_lock_alt"></i>
                    </div>

                    <p>You will receive an email containing a link allowing you to activate</p>
                    <div class="float-right mt-1"><a id="signin" class="loginBtn" href="javascript:void(0);">Login</a></div>

                    <div class="text-center"><input type="submit" value="Register" onclick="savecustomer1(this.value)" class="btn_1"></div>

                </div>
            </div>
        </div>
    </div>*@
<!-- COMMON SCRIPTS -->
@section scripts{
    <script src="~/newdesign/js/alertify.js"></script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: @ViewBag.latitude, lng: @ViewBag.longitude};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 14, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsjFiM-zkPLiIYHwvsY5HqWqeEuZshpY&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script>
          $( function() {
            $( "#datepicker" ).datepicker(
            {
            beforeShow: addCustomInformation,
            beforeShowDay: function(date) {
              return [true, date.getDay() === 5 || date.getDay() === 6 ? "weekend" : "weekday"];
            },
            onChangeMonthYear: addCustomInformation,
            onSelect: addCustomInformation
          }


            );

            addCustomInformation();
          } );

          function addCustomInformation() {
          setTimeout(function() {
            $(".ui-datepicker-calendar td").filter(function() {
              var date = $(this).text();
              return /\d/.test(date);
            }).find("a").attr('data-custom', 110);
          }, 0)
        }
        </script>*@
    <script>
        $(window).load(function(){

            //$("#datepicker").daterangepicker().trigger("click");
            $('#datepicker').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'en',
                timepicker: false,
                format: 'd/m/Y',
                minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
                maxDate: '+1970/03/02'//tomorrow is maximum date calendar

            });
            $("#datepicker").on("change",function(){
                var selected = $(this).val();
                $('#example1').html(selected);
            });


        });
        //map
        function openCity(cityName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(cityName).style.display = "block";
            elmnt.style.backgroundColor = color;

        }
        // Get the element with id="defaultOpen" and click on it
        // document.getElementById("defaultOpen").click();
    </script>


    <script>

        function ks(val) {
            var guest = '';
            var gu1 = window.localStorage.getItem("guests");
            //alert(gu1);
            if(gu1 == null)
            {
                guest =  $('.guests1').val();
            } else { guest = gu1 ;}
            var s =  val.split(',');
            var pprice = s[2];
            var pname = s[1];
            var pid = s[0];
            //var pid1 =   $('#packageid').val();
            var expid =   window.localStorage.getItem("cartid");
            //alert('expid'+expid);
            if (expid != null)
            {
                var newpid = expid + ',' + pid ;
                window.localStorage.removeItem("cartid")
                window.localStorage.setItem("cartid",newpid)
                //alert('new'+newpid);
                var cpid =  window.localStorage.getItem("cartid");
                //alert('created'+cpid);
            } else {
                window.localStorage.setItem("cartid",pid)

            }
            var SelectedPackage1=''
            //alert(pid + pname + pprice);
            $('.price').val('');
            $('.guests1').val('');
            if(pname !=''&& pname !='undefined'&& pprice !=''&& pprice !='undefined')
            {SelectedPackage1 =''+pname+'(₹'+pprice+'/per plate)';}
            else{SelectedPackage1 ='N/A'}
            //alert(SelectedPackage1);
            $('.price').val(SelectedPackage1);
            $('.guests1').val(guest);
            $('.Packageselected').val(s);

            var total = guest * pprice;
            //alert(total);
            $('.tp').val(total);
            $(".total b").empty().append(total);

        };
        function booknow(val) {
            var v = val;
            var cpid =  window.localStorage.getItem("cartid");
            var pid =   $('#packageid').val();
            if (cpid== null || cpid == pid)
            { window.localStorage.setItem("cartid",pid)}
            var gu1 = window.localStorage.getItem("guests");
            var eventtype = window.localStorage.getItem("eventtype");

            var guest = '';
            //alert(gu1);
            if(gu1 == null)
            {
                guest =  $('.guests1').val();
            } else { guest = gu1 ;}

            var cart =   $('#Packageselected').val();
            var carts = cart.split(',');
            var cpprice = carts[2];
            var cpname = carts[1];
            var cpid = carts[0];

            var total = guest * cpprice;
            //alert(total);

            url1 ='/viewservice/addcnow?pid=' + cpid + '&&guest=' + guest + '&&dcval=' + v + '&&total=' + total + '&&pprice=' + cpprice + '&&eventtype=' + eventtype;
            //alert(url1);
            $.ajax({
                url: url1,
                success: function (data) {
                    if (data == "Success") {
                        alert('package is add to the cart');

                        //alertify.confirm("Added To Cart",function(){
                        location.href = '/cart/Index';

                    }
                    else if (data == "failed") {
                        alert("Failed To add item to the cart");
                    }
                    else if (data == "Exists") {
                        alert("This Service Already Exists in Cart");
                        location.href = '/cart/Index';
                    }

                },
                error:function(data)
                {
                    // $(".overlay").hide();
                    alert("Something Went Wrong!!! Try Again Later");
                }
            });
            location.href='/cart/Index' ; //?pid=' + pid + '&&guest=' + guests;
            alert(v);
        };

        $(document).ready(function () {
            var pid =   $('#packageid').val();
            var price =  $('#PackagePrice').val();
            if(price == '') { price =  $('#PackagePrice1').val(); }
            var PackagePrice =price;
            // alert(typeof(price));
            var PackageName =  $('#PackageName').val();
            var SelectedPackage ='';
            if(PackageName !=''&& price  !=''&& PackageName !=undefined&& price  !=undefined)
            {SelectedPackage =''+PackageName+'(₹'+PackagePrice+'/per plate)';}
            else{ SelectedPackage ='N/A';}
            // alert(SelectedPackage);

            var guest = window.localStorage.getItem("guests");
            $('.price').val(SelectedPackage);
            $('.guests1').val(guest);
            var total = guest * PackagePrice;
            //alert(total);
            $(".total b").empty().append(total);
            if(PackagePrice != '' && PackagePrice != undefined)
            {$(".packesss b").empty().append(PackagePrice);}
            else{$(".packesss b").empty().append('N/A');}


            $('.Packageselected').val(pid+','+PackageName+','+PackagePrice);




        })
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        $(function() {
            $( ".vendorcalendar" ).datepicker({
                singleDatePicker: true,
                standalone: true
            });
        });


        //$(document).ready(function() {
        //    $('.vendorcalendar').fullCalendar({
        //        header: {
        //            left: 'prev,next today',
        //            center: 'title',
        //            right: 'month,basicWeek,basicDay'
        //        },
        //        defaultDate: '2018-03-12',
        //        navLinks: true, // can click day/week names to navigate views
        //        editable: true,
        //        eventLimit: true, // allow "more" link when too many events
        //        events: [
        //          {
        //              title: 'All Day Event',
        //              start: '2018-03-01'
        //          }
        //        ]
        //    });
        //});

    </script>

}
