
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
}
<link href="~/newdesign/css/alertify.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
<style>
     
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
     body {
        font-family: "Lato", sans-serif;
    }

    .tablink {
        background-color: #fff;
        color: #212529;
        float: left;
        border: 1px;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 14px;
        width: 16%;
    }

        .tablink:hover {
            background-color: #fff;
        }

    /* Style the tab content */
    .tabcontent {
        color: white;
        display: none;
        padding: 50px;
        text-align: center;
    }

    #Food Packages {
        background-color: white;
    }

    #Hall Details {
        background-color: white;
    }

    #Description {
        background-color: white;
    }

    #Gallery {
        background-color: white;
    }

    #Check Availability {
        background-color: white;
    }

    #Policies {
        background-color: white;
    }
</style>
<main style="transform: none;">


    <div class="bg_color_1" style="transform: none;">
        <div class="container margin_60_35" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-lg-8">
                    <div class="box_cart">

                        <div class="uk-position-relative uk-visible-toggle uk-light uk-slideshow" uk-slideshow="min-height: 300; max-height: 600; animation: push">

                            <ul class="uk-slideshow-items" style="height: 410px;">
@foreach (var item in ViewBag.allimages)
{
                                <li class="uk-active uk-transition-active" style="transform: translateX(0px); z-index: 0;">
                                    <img class="mw-100" src="~/vendorimages/@item.ImageName" alt="@item.ImageName" style="height: 486px; width: 730px;" />
                                  
                                </li>}
                                @*<li>
                                    <img src="/vendorimages/@ViewBag.image" alt="" uk-cover="" class="uk-cover">
                                </li>
                                <li>
                                    <img src="/vendorimages/@ViewBag.image" alt="" uk-cover="" class="uk-cover">
                                </li>*@
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-previous uk-icon uk-slidenav" href="#" uk-slidenav-previous="" uk-slideshow-item="previous"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-next uk-icon uk-slidenav" href="#" uk-slidenav-next="" uk-slideshow-item="next"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg></a>

                        </div>


                        <!--End step -->

                        <div uk-grid="" class="uk-grid">

                            <p class="uk-first-column"><b>@ViewBag.Productinfo.BusinessName</b> <span><br>@ViewBag.location.City, @ViewBag.location.State</span></p>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/heart.png">
                        </div>
                        <div uk-grid="" class="uk-grid">
                            <button class="tablink uk-first-column" onclick="openCity('Foodpackage', this, 'white')" id="defaultOpen" style="background-color: white;">Food Package</button>
                            <button class="tablink" onclick="openCity('Hall Dettails', this, 'white')">Hall Dettails</button>
                            <button class="tablink" onclick="openCity('Description', this, 'white')">Description</button>
                            <button class="tablink" onclick="openCity('gallery', this, 'white')">Gallery</button>
                            <button class="tablink" onclick="openCity('check Availability', this, 'white')">Check Availability</button>
                            <button class="tablink" onclick="openCity('Policies', this, 'white')">Policies</button>
                            <div id="London" class="tabcontent" style="display: none;">
                                <h3></h3>
                                <p>London is the capital city of England.</p>
                            </div>

                            <div id="Foodpackage" class="tabcontent uk-grid-margin uk-first-column" style="display: block;">
                                <h3></h3>

                                <div class="ui card">

                                    <a class="image" href="#">

                                    </a>
                                    <div class="content">
                                        <a class="header sticky" href="#"></a>
                                        <div class="meta">
                                            <button class="small ui button_xs">
                                                Small
                                            </button>
                                            <button class="small ui button_xs">
                                                Small
                                            </button>
                                            <button class="small ui button_xs">
                                                Small
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="Hall Details" class="tabcontent" style="display: none;">
                                <h3></h3>
                                <p>Tokyo is the capital of Japan.</p>
                            </div>

                            <div id="description" class="tabcontent" style="display: none;">
                                <h3></h3>

                            </div>
                            <div id="Gallery" class="tabcontent" style="display: none;">
                                <h3></h3>

                            </div>

                            <div id="Check Availability" class="tabcontent" style="display: none;">
                                <h3></h3>

                            </div>
                            <div id="Policies" class="tabcontent" style="display: none;">
                                <h3></h3>

                            </div>



                        </div>


                    </div>
                    <section id="description">
                        <h2>Description</h2>
                        <p>
                            @ViewBag.Productinfo.Description
                        </p>


                        <!-- /row -->

                        <hr>
                        <div class="room_type first">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img\gallery\hotel_list_1.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-8">
                                    <h4>Single Room</h4>
                                    <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
                                    <ul class="hotel_facilities">
                                        <li><img src="img\hotel_facilites_icon_2.svg" alt="">Single Bed</li>
                                        <li><img src="img\hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                                        <li><img src="img\hotel_facilites_icon_5.svg" alt="">Shower</li>
                                        <li><img src="img\hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                                        <li><img src="img\hotel_facilites_icon_8.svg" alt="">Hairdryer</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /rom_type -->
                        <div class="room_type gray">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img\gallery\hotel_list_2.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-8">
                                    <h4>Double Room</h4>
                                    <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
                                    <ul class="hotel_facilities">
                                        <li><img src="img\hotel_facilites_icon_3.svg" alt="">Double Bed</li>
                                        <li><img src="img\hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                                        <li><img src="img\hotel_facilites_icon_6.svg" alt="">Bathtub</li>
                                        <li><img src="img\hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                                        <li><img src="img\hotel_facilites_icon_8.svg" alt="">Hairdryer</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /rom_type -->
                        <div class="room_type last">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img\gallery\hotel_list_3.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-8">
                                    <h4>Suite Room</h4>
                                    <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
                                    <ul class="hotel_facilities">
                                        <li><img src="img\hotel_facilites_icon_3.svg" alt="">King size Bed</li>
                                        <li><img src="img\hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                                        <li><img src="img\hotel_facilites_icon_6.svg" alt="">Bathtub</li>
                                        <li><img src="img\hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                                        <li><img src="img\hotel_facilites_icon_9.svg" alt="">Swimming pool</li>
                                        <li><img src="img\hotel_facilites_icon_3.svg" alt="">Hairdryer</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /rom_type -->
                        
                        @*<table>
                            <tr>
                                <td>From : </td>
                                <td>
                                    <asp:DropDownList ID="ddFrom" runat="server"></asp:DropDownList>
                                </td>
                                <td>To : </td>
                                <td>
                                    <asp:DropDownList ID="ddTo" runat="server"></asp:DropDownList>
                                </td>
                                <td>
                                    <input type="button" value="Get Direction" id="btnGetDirection" />
                                </td>
                            </tr>
                        </table>*@
                        <br />
                            <h2>Address</h2>
                        <p>@ViewBag.Productinfo.Address,@ViewBag.Productinfo.Landmark,@ViewBag.Productinfo.City,@ViewBag.Productinfo.State,@ViewBag.Productinfo.ZipCode
                        </p>
                            <div id="map"></div>

                            <!-- End Map -->
                        </section>
                </div>

                <!-- /col -->


                <aside class="col-lg-4" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 879.5px;">
                        @if (@ViewBag.particularVenue != null && @ViewBag.particularVenue == "Yes" && @ViewBag.particularVenue != "")
                        {

                           <p class="box_text">MAIN AMENTIES</p>
                        <div class="box_detail">

@if (Request.QueryString["type"] == "Venues" || Request.QueryString["type"] == "Hotel" || Request.QueryString["type"] == "Resort" || Request.QueryString["type"] == "Convention Hall")
{
    if (@ViewBag.particularVenue.CockTails != null && @ViewBag.particularVenue.CockTails == "Yes" && @ViewBag.particularVenue.CockTails != "")
    {
                            <button class="small ui button_xs">
                                CockTails
                            </button>
    }
    if (@ViewBag.particularVenue.Room != null && @ViewBag.particularVenue.Room == "Yes" && @ViewBag.particularVenue.Room != "")
    {
                            <button class="small ui button_xs">
                                Room
                            </button>
    }
    if (@ViewBag.particularVenue.DecorationAllowed != null && @ViewBag.particularVenue.DecorationAllowed == "Yes" && @ViewBag.particularVenue.DecorationAllowed != "")
    {

                            <button class="small ui button_xs">
                               DecorationAllowed
                            </button>
    }
    if (@ViewBag.particularVenue.HallType != null && @ViewBag.particularVenue.HallType == "Yes" && @ViewBag.particularVenue.HallType != "")
    {

        <button class="small ui button_xs">
            HallType
        </button>
    }
    if (@ViewBag.particularVenue.Wifi != null && @ViewBag.particularVenue.Wifi == "Yes" && @ViewBag.particularVenue.Wifi != "")
    {

        <button class="small ui button_xs">
            Wifi
        </button>
    }
    if (@ViewBag.particularVenue.LiveCookingStation != null && @ViewBag.particularVenue.LiveCookingStation == "Yes" && @ViewBag.particularVenue.LiveCookingStation != "")
    {

        <button class="small ui button_xs">
            LiveCookingStation
        </button>
    }
}
                        </div>
                        }

                        <div class="uk-section uk-section-large uk-section-muted">
                            <div class="uk-container">
                                <img src="http://design.maa-aahwanam.com/panagea/images/left.png">
    <img src="http://design.maa-aahwanam.com/panagea/images/date.png">
    <img src="http://design.maa-aahwanam.com/panagea/images/right.png">
                                <form class="uk-form-stacked">

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text"><b>Guests</b></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="300">
                                        </div>

                                    </div>

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text"><b>Food Packages</b></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Super Veg(₹700/per plate)">
                                        </div><br>
                                        <h4 align="middle">₹<b>21000</b></h4>
                                        <div>


                                        </div>


                                        <div>

                                        </div>
                                    </div>

                                </form>

                                <button type="submit" value="email" name="command" class="btn_1 add_top_30">BOOK NOW&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png"></button>
                                <button type="submit" value="email" name="command" class="btn_1 add_top_30">CART&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/cart2.png"></button>




                            </div>

                        </div><br><div class="uk-section uk-section-large uk-section-muted">
                            <div class="uk-container">
                                <img src="http://design.maa-aahwanam.com/panagea/images/left.png">

                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <img src="http://design.maa-aahwanam.com/panagea/images/right.png">
                                <form class="uk-form-stacked">
                                    <br>

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text"><b>Guests</b></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="300">
                                        </div>

                                    </div>

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text"><b>Food Packages</b></label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Super Veg(₹700/per plate)">
                                        </div><br>
                                        <h4 align="middle">₹<b>21000</b></h4>
                                        <div>


                                        </div>


                                        <div>

                                        </div>
                                    </div>

                                </form>

                                <button type="submit" value="email" name="command" class="btn_1 add_top_30">BOOK NOW&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png"></button>
                                <button type="submit" value="email" name="command" class="btn_1 add_top_30">CART&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/cart2.png"></button>

                            </div>

                        </div>
                        <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 390px; height: 2120px;"></div></div>
                        <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                    </div>
                </aside>
            </div>




        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>


@section scripts{
<script src="~/newdesign/js/alertify.js"></script>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: @ViewBag.latitude, lng: @ViewBag.longitude};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsjFiM-zkPLiIYHwvsY5HqWqeEuZshpY&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>


    }