@model MaaAahwanam.Models.UserLogin
@using System.Globalization

@{
    ViewBag.Title = ":: Ahwanam ::";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
    var i = 0; var j = 0; var k = 0;
}
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="container-fluid userProfile">
        <div class="row innerPagesBg">
            <div class="col-12 col-sm-5 col-md-4 col-lg-3 sideBar">
                <a class="navbar-brand hidden-xs-down" href="/NHomePage"> <img src="~/newdesign/images/logo.png" alt="Logo"> </a>
                <ul>
                    <li> <a href="#" onclick="userProfile('userTicketDetails')">Dashboard</a> </li>
                    <li> <a href="#" onclick="userProfile('profileDetails')">Profile</a> </li>
                    <li> <a href="#" onclick="userProfile('profileSettings')">Settings</a> </li>
                    <li>
                        <a href="/NUserRegistration/SignOut">Logout</a> @*onclick="location.href='@Url.Action("SignOut", "NUserRegistration")'"*@
                        @*<a onclick="window.location.href = '/NUserRegistration/SignOut';">Logout</a>*@
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-7 col-md-8 col-lg-9 offset-sm-5 offset-md-4 offset-lg-3">
                <div class="row mx-2 my-4 bgWhite">
                    <div class="userTotalInfo p-3 w-100">
                        <div id="userTicketDetails">
                            <div class="row mx-0">
                                <h3 class="noteWorthybold">
                                    Ticket Details
                                    <div class="blackBorder"></div>
                                </h3>
                            </div>
                            <div class="row my-2 ticketButtons">
                                <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                    <span class="themeBgColorPrimary btnSecondary text-white" id="currentTickets" onclick="ticketHistory('currentTickets')">
                                        Current Tickets
                                    </span>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                    <span class="themeBgColor btnSecondary text-white" id="bookingHistory" onclick="ticketHistory('bookingHistory')">
                                        History
                                    </span>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                    <span class="themeBgColor btnSecondary text-white" id="wishList" onclick="ticketHistory('wishList')">
                                        Wishlist
                                    </span>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2 tableData" id="currentTickets">

                                @if (ViewBag.order != null)
                                {
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>OrderID</th>
                                                <th>Vendor Details</th>
                                                <th>Order Date</th>
                                                <th>Status</th>
                                                <th>Price</th>
                                                <th>Event Type</th>
                                                <th>Booking date</th>
                                                <th>Timeslot</th>
                                                <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.order)
                                        {
                                            <tr>
                                                <td>@(++i)</td>
                                                <td>@item.OrderId</td>
                                                <td>
                                                    <p class="productName mb-0">@item.BusinessName</p>
                                                </td>
                                                <td>
                                                    <div class="event-date-time">
                                                        <div class="event-dates">
                                                            @item.OrderDate.ToString("dd MMM yyyy")
                                                        </div>
                                                </td>
                                                <td>@item.Status</td>
                                                <td>
                                                    <div class="item-price">
                                                        <p>Rs.<span id="tprice" class="value">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "") </span></p>
                                                    </div>

                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.EventType</p>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.BookedDate.ToString("dd MMM yyyy")</p>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.attribute</p>
                                                        </div>

                                                </td>
                                                <td>
                                                    <div class="item-price">
                                                        <a href='/NUserProfile/ordercancel?orderid=@item.OrderId'>Cancel</a>&nbsp;&nbsp;<a onclick="alert(@item.OrderId)">Delete</a>
</div>
</td>
                                            </tr>
                                          
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                        <div class="row mx-0 mt-2 tableData" id="bookingHistory">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>OrderID</th>
                                        <th>Vendor Details</th>
                                        <th>Order Date</th>
                                        <th>Event Type</th>
                                        <th>Booking date</th>
                                        <th>Timeslot</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.orderhistory.Count != 0)
                                    {
                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <a href='/NUserProfile/ordercancel?orderid=@item.OrderId'>Cancel</a>&nbsp;&nbsp;<a onclick="alert(@item.OrderId)">Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                            <div class="row mx-0 mt-2 tableData" id="bookingHistory">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>OrderID</th>
                                            <th>Vendor Details</th>
                                            <th>Order Date</th>
                                            <th>Event Type</th>
                                            <th>Booking date</th>
                                            <th>Timeslot</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.orderhistory.Count != 0)
                                        {

                                            foreach (var item in ViewBag.orderhistory)
                                            {
                                                <tr>
                                                    <td>@(++j)</td>
                                                    <td>@item.OrderId</td>
                                                    <td>
                                                        <h4>@item.BusinessName</h4>

                                                    </td>
                                                    <td>
                                                        <div class="event-date-time">
                                                            <div class="event-dates">
                                                                @item.OrderDate.ToString("dd MMM yyyy")
                                                            </div>
                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.EventType</p>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.BookedDate.ToString("dd MMM yyyy")</p>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="item-price">
                                                            <p>@item.attribute</p>
                                                        </div>

                                                </td>
                                                <td>@item.Status</td>
                                                <td>
                                                    <div class="item-price">
                                                        <p>Rs.<span id="tprice" class="value">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</span></p>
                                                    </div>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9">
                                                    <p>No Past Orders</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mx-0 mt-2 tableData" id="wishList">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Service Type</th>
                                            <th>Business Name</th>
                                            <th>Wishlisted Date</th>
                                            <th>Status</th>
                                            <th>Manage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.whishlists.Count != 0)
                                        {

                                            foreach (var item in ViewBag.whishlists)
                                            {
                                                <tr>
                                                    <td>@(++k)</td>
                                                    <td>@item.ServiceType</td>
                                                    <td>
                                                        <h4>@item.BusinessName</h4>
                                                    </td>
                                                    <td>
                                                        <div class="event-date-time">
                                                            <div class="event-dates">
                                                                @item.WhishListedDate
                                                            </div>
                                                    </td>
                                                    <td>@item.Status</td>
                                                    <td>
                                                        <a>Remove</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6">
                                                    <p>No Wishlists</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div id="profileDetails">
                            <div class="row mx-0">
                                <h3 class="noteWorthybold">
                                    Profile Details
                                    <div class="blackBorder"></div>
                                </h3>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" id="username" value="@ViewBag.username" required>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email" value="@ViewBag.emailid" disabled>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Phone number" id="phoneno" value="@ViewBag.phoneno" required>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <span class="themeBgColorPrimary btnSecondary text-white" onclick="load('userdetails')">Save Changes</span>

                            </div>
                        </div>
                        <div id="profileSettings">
                            <div class="row mx-0">
                                <h3 class="noteWorthybold">
                                    Settings
                                    <div class="blackBorder"></div>
                                </h3>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="New Password" id="Password" required>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" id="Password1" required>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <span class="themeBgColorPrimary btnSecondary text-white" onclick="load1('password')">
                                    Save Changes
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">
            //$(document).ready(function () {
            //    $('body').attr("id", "userAuthentication");
            //});
            $('.container').hide();
            $('.search').hide();
        </script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('.userProfile').nextAll('.container, footer').css("display", "none");
            });

        </script>
        <script type="text/javascript">
            function userProfile(e) {
                $(".userTotalInfo > div").each(function () {
                    if ($(this).attr('id') == e) {
                        $(this).css("display", "block");
                    } else {
                        $(this).css("display", "none");
                    }
                });
            }

            function ticketHistory(e) {
                $(".ticketButtons span").each(function () {
                    if ($(this).attr('id') == e) {
                        $(this).removeClass(" themeBgColor").addClass(" themeBgColorPrimary");
                    } else {
                        $(this).removeClass(" themeBgColorPrimary").addClass(" themeBgColor");
                    }
                });

                $("#userTicketDetails div.tableData").each(function () {
                    if ($(this).attr('id') == e) {
                        $(this).css("display", "block");
                    } else {
                        $(this).css("display", "none");
                    }
                });
            }
        </script>

        <script>
            function load(userdetails) {

                var userdet = {

                    FirstName: document.getElementById("username").value,
                    UserPhone: document.getElementById("phoneno").value,
                }

                $.ajax({
                    url: '/NUserProfile/updatedetails',
                    type: "POST",
                    datatype: "json",
                    data: { userdetail: userdet },
                    success: function (response) {
                        if (response == 'success') {
                            //    alert('userdetails Updated Successfully');
                            alertify.alert("Profile Details Updated Successfully")
                        }
                    }
                })
            }



            function load1(password) {
                Password = document.getElementById("Password").value
                Password1 = document.getElementById("Password1").value

                if (Password != Password1) {
                    alertify.alert("passwords  are not match")
                }
                else {
                    var userLogin = {
                        Password: document.getElementById("Password").value

                    }
                    $.ajax({
                        url: '/NUserProfile/changepassword',
                        type: "POST",
                        datatype: "json",
                        data: { userLogin: userLogin },
                        success: function (response) {
                            if (response == 'success') {
                                //  alert('Password Updated Successfully');
                                alertify.alert("Password Updated Successfully")
                            }
                        }
                    })
                }
            }
        </script>
        <script>


    function alert(paid) {
        //var paid = $(this).find('input#pid').val();
        alertify.confirm("Are you sure You want to delete.",
          function () {
         //     alertify.success('Deleted');
              location.href = '/NUserProfile/orderdelete?orderid=' + paid + '&vid= @ViewBag.id'
          },
          function () {
          });
    }
</script>


}
}

}