@model MaaAahwanam.Models.UserLogin

@{
    ViewBag.Title = ":: Ahwanam ::";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid userProfile">
    <div class="row innerPagesBg">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3 sideBar">
            <a class="navbar-brand hidden-xs-down" href="/NHomePage"> <img src="~/newdesign/images/logo.png" alt="Logo"> </a>
            <ul>
                <li> <a href="#">Dashboard</a> </li>
                <li> <a href="#profileDetails">Profile</a> </li>
                <li> <a href="#profileSettings">Settings</a> </li>
                <li>
                    <a onclick="location.href='@Url.Action("SignOut", "NUserRegistration")'">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9 offset-sm-5 offset-md-4 offset-lg-3">
            <div class="row mx-2 my-4 bgWhite">
                <div class="userTotalInfo p-3 w-100">
                    <div id="userTicketDetails">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Ticket Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColorPrimary btnSecondary text-white">
                                    Current Tickets
                                </span>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColor btnSecondary text-white">
                                    History
                                </span>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColor btnSecondary text-white">
                                    Wishlist
                                </span>
                            </div>
                        </div>
                        <div class="row mx-0 mt-2 tableData">

                            @if (ViewBag.Cartlist.Count != 0)
                            {
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>Event/Services</th>
                                            <th>Vendor details</th>
                                            <th>Event start & End Date</th>
                                            <th>Status</th>
                                            <th>Price</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int j = 0;
                                            foreach (var item in ViewBag.Cartlist)
                                            {
                                                j++;
                                                <tr>

                                                    <td>@item.Description</td>
                                                    <td>
                                                        <h4>@item.BusinessName</h4>
                                                        <p>
                                                            @item.Landmark<br>
                                                            @item.Address, @item.City,<br>
                                                            @item.ContactNumber
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <div class="event-date-time">
                                                            <div class="event-dates">

                                                                @if (item.eventstartdate != null && item.eventenddate != null)
                                                                {
                                                                    <p>
                                                                        Event Start Date : @item.eventstartdate.ToString("dd MMM yyyy")<br /> Event End Date&nbsp;&nbsp;:&nbsp;@item.eventenddate.ToString("dd MMM yyyy")
                                                                    </p>}
                                                                @if (item.eventstartdate == null && item.eventenddate == null)
                                                                {
                                                                    <p> Event Start Date : Not Available<br /> Event End Date&nbsp;&nbsp;:&nbsp;Not Available </p>
                                                                }
                                                            </div>
                                                    </td>
                                                    <td>@item.Status</td>
                                                    <td>
                                                        <div class="item-price">
                                                            @if (item.Isdeal == false)
                                                            {
                                                                <p>Rs.<span id="tprice @j" class="value">@item.TotalPrice</span></p>
                                                            }
                                                            else
                                                            {
                                                                <p>Original Price:Rs.@item.ServicePrice</p>
                                                                <p>Deal Price:Rs.<span id="tprice @j" class="value">@item.TotalPrice</span></p>
                                                            }
                                                        </div>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                            }
                        </div>
                    </div>
                    <div id="profileDetails">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Profile Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" id="username">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="email" value="@ViewBag.emailid" disabled>
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="phoneno" id="phoneno">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <span class="themeBgColorPrimary btnSecondary text-white" onclick="load('userdetails')">Save Changes</span>

                        </div>
                    </div>
                    <div id="profileSettings">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Settings
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="New Password" id="Password">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <span class="themeBgColorPrimary btnSecondary text-white" onclick="load1('password')">
                                Save Changes
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.userProfile').nextAll('.container, footer').css("display","none");
        });

    </script>
    <script>
    function load(userdetails) {
        alert('sireesh');
        var userdet = {

            FirstName: document.getElementById("username").value,
            UserPhone: document.getElementById("phoneno").value,
        }

        $.ajax({
            url: '/NUserProfile/updatedetails',
            type: "POST",
            datatype: "json",
            data: { userdetail: userdet },
            success: function (response) {
                if (response == 'success') {
                    alert('userdetails Updated Successfully');
                    //var url = '/NUserProfile/changepassword';
                    //$('#profileSettings').empty().load(url);
                    //successmsg(response.msg);
                }
            }})
    }



    function load1(password) {

        var userLogin = {
            Password :document.getElementById("Password").value

        }
        alert(document.getElementById("Password").value),
        $.ajax({
           url: '/NUserProfile/changepassword',
            type: "POST",
            datatype: "json",
            data: { userLogin: userLogin },
            success: function (response) {
                if (response == 'success') {
                    alert('Password Updated Successfully');
                    //var url = '/NUserProfile/changepassword';
                    //$('#profileSettings').empty().load(url);
                    //successmsg(response.msg);
                }
            }})
        }
    </script>
}
}

