
@{
    ViewBag.Title = "Manage Store Front";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}


<div class="page-content container-fluid">
    <form method="post">
        <div class="row my-30">
            <div class="col-sm-12 col-md-3">
                @if (ViewBag.vid != "" && ViewBag.vid != null)
                {
                    <select class="form-control" id="serviceselection1" name="serviceselection1" disabled>
                        <option>Select Service Type</option>
                        <option value="Venue">Venue</option>
                        <option value="Catering">Catering</option>
                        <option value="Photography">Photography</option>
                        <option value="Decorator">Decorator</option>
                        <option value="Other">Others</option>
                    </select>
                    <input type="hidden" id="serviceselection" name="serviceselection" value="@ViewBag.category"/>
                }
                else
                {
                    <select class="form-control" id="serviceselection" name="serviceselection">
                        <option>Select Service Type</option>
                        <option value="Venue">Venue</option>
                        <option value="Catering">Catering</option>
                        <option value="Photography">Photography</option>
                        <option value="Decorator">Decorator</option>
                        <option value="Other">Others</option>
                    </select>
                }
            </div>
            @if (ViewBag.subcategory == "")
            {
                <div class="col-sm-12 col-md-3">
                    <select class="form-control" id="subcategory" name="subcategory" style="display:none"></select>
                </div>
                <div class="col-sm-12 col-md-2"><button type="submit" class="btn btn-block btn-primary" name="command" value="update">Update</button></div>
            }
            else
            {
                <div class="col-sm-12 col-md-3">
                    @*<select class="form-control" id="subcategory" name="subcategory" style="display:none"></select>*@
                    <input type="text" class="form-control" value="@ViewBag.subcategory" readonly />
                </div>
                @*<div class="col-sm-12 col-md-2"><button type="submit" class="btn btn-block btn-primary" name="command" value="add">Update</button></div>*@
            }

        </div>
    </form>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">


                @if (ViewBag.display == "1")
                {
                    <ul class="nav nav-tabs margin-right-25" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true">About Us</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLefSix" aria-controls="exampleTabsLefSix" role="tab" aria-expanded="false">Your Address</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false">Amenities</a></li>
                        @if (Request.QueryString["category"] == "Venue")
                        {
                            <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false">Hall Details</a></li>
                        }
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftFour" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">Address</a></li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#exampleTabsLeftFive" aria-controls="exampleTabsLeftFive" role="tab">Gallery</a>
                        </li>
                    </ul>
                    <div class="tab-content padding-vertical-15">
                        <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Business Name</label>
                                    <input type="text" class="form-control" id="BusinessName" name="BusinessName" value="@ViewBag.Vendor.BusinessName" readonly /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Mobile</label>
                                    <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" value="@ViewBag.Vendor.ContactNumber" /><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Email ID</label>
                                    <input type="text" class="form-control" id="EmailId" name="EmailId" value="@ViewBag.Vendor.EmailId" readonly /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Landline</label>
                                    <input type="text" class="form-control" id="LandlineNumber" name="LandlineNumber" value="@ViewBag.Vendor.LandlineNumber" /><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Website Link</label>
                                    <input type="text" class="form-control" id="Url" name="Url" value="@ViewBag.Vendor.Url" /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Description</label>
                                    <textarea class="form-control" id="mainDescription" name="mainDescription">@ViewBag.Vendor.Description</textarea><br>
                                </div>
                            </div>

                            @*<h4 class="example-title">Business Name</h4>
                                <input type="text" class="form-control" id="BusinessName" name="BusinessName" value="@ViewBag.Vendor.BusinessName" readonly /><br>
                                <h4 class="example-title">Mobile</h4>
                                <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" value="@ViewBag.Vendor.ContactNumber" /><br>
                                <h4 class="example-title">Email ID</h4>
                                <input type="text" class="form-control" id="EmailId" name="EmailId" value="@ViewBag.Vendor.EmailId" readonly /><br>
                                <h4 class="example-title">Land Line</h4>
                                <input type="text" class="form-control" id="LandlineNumber" name="LandlineNumber" value="@ViewBag.Vendor.LandlineNumber" /><br>
                                <h4 class="example-title">URL</h4>
                                <input type="text" class="form-control" id="Url" name="Url" value="@ViewBag.Vendor.Url" /><br>
                                <h4 class="example-title">Description</h4>
                                <textarea class="form-control" id="mainDescription" name="mainDescription" rows="3">@ViewBag.Vendor.Description</textarea><br>*@
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-primary" onclick="updatedetails('one')">Submit</button>
                            </div>
                        </div>


                        <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                            <div class="row mb-30" id="VenueAmenities" style="display:none">
                                <div class="col-xs-12 col-md-4">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="CockTails">
                                        <label for="CockTails">CockTails</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Rooms">
                                        <label for="Rooms">Rooms</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Wifi">
                                        <label for="Wifi">Wifi</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="LiveCookingStation">
                                        <label for="LiveCookingStation">Live Cooking Station</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="DecorationAllowed">
                                        <label for="DecorationAllowed">Decoration Allowed</label>
                                    </div>
                                </div>
                            </div>

                            @*<div id="VenueAmenities" style="display:none">
                                    <h2>Venue</h2>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="CockTails">
                                        <label for="CockTails">CockTails</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Rooms">
                                        <label for="Rooms">Rooms</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Wifi">
                                        <label for="Wifi">Wifi</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="LiveCookingStation">
                                        <label for="LiveCookingStation">Live Cooking Station</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="DecorationAllowed">
                                        <label for="DecorationAllowed">Decoration Allowed</label>
                                    </div>
                                </div>*@
                            <div class="row mb-30" id="CateringAmenities" style="display:none">
                                <div class="col-xs-12 col-md-4">
                                    @*<h2>Catering</h2>*@
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="MineralWaterIncluded">
                                        <label for="MineralWaterIncluded">Mineral Water Included</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="TransportIncluded">
                                        <label for="TransportIncluded">Transport Included</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="LiveCookingStation">
                                        <label for="LiveCookingStation">Live Cooking Station</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-30" id="PhotographyAmenities" style="display:none">
                                <div class="col-xs-12 col-md-4">
                                    @*<h2>Photography</h2>*@
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="PreWeddingShoot">
                                        <label for="PreWeddingShoot">Pre Wedding Shoot</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="DestinationPhotography">
                                        <label for="DestinationPhotography">Destination Photography</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-30" id="DecoratorAmenities" style="display:none">
                                <div class="col-xs-12 col-md-4">
                                    @*<h2>Decorator</h2>*@
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Archway">
                                        <label for="Archway">Archway</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Altararrangements">
                                        <label for="Altararrangements">Altar arrangements</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Pewbows">
                                        <label for="Pewbows">Pew bows</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Aislerunner">
                                        <label for="Aislerunner">Aisle runner</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Headpieces">
                                        <label for="Headpieces">Head pieces</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Centerpieces">
                                        <label for="Centerpieces">Center pieces</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Chaircovers">
                                        <label for="Chaircovers">Chair covers</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Headtabledecor">
                                        <label for="Headtabledecor">Head table decor</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Backdrops">
                                        <label for="Backdrops">Backdrops</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Ceilingcanopies">
                                        <label for="Ceilingcanopies">Ceiling canopies</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Mandaps">
                                        <label for="Mandaps">Mandaps</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Mehendi">
                                        <label for="Mehendi">Mehendi</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Sangeet">
                                        <label for="Sangeet">Sangeet</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Chuppas">
                                        <label for="Chuppas">Chuppas</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Lighting">
                                        <label for="Lighting">Lighting</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Giftsforguests">
                                        <label for="Giftsforguests">Gifts for guests</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Gifttable">
                                        <label for="Gifttable">Gift table</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="BasketorBoxforgifts">
                                        <label for="BasketorBoxforgifts">Basket or Box for gifts</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Placeorseatingcards">
                                        <label for="Placeorseatingcards">Place or seating cards</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Cardecoration">
                                        <label for="Cardecoration">Car decoration</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Bridesbouquet">
                                        <label for="Bridesbouquet">Brides bouquet</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Bridesmaidsbouquets">
                                        <label for="Bridesmaidsbouquets">Bridesmaids bouquets</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Maidofhonorbouquet">
                                        <label for="Maidofhonorbouquet">Maid of honor bouquet</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Throwawaybouquet">
                                        <label for="Throwawaybouquet">Throw away bouquet</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Corsages">
                                        <label for="Corsages">Corsages</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Boutonnieres">
                                        <label for="Boutonnieres">Boutonnieres (for groom, fathers, grandfathers, best man, groom’s men)</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Decora">
                                        <label for="Decora">Decora</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="Justmarriedclings">
                                        <label for="Justmarriedclings">Just married clings</label>
                                    </div>
                                </div>
                            </div>
                            <div id="MehendiAmenities" style="display:none">
                                <h2>Mehendi</h2>
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="PriorBookingsDays">
                                    <label for="PriorBookingsDays">Prior Booking Days</label>
                                </div>
                            </div>
                            <div id="PanditAmenities" style="display:none">
                                <h2>Pandit</h2>
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="PriorBookingsDays">
                                    <label for="PriorBookingsDays">Prior Booking Days</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-primary">Submit</button>
                            </div>
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
                            @if (Request.QueryString["category"] == "Venue")
                            {
                                <form class="">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="inputBasicFirstName">Name of the Hall</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name of the Hall" autocomplete="off" value="@ViewBag.service.name">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="inputBasicFirstName">Hall Dimentions</label>
                                            <input type="text" class="form-control" id="Dimentions" name="Dimentions" placeholder="Hall Dimentions" autocomplete="off" value="@ViewBag.service.Dimentions">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Minimum Seating Capacity</label>
                                            <input type="text" class="form-control" id="Minimumseatingcapacity" name="Minimumseatingcapacity" placeholder="Minimum Seats" autocomplete="off" value="@ViewBag.service.Minimumseatingcapacity">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Maximum Seating Capacity</label>
                                            <input type="text" class="form-control" id="Maximumcapacity" name="Maximumcapacity" placeholder="Maximum Seats" autocomplete="off" value="@ViewBag.service.Maximumcapacity">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="inputBasicFirstName">Describe Briefly About Hall</label>
                                        <textarea class="form-control" placeholder="Describe Briefly About Hall" id="Description" name="Description">@ViewBag.service.Description</textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" onclick="updatedetails('three')">Submit</button>
                                    </div>
                                </form>
                            }
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftFour" role="tabpanel">
                            <form class="">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label" for="inputBasicFirstName">Address</label>
                                        <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" autocomplete="off" value="@ViewBag.service.Address">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="inputBasicFirstName">Landmark</label>
                                        <input type="text" class="form-control" id="Landmark" name="Landmark" placeholder="Landmark" autocomplete="off" value="@ViewBag.service.Landmark">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="inputBasicFirstName">City</label>
                                        <input type="text" class="form-control" id="City" name="City" placeholder="City" autocomplete="off" value="@ViewBag.service.City">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label" for="inputBasicFirstName">State</label>
                                        <input type="text" class="form-control" id="State" name="State" placeholder="State" autocomplete="off" value="@ViewBag.service.State">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">Zip Code</label>
                                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" placeholder="ZipCode" autocomplete="off" value="@ViewBag.service.ZipCode">
                                    </div>
                                    @if (Request.QueryString["category"] == "Venue")
                                    {
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Geo Location</label>
                                            <input type="text" class="form-control" id="GeoLocation" name="GeoLocation" placeholder="Geo Location" autocomplete="off" value="@ViewBag.service.GeoLocation">
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="updatedetails('four')">Submit</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="exampleTabsLefSix" role="tabpanel">
                            <form class="">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label" for="inputBasicFirstName">Address</label>
                                        <input type="text" class="form-control" id="vAddress" name="vAddress" placeholder="Address" autocomplete="off" value="@ViewBag.Vendor.Address">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">Landmark</label>
                                        <input type="text" class="form-control" id="vLandmark" name="vLandmark" placeholder="Landmark" autocomplete="off" value="@ViewBag.Vendor.Landmark">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">City</label>
                                        <input type="text" class="form-control" id="vCity" name="vCity" placeholder="City" autocomplete="off" value="@ViewBag.Vendor.City">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">State</label>
                                        <input type="text" class="form-control" id="vState" name="vState" placeholder="State" autocomplete="off" value="@ViewBag.Vendor.State">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">Zip Code</label>
                                        <input type="text" class="form-control" id="vZipCode" name="vZipCode" placeholder="ZipCode" autocomplete="off" value="@ViewBag.Vendor.ZipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="updatedetails('six')">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="exampleTabsLeftFive" role="tabpanel">
                            <input type="hidden" id="Imagedescription" name="Imagedescription" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center upload-file padding-top-10 padding-bottom-10">
                                    <h4>Select Below</h4>
                                    <input type="file" class="opacity-0" name="vamsi" id="fileUpload1" multiple>
                                    <button class="btn btn-secondary">Click Here</button>
                                </div>
                            </div>
                            <div class="row my-30" id="dvPreview">
                                @foreach (var item in ViewBag.images)
                                {
                                    <div class='col-xs-6 col-sm-4 col-md-3 blocks'>
                                        <div class='block thumbnail'>
                                            <div class='row thumb-img'>
                                                <img style='height:110px;width:110px' src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
                                            </div>
                                            <div class='row my-30'>
                                                <div class='form-group-1 col-xs-12 col-sm-12 col-md-12'>
                                                    <input type='text' class='form-control' placeholder='Descrption:' value="@item.Imagedescription">
                                                </div>
                                            </div>
                                            <div class='hr-line border-default-bottom'></div>
                                            <div class='row text-center'>
                                                <div class='col-xs-12 col-md-12'>
                                                    <p class='red'>
                                                        <small><i class='fa fa-times padding-right-5 primaryColor' aria-hidden='true'></i>Remove Photo</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <button type="submit" class="btn btn-primary next">Save</button>
                                </div>
                            </div>
                            <div class="blockDescrption" style="display:none"></div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#serviceselection').on('change', function () {
            var selectedvalue = $(this).val();
            filterdropdown(selectedvalue);
        });

        function filterdropdown(selectedvalue) {
            var id = '' + selectedvalue + 'Amenities';
            $('#' + id + '').css('display', 'block');
            var subcat = [];
            $.ajax({
                url: "/NVendorManageStoreFront/filtercategories?type=" + selectedvalue,
                success: function (result) {
                    if (result == "Fail") {
                        alert("Failed to Fetch data");
                    }
                    else {
                        var selecttag = $('#subcategory').empty();
                        $.each(result.split(','), function (i, option) {
                            subcat[i] = "<option value='" + result.split(',')[i] + "'>" + result.split(',')[i] + "</option>";
                        });
                        $('#subcategory').empty().append(subcat);
                        $('#subcategory').css('display', 'block');
                    }
                },
                error: function (data)
                { alert("Something Went Wrong Try Again Later"); }
            });
        }
    </script>

    <script>
        function updatedetails(val) {
            var vendormaster = {
                BusinessName: $('#BusinessName').val(),
                ContactNumber: $('#ContactNumber').val(),
                EmailId: $('#EmailId').val(),
                LandlineNumber: $('#LandlineNumber').val(),
                Url: $('#Url').val(),
                Description: $('#mainDescription').val(),
                Address: $('#vAddress').val(),
                Landmark: $('#vLandmark').val(),
                City: $('#vCity').val(),
                State: $('#vState').val(),
                ZipCode: $('#vZipCode').val()
            }

            var vendorVenue = {
                Address: $('#Address').val(),
                Landmark: $('#Landmark').val(),
                City: $('#City').val(),
                State: $('#State').val(),
                ZipCode: $('#ZipCode').val(),
                GeoLocation: $('#GeoLocation').val(),
                name: $('#name').val(),
                Dimentions: $('#Dimentions').val(),
                Minimumseatingcapacity: $('#Minimumseatingcapacity').val(),
                Maximumcapacity: $('#Maximumcapacity').val(),
                Description: $('#Description').val()
            }
            var category = '@Request.QueryString["category"]';//$('#serviceselection').val();
            var subcategory = '@Request.QueryString["subcategory"]';//$('#subcategory').val();
            var vendorid = '@ViewBag.id';
            var vendorsubid = '@Request.QueryString["vid"]';
            //alert(val);
            $.ajax({
                url: '/NVendorManageStoreFront/UpdateStoreFront?command=' + val + '&&category=' + category + '&&subcategory=' + subcategory + '&&id=' + vendorid + '&&vid=' + vendorsubid,
                type: "POST",
                datatype: "json",
                data: { vendormaster: vendormaster, vendorVenue: vendorVenue },
                success: function (response) {
                    if (response.Result == 'success') {

                    }
                    else if (response.Result == 'staffadded') {

                    }
                    else {
                        alert(response);
                    }
                },
                error: function (er) {
                    errormsg("System Encountered Internal Error!!! Try Again After Some Time");
                }
            });
        }
    </script>

    @if (ViewBag.display == "1")
    {
        <script>
            var selectedcategory = '@ViewBag.category';//$('#serviceselection').val();
            var selectedsubcategory = '@ViewBag.subcategory';//$('#subcategory').val();
            $('#serviceselection1 > option').each(function () {
                if ($(this).text() == selectedcategory) $(this).parent('select').val($(this).val())
            })
            filterdropdown(selectedcategory);
            $('#subcategory').css('display', 'block');
            //$('#subcategory > option').bind('click', function () {
            //    alert("hi");
            //    if ($(this).text() == selectedsubcategory) $(this).parent('select').val($(this).val())
            //});
            //$(document).find('#subcategory > option').bind('click', function () {
            //    alert("hi");
            //});
            //alert("hi1");
            //$(document).on('load', function () {
            //    $('#subcategory').css('display', 'block');
            //    $('#subcategory > option').bind('click', function () {
            //        alert("hi");
            //        if ($(this).text() == selectedsubcategory) $(this).parent('select').val($(this).val())
            //    })
            //});

            //$(document).on('load', '#subcategory', function () {
            //    alert("subcategory alert");
            //});
        </script>
        <script type="text/javascript">
            /*=============== Image Block remove =============*/
            $(document).on('click', "p.red", function () {
                //$("p.red").click(function(){
                var x = $(this).parents(".blocks").css({ "transform": "translateX(1000px)", "opacity": "0" });
                setTimeout(function () { x.remove(); }, 200);
                var imgname = $(this).parents("div.row").parents("div.thumbnail").find("div.thumb-img").children("img").attr('alt');
                var id = '@ViewBag.id';
                var vid = '@ViewBag.vid';
                $.ajax({
                    url: '/NVendorManageStoreFront/Removeimage',//?src=' + imgname.replace('/vendorimages/', '')+'id='+id+'vid='+vid,
                    type: 'POST',
                    data: JSON.stringify({ src: imgname.replace('/vendorimages/', ''), id: id, vid: vid }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            alert('Image deleted successfully!');
                        }
                        else {
                            alert('Failed!');
                        }
                    },
                    error: function (data)
                    { errormsg("Failed!!!"); }
                });
            });
            /*=============== Image Block remove =============*/

            /*=============== Image upload and Placed =============*/

            $("#fileUpload1").change(function () {
                var filecount = $(this)[0].files.length;
                if (filecount <= 8) {
                    if (typeof (FileReader) != "undefined") {
                        var dvPreview = $("#dvPreview");
                        //dvPreview.html("");
                        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                        var params = dvPreview.serializeArray();
                        //Getting Files Collection
                        var files = $("#fileUpload1")[0].files;

                        //Declaring new Form Data Instance
                        var formData = new FormData();

                        //Looping through uploaded files collection in case there is a Multi File Upload. This also works for single i.e simply remove MULTIPLE attribute from file control in HTML.
                        for (var i = 0; i < files.length; i++) {
                            formData.append("file", files[i]);
                        }

                        $.ajax({
                            url: "/VendorSignUp2/UploadImages?id=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["type"]",
                            method: "post",
                            data: formData,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function (data) {
                                //Firing event if File Upload is completed!
                                alert("Upload Completed");
                                $("#File1").val("");
                                location.reload();
                            },
                            error: function (error) { alert("Try Again After Sometime"); }
                        })
                    } else {
                        alert("This browser does not support HTML5 FileReader.");
                    }
                }
                else {
                    alert("Max 8 Photos Allowed at a time");
                }
            });
            /*=============== Image upload and Placed =============*/

            /*=============== Blocks Radio name and Descrption save in hidden variable =============*/

            //$(document).on('click','div.radio:first-of-type',function(){
            $('#dvPreview .blocks').find('div.radio').change(function () {
                $("#dvPreview .blocks div.radio:last-of-type input[type='radio']").each(function () {
                    $(this).attr('checked', 'checked');
                });
                $(this).next("div.radio").find("input[type='radio']").prop('checked', false);
            });

            $(".next").click(function (e) {
                $('.radioName').empty();
                $('.blockDescrption').empty();
                e.preventDefault();
                var arr;
                var BlockLen = $("#dvPreview .blocks").length;
                $("#dvPreview .blocks").find('input[type="text"]').each(function () {
                    var v = $.trim($(this).val());
                    if (v != "") {
                        $(".blockDescrption").append($(this).val() + ',');
                    }
                });
                var blockDescrption = $('.blockDescrption').text();
                $('#Imagedescription').val($('.blockDescrption').text().slice(0, -1));

                $.ajax({
                    url: "/NVendorManageStoreFront/UpdateImageInfo?id=@ViewBag.id&&vid=@ViewBag.vid&&description=" + $('#Imagedescription').val() + "",
                    method: "post",
                    data: $('#Imagedescription').val(),
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (data) {
                        alert("Image Description Updated");
                    },
                    error: function (error) { alert("Try Again After Sometime"); }
                });
            });

            /*=============== Blocks Radio name and Descrption save in hidden variable =============*/
        </script>
    }
}