@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
    }*@
@using MaaAahwanam.Web.Models
@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>:: Ahwanam ::</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">
    @*<img src="~/newdesignstyles/images/favicon.ico" />*@
    <link rel="apple-touch-icon" type="image/x-icon" href="~/newdesignstyles/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/newdesignstyles/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/newdesignstyles/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/newdesignstyles/images/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">
    @*<link href="http://design.maa-aahwanam.com/panagea/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">*@

    <!-- SPECIFIC CSS -->
    <link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">

    <!-- ALTERNATIVE COLORS CSS -->
    @*<link href="#" id="colors" rel="stylesheet">*@

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style>
        .nice-select {
            width: 315px;
        }

            .nice-select .list {
                height: 250px;
                width: 315px;
                overflow: visible;
                overflow-x: hidden;
                overflow-y: auto;
            }

        #other {
            height: 26px;
            width: 200px;
            border: solid 1px black;
            padding-left: 0px;
        }

        input.form-control {
            font-weight: 700;
        }

        .box_grid figure small5 {
            right: -7px;
            top: 0px;
            padding: 0px 33px 0px;
        }

        .vendorimg {
            max-width: 100%;
            height: 177px;
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
        }

        table.priceslist tr td {
            border: 0px;
            width: 260px;
        }

            table.priceslist tr td span {
                float: right;
            }

                table.priceslist tr td span strong {
                    font-size: 16px;
                }

        .box_grid .wrapper {
            padding: 0px;
        }

        .box_grid ul {
            padding: 0px 0px;
        }

        .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
            margin: 0 0 0px 0;
        }

        .th, td {
            padding: 0px;
            text-align: left;
        }
    </style>
    @using System.Globalization
</head>
<body>
    <div id="page">
        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo-sticky.png" width="70" height="36" data-retina="true" alt="" class="logo_normal">
                </a>
            </div>
            @*<ul id="top_menu">
                    <li><a href="#" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
                    <li><a href="" id="sign-in" class="login" title="Sign In">Sign In</a></li>
                    <li><a href="#" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
                </ul>*@
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                @*@{Html.RenderAction("ItemsCartViewBindingLayout", "Home");}*@

                <ul>
                    <li>
                        @using MaaAahwanam.Web.Custom
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            var user = (CustomPrincipal)HttpContext.Current.User;
                            if (user.UserType == "Admin")
                            {
                                Response.Redirect("/Admin/Login");
                            }
                            if (user.UserType == "Vendor")
                            {
                                //Response.Redirect("/VDashboard/changeid?id=" + user.UserId + "");
                                Response.Redirect("/VDashboard/Index");
                            }
                            if (user.UserType == "User")
                            {
                                <span><a  id="sign-in" style="font-size:16px; font-weight: 700;text-transform:capitalize" class="login">@ViewBag.username</a></span>
                                <ul>
                                    <li><a href="/Home/SignOut">Log Out</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <span><a href="#sign-in-dialog" id="sign-in" style="font-size:16px" class="login" title="Sign In">Login/Register</a></span>
                        }
                    </li>
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <span> <a class="login" style="font-size:16px; font-weight: 700" href="/cart/Index">Cart(@ViewBag.cartCount)</a> </span>
                        </li>
                    }
                    <li>
                        <a href="#0" class="btn_5 add_top_30" style="font-weight: 700">Call: +91 7032199007</a>
                    </li>
                    <li><span><img src="http://design.maa-aahwanam.com/panagea/india.png" /></span>
                </ul>
            </nav>

        </header>
        <!-- /header -->
        <main>
            <section class="hero_single version_2">
                <div class="wrapper">
                    <div class="container">

                        @*<form method="post">*@

                        @*<div align="left">
                                <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/venues.png" />Venues</button>
                                <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/catering.png" />Catering</button>
                            </div>*@

                        <div class="row no-gutters custom-search-input-2">

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Location" id="loc" name="loc" value="Hyderabad">
                                    <img src="http://design.maa-aahwanam.com/panagea/images/icons/location.png">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                @*<input class="form-control" type="text" placeholder="What type of event" value="" required="" autocomplete="off">*@
                                @*<select class="form-control" required id="selectevent" name="selectevent">
                                        <option value="" disabled selected>Select Event</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Party">Party</option>
                                        <option value="Corporate">Corporate</option>
                                        <option value="Baby Function">Baby Function</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Engagement">Engagement</option>
                                        <option value="Other">Other</option>
                                    </select>*@
                                <div class="nice-select" tabindex="0"style="background-color: #fff;" >
                                    <span class="current" style="padding-left:20px;font-weight:700;">Select Event</span>
                                    <ul class="list">
                                        <li data-value="" class="option disabled">Select Event</li>
                                        <li data-value="Wedding" class="option selected">Wedding</li>
                                        <li data-value="Party" class="option">Party</li>
                                        <li data-value="Corporate" class="option">Corporate</li>
                                        <li data-value="Baby Function" class="option">Baby Function</li>
                                        <li data-value="Birthday" class="option">Birthday</li>
                                        <li data-value="Engagement" class="option">Engagement</li>
                                        <li data-value="Other" class="option">Other &emsp;<input type="text" id="other"></li>
                                    </ul>
                                </div>
                                <img src="http://design.maa-aahwanam.com/panagea/images/icons/checklist.png">
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input class="form-control" type="number" id="guests" name="guests" placeholder="Guests">
                                    <img src="http://design.maa-aahwanam.com/panagea/images/icons/family.png">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input class="form-control" id="datetimepicker1" type="text" name="datetimepicker1" placeholder="Date" required>
                                    <img src="http://design.maa-aahwanam.com/panagea/images/icons/calendar.png">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <input type="submit" id="btnsearch" class="btn_search" value="Search">
                            </div>

                        </div>
                        <!-- /row -->
                        @*</form>*@
                    </div>
                </div>
            </section>
            <div class="container-fluid-1 px-0" id="deals">
                <div class="margin-top-50 margin-bottom-50 themeBgColor text-white deals">
                    <div class="row mx-0">


                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-12">

                                <div class="row-1">
                                    <figure>
                                        <img src="http://design.maa-aahwanam.com/panagea/images/left.png" alt="" width="42" height="42">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    </figure>
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/wedding.png"><br><br><b>WEDDING</b></p>&emsp;&emsp;&emsp;&emsp;
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/DECORATOR2.png"><br><br><b>DECORATOR</b></p>&emsp;&emsp;&emsp;&emsp;
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/FLORIST2.png"><br><br><b>FLORIST</b></p>&emsp;&emsp;&emsp;&emsp;
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/cocktail.png"><br><br><b>COCKTAIL PARTY</b></p>&emsp;&emsp;&emsp;&emsp;
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/enggement.png"><br><br><b>ENGAGEMENT</b></p>&emsp;&emsp;&emsp;&emsp;
                                    <p><img src="http://design.maa-aahwanam.com/panagea/images/buffet.png"><br><br><b>CATERING</b></p>&emsp;&emsp;&emsp;&emsp;&emsp;
                                    <figure>
                                        <img src="http://design.maa-aahwanam.com/panagea/images/right.png" alt="" width="42" height="42">
                                    </figure>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- /container -->
            <!-- /bg_color_2 -->
            <!-- /container -->
            @*<div class="bg_color_1">

                    <div class="container margin_60_35">
                        <center><h3><b>HOW IT WORKS</b></h3></center><br>
                        <div class="row">

                            <div class="col-md-4">
                                <a href="#0" class="boxed_list">
                                    <div class="numberCircle"><b>1</b></div>
                                    <h4>Select a package & Shortlist your venues</h4>

                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#0" class="boxed_list">
                                    <div class="numberCircle"><b>2</b></div>
                                    <h4>Fill your basic details to block venue</h4>

                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#0" class="boxed_list">
                                    <div class="numberCircle"><b>3</b></div>
                                    <h4>Pay the final amount & start celebrations</h4>

                                </a>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>*@

            <div class="bg_color_2">

                <div class="container margin_80_35">
                    <div class="main_title_2">
                        <BR><BR><BR><BR>
                        <h6 class="uk-h6">
                            <B>HOW IT WORKS</B>
                        </h6><p>Make A Story Of Painless Celebrations</p>
                    </div><br><br><br>
                    <div class="row">

                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <img src="http://design.maa-aahwanam.com/panagea/images/1circle.png">
                                <h4>Select a package &amp; Shortlist your venues</h4>

                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <img src="http://design.maa-aahwanam.com/panagea/images/2circle.png">
                                <h4>Fill your basic details to block venue</h4>

                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <img src="http://design.maa-aahwanam.com/panagea/images/3circle.png">
                                <h4>Pay the final amount &amp; start celebrations</h4>

                            </a>
                        </div>
                    </div>
                    <!-- /row --><br><br><br>
                </div>
                <!-- /container -->
            </div>
            <!-- /bg_color_1 -->


            <div class="container-fluid_1 margin_80_0_0">
                <div class="main_title_2">
                    @*<span><em></em></span>*@
                    <h6 class="uk-h6">
                        BEST DEALS FOR YOU
                    </h6>
                    <p>Get Best Deals Now From Our Website, Checkout.</p>
                </div>
                <div class="container margin_60_35">

                    <div class="wrapper-grid">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/green.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        <small>Upto 30%Off On Luxury Banquet Halls</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->

                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid_0">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banquet.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"></div></a>
                                        <small>Best Deals From $30 / Plate</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/convention1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        <small>Best Deals From $30 / Plate</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-sm-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banner1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-sm-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banner3.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->






                        </div>


                        <!-- /row -->

                    </div>
                    <!-- /wrapper-grid -->



                </div>
                <!-- /container -->
            </div>

        </main>
        <!-- /main -->


        <div class="container-fluid margin_80_0">
            <div class="main_title_2">
                <h6 class="uk-h6">
                    HAND PICKED VENDORS
                </h6>
                <p>Get Best Deals Now From Our Website, Checkout.</p>
            </div>
            <div class="container margin_60_35">

                <div class="wrapper-grid">
                    <div class="row">
                        @foreach (var item in ViewBag.venues)
                        {
                            <div class="col-md-4 col-lg-4 col-md-4">
                                <div class="box_grid">
                                    <figure>
                                        <a href="/viewservice/index?id=@item.Id">
                                            @if (item.logo != null)
                                            {
                                                @*<img src="~/vendorimages/@item.logo" class="img-fluid" alt="" width="800" height="533">*@
                                                <div class="vendorimg" style="background:url('/vendorimages/@item.logo')"></div>
                                            }
                                            else if (item.image != null)
                                            {
                                                @*<img src="~/vendorimages/@item.image" class="img-fluid" alt="" width="800" height="533">*@
                                                <div class="vendorimg" style="background:url('/vendorimages/@item.image')"></div>
                                            }
                                            else
                                            {
                                                @*<img src="~/noimages.png" class="img-fluid" alt="" width="800" height="533">*@
                                                <div class="vendorimg" style="background:url(/noimages.png)"></div>
                                            }
                                            <div class="read_more"></div>  @*<span>Read more</span>*@
                                        </a>
                                        <small5>@item.subtype</small5>
                                    </figure>
                                    <div class="wrapper">

                                        <h5 class="uk-h5">@item.BusinessName<p class="p_0">@item.Landmark, @item.City</p></h5>
                                        <div class="panel panel-default">
                                            @*<div class="ui segment">*@
                                            <table class="priceslist">
                                                <tr>
                                                    @*<td style="border:0px;width:170px"> <a class="ui violet label">@item.subtype</a></td>*@
                                                </tr>
                                                <tr>
                                                    <td><p>Veg per plate<span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost1)).Replace(".00", "")</strong></span></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p>Non-Veg per plate<span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost2)).Replace(".00", "")</strong></span></p></td>
                                                </tr>
                                            </table>
                                            @*</div>*@
                                        </div>
                                    </div>
                                    <ul>
                                        <li> Capacity : @item.Minimumseatingcapacity - @item.Maximumcapacity</li>
                                        <li> <a href="/viewservice/index?id=@item.Id">Book Now </a></li>
                                        @*<li><div class="score"><span>BOOK NOW</span></div></li>*@
                                    </ul>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- /row -->
                </div>
                <!-- /wrapper-grid -->

                <p class="text-center">
                    <a href="/results" class="btn_1  add_top_30">
                        Explore More &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </p>

            </div>
            <!-- /container -->
        </div>
        <!-- /container -->



        <div class="bg_color_2">



        </div>
        <!-- /bg_color_2 -->
        <!-- /container -->



        <div class="bg_color_1">



            <div class="container margin_60_35">
                <div class="main_title_2">

                    <h6 class="uk-h6">
                        LET'S TALK
                    </h6>
                    <p>Get Personalized assistance to help you discover, book sample and supervise your event.</p>
                </div>
                <form method="post" action="/Home/SendEmail">


                    <div class="row">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;	<div class="ui equal width form">
                            <div class="fields">
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="name" name="name" placeholder="Your name" required>
                                </div>

                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label></label>
                                    <input type="number" id="number" name="number" min="0" placeholder="Mobile" required>
                                </div>

                                <div class="field">
                                    <label></label>
                                    <input type="text" id="city" name="city" placeholder="City" required>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label></label>
                                    <input type="text" id="eventtype" name="eventtype" placeholder="Event Type" required>
                                </div>

                                <div class="field">
                                    <label></label>
                                    <input type="text" id="datepicker2" name="datepicker2" placeholder="Date" required>
                                </div>
                            </div>
                            <div class="eight field">
                                <label></label>
                                <textarea class="form-control" placeholder="Enter Your Requirements" name="Description" id="Description" cols="3" required></textarea>
                            </div>
                        </div>
                        <br>

                    </div>
                    <p class="text-center">
                        <button type="submit" value="email" name="command" class="btn_1 add_top_30">Request Call Back</button>
                        <a href="/results" class="btn_1  add_top_30">
                            Explore More &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a><br><br>Whatsapp or Call Ahwanam.com at 7702053510<br><br>(OR)<br><br>Are you a Vendor?<a href="#">REGISTER</a>
                    </p>

                </form>
            </div>

        </div>
        <!--/row-->
        <!-- /bg_color_1 -->
        @*</main>*@
        <!-- /main -->
    </div>
    <!--/footer-->
    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide ">
        <div class="small-dialog-header">
            <h3>Sign In / Register</h3>
        </div>
        <form>
            <div class="sign-in-wrapper">
                @*<a href="#0" class="social_bt facebook">Login with Facebook</a>
                    <a href="#0" class="social_bt google">Login with Google</a>
                    <div class="divider"><span>Or</span></div>*@
                <div class="authenticationBlocks">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email ID" name="UserName" id="UserName" required />

                        @*<input type="email" class="form-control" name="email" id="email">*@
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="Password" class="form-control" placeholder="Password" name="Password1" id="Password1" required />

                        @*<input type="password" class="form-control" name="password" id="password" value="">*@
                        <i class="icon_lock_alt"></i>
                    </div>
                    @*<div class="clearfix add_bottom_15">
                           <div class="checkboxes float-left">
                                <label class="container_check">
                                    Remember me
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                           <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                        </div>*@
                    <div class="text-center"><input type="submit" value="login" onclick="login(this.value)" class="btn_1 full-width" name="command"></div>

                    <div class="text-center">
                        Don’t have an account? <a id="signup" class="registerBtn" href="javascript:void(0);">Sign up</a>
                    </div>
                </div>
                @*<div class="float-right mt-1 registerBtn"><a id="signup" href="javascript:void(0);">Sign up</a></div>*@
                <div id="forgot_pw" class="forgotks">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                    <div class="float-right mt-1"><a id="forgot" class="loginBtn" href="javascript:void(0);">Login</a></div>

                </div>
                <div id="signup" class="register">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="txtname" id="txtname" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="Password" minlength="5" id="Password" required>
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="Email" id="txtemail" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        @*<input type="password" class="form-control" name="password" id="password" value="">*@
                        <input type="tel" pattern="^\d{10}$" class="form-control" placeholder="Mobile Number(format: xxxxxxxxxx)" id="txtphone" required>
                        <i class="icon_lock_alt"></i>
                    </div>

                    <p>You will receive an email containing a link allowing you to activate</p>
                    <div class="float-right mt-1"><a id="signin" class="loginBtn" href="javascript:void(0);">Login</a></div>

                    <div class="text-center"><input type="submit" value="Register" onclick="savecustomer(this.value)" class="btn_1"></div>

                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Popup -->
    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    @*<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>

    <!-- DATEPICKER  -->
    <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
    <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
    @*<script src="~/newdesign/js/daterangepicker.js"></script>*@
    @*<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>*@
    <script>
        $('#datetimepicker1,#datepicker2').daterangepicker({
            singleDatePicker: true,
            minDate: new Date(),
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    </script>

    <script>
        var regClick = $(".registerBtn"), loginClick = $(".loginBtn"), forgotClick = $(".forgotPasswordBtn"),
          loginBlock = $(".login"), regBlock = $(".register"), forgotBlock = $(".forgotPassword");
        $(regClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(regBlock).css("display", "block");
        });
        $(loginClick).click(function () {
            $(".forgotks").css("display", "none");
            $(".register").css("display", "none");
            $(".authenticationBlocks > div").css("display", "block");
        });

        $(forgotClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(forgotBlock).css("display", "block");
        });
        $(document).ready(function () {
            $(regBlock).css("display", "none");
            var guests = window.localStorage.getItem("guests");
            var location = window.localStorage.getItem("location");
            var eventtype = window.localStorage.getItem("eventtype");
            var date = window.localStorage.getItem("eventdate");
            if (eventtype != '')
                $("span.current").text(eventtype);
            else
                $("span.current").text('Select Event');
            
            if (guests == '') {
                window.localStorage.setItem("guests", 100);
                $('#guests').val(100);
            }
            else { $('#guests').val(guests); }

            if (location != '')
            { $('#loc').val(location); }
            else
            { $('#loc').val("Hyderabad"); }

            if (new Date(date) < new Date())
            { $('#datetimepicker1').val(new Date());}
            else
            { $('#datetimepicker1').val(date); }
        });
        $('#btnsearch').click(function () {
            var location = $('#loc').val();
            var eventtype = $('.current').text();
            var guests = $('#guests').val();
            var date = $('#datetimepicker1').val();
            if (location == '') {
                alert('Enter Location');
                $('#loc').focus();
            }
            else if (eventtype == '' || eventtype == null || eventtype == 'Select Event') {
                alert('Select Event Type');
            }
            else if (guests == '') {
                alert('Enter Guests');
                $('#guests').focus();
            }
            else if (date == '') {
                alert('Select date');
                $('#datetimepicker1').focus();
            }
            else {
                window.localStorage.setItem("guests", guests);
                window.localStorage.setItem("location", location);
                window.localStorage.setItem("eventtype", eventtype);
                window.localStorage.setItem("eventdate", date);
                window.location.href = '/results/Index?loc=' + location + '&&eventtype=' + eventtype + '&&count=' + guests + '&&date=' + date;
            }
        });
        function savecustomer(clickedvalue) {
            var CustomerPhoneNumber = $("#txtphone").val();
            var CustomerName = $("#txtname").val();
            var Password = $("#Password").val();
            var Email = $("#txtemail").val();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var passwordpattern = /^[a-z0-9]+$/i;
            var emailaddressVal = $("#txtemail").val();
            var url = document.referrer;
            if (CustomerPhoneNumber == '') {
                alert("Please Enter PhoneNumber");
                $("#txtphone").focus();
            }
            else if (!phonepattern.test(CustomerPhoneNumber)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }
            else if (CustomerName == '') {
                alert("Please Enter Name");
                $("#txtname").focus();
            }
            //else if (!passwordpattern.test(CustomerName)) {
            //    alert("Please Enter valid 10 digit Phonenumber");
            //    $("#txtphone").focus();
            //}
            else if (CustomerName.length < 5) {
                alert("Name must be 5 characters");
                $("#txtname").focus();
            }
            else if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }
            else if (Password.length < 5) {
                alert("Password length must be 5 characters");
                $("#txtpassword").focus();
                $("#txtpassword").alphanum();
            }
            else if (!passwordpattern.test(Password)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }
                //else if (emailaddressVal == '') {
                //    //alert("Please Enter Email Address");

                //    $("#txtemail").focus();
                //}
                //else if (!emailReg.test(emailaddressVal)) {
                //alert("Please Enter a valid Email Address");
                //    $("#txtemail").focus();
                //}

            else {
                if (clickedvalue == 'Register') {
                    $.ajax({
                        url: '/Home/register',//?CustomerPhoneNumber=' + CustomerPhoneNumber + '&CustomerName=' + CustomerName + '&Password=' + Password + '&Address=' + Address + '&Email=' + Email,
                        type: 'POST',
                        data: JSON.stringify({ CustomerPhoneNumber: CustomerPhoneNumber, CustomerName: CustomerName, Password: Password, Email: Email }),
                        //data: JSON.stringify({ CustomerPhoneNumber, CustomerName, Password, Address, Email }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                alert("Check your email to active your account to login");
                                //window.location.href = '/NewOrder/orderview'
                            }
                            //else {
                            //    alert("Customer Registered successfully");
                            //    $("#txtphone").val('');
                            //    $("#txtname").val('');
                            //    $("#txtpassword").val('');
                            //    $("#txtdeladdress").val('');
                            //    $("#txtemail").val('');
                            //    window.location.reload();
                            //}
                            if (data == "unique") {
                                alert("E-Mail ID Already Registered!!! Try Logging with your Password");

                            }
                            else if (data == "unique1") {
                                alert("Registration fails");

                            }
                            else if (data == "Failed") {

                                alert("Registration Failed");
                                window.location.reload();
                            }
                            else {
                                alert("Registration Failed");
                                // $("#txtphone").val('');
                                $("#txtname").val('');
                                $("#txtpassword").val('');
                                $("#txtdeladdress").val('');
                                $("#txtemail").val('');
                                // window.location.reload();
                                $("#otpopup").css("display", "block");
                                $("#txtotp").focus();
                            }
                        },
                        error: function (data) {
                            alert("error");
                        }
                    });
                }
            }
        }
        function login(clickedvalue) {
            var url1 = document.referrer;
            alert(url1);
            var Password = $("#Password1").val();
            var Email = $("#UserName").val();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var passwordpattern = /^[a-z0-9]+$/i;
            var emailaddressVal = $("#UserName").val();
            //if (!passwordpattern.test(Password)) {
            //    alert("Please Enter valid 10 digit Phonenumber");
            //    $("#txtphone").focus();
            //}
            //else
            if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }
                //else if (Password.length < 5) {
                //    alert("Password length must be 5 characters");
                //    $("#txtpassword").focus();
                //    $("#txtpassword").alphanum();
                //}
                //else if (!passwordpattern.test(Password)) {
                //    alert("Please Enter valid 10 digit Phonenumber");
                //    $("#txtphone").focus();
                //}
            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#txtemail").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#txtemail").focus();
            }
            else {
                if (clickedvalue == 'login') {
                    $.ajax({
                        url: '/Home/login',//?CustomerPhoneNumber=' + CustomerPhoneNumber + '&CustomerName=' + CustomerName + '&Password=' + Password + '&Address=' + Address + '&Email=' + Email,
                        type: 'POST',
                        data: JSON.stringify({ Password: Password, Email: Email, url1: url1 }),
                        //data: JSON.stringify({ CustomerPhoneNumber, CustomerName, Password, Address, Email }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                alert("Login Sucessfull");
                                window.location.reload();

                                //window.location.href = '/NewOrder/orderview'
                            }
                            //else {
                            //    alert("Customer Registered successfully");
                            //    $("#txtphone").val('');
                            //    $("#txtname").val('');
                            //    $("#txtpassword").val('');
                            //    $("#txtdeladdress").val('');
                            //    $("#txtemail").val('');
                            //    window.location.reload();
                            //}
                            else if (data == "unique") {
                                alert("vendorlogin successfull");
                                //vendorlogin
                            }
                            else if (data == "Failed") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                            else if (data == "success1") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                        },
                        error: function (data) {
                            alert("Wrong Credentials,Check Username and password");
                        }
                    });
                }
            }
        }
    </script>
    <!-- INPUT QUANTITY  -->
    @*<script src="~/newdesignstyles/Scripts/input_qty.js"></script>*@

    <!-- COLOR SWITCHER  -->
    @*<script src="~/newdesignstyles/Scripts/switcher.js"></script>
        <div id="style-switcher">
            <h6>Color Switcher <a href="#"><i class="ti-settings"></i></a></h6>
            <div>
                <ul class="colors" id="color1">
                    <li><a href="#" class="default" title="Default"></a></li>
                    <li><a href="#" class="aqua" title="Aqua"></a></li>
                    <li><a href="#" class="green_switcher" title="Green"></a></li>
                    <li><a href="#" class="orange" title="Orange"></a></li>
                    <li><a href="#" class="blue" title="Blue"></a></li>
                </ul>
            </div>
        </div>*@
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <!-- custom -->
    @*<script type="text/javascript" src="http://design.maa-aahwanam.com/panagea/custom.js"></script>*@

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b7e7e93afc2c34e96e7d2fe/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>