@using System.Globalization
<div class="row" id="loadresults">
    @if (ViewBag.venues.Count == 0)
    {
        <p>No Records</p>
    }
    @foreach (var item in ViewBag.venues)
    {
        <div class="col-md-6 isotope-item popular">
            <div class="box_grid">
                <figure>

                    <a href="#">
                        @if (item.logo != null)
                        {
                            <img src="~/vendorimages/@item.logo" class="img-fluid" alt="" width="800" height="533">
                        }
                        else if (item.image != null)
                        {
                            <img src="~/vendorimages/@item.image" class="img-fluid" alt="" width="800" height="533">
                        }
                        else
                        {
                            <img src="~/noimages.png" class="img-fluid" alt="" width="800" height="533">
                        }
                        <div class="read_more"></div>  @*<span>Read more</span>*@
                    </a>
                    @*<small>20%CASH BACK</small>*@
                </figure>
                <div class="wrapper">

                    <h3>
                        <a href="#">@item.BusinessName </a> @* - @item.subtypename*@
                        <a class="ui violet label">@item.subtype</a>
                        <span><br><p class="p_0">@item.Landmark,@item.City</p></span>
                    </h3>
                    <div class="panel panel-default">
                        <div class="ui segment">

                            <p>Veg price/plate <span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost1)).Replace(".00", "")</strong></span><br>starts from</p>
                            <p>Non-Veg price/plate <span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost2)).Replace(".00", "")</strong></span><br>starts from</p>

                            @*<p>
                                Veg price per plate
                                starts from &emsp;₹ <strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost1)).Replace(".00", "")</strong>
                            </p>
                            <p>
                                Non-Veg price per plate
                                starts from &emsp;₹ <strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost2)).Replace(".00", "")</strong>
                            </p>*@
                        </div>
                    </div>
                </div>
                <ul>
                    @*<li> 3 HALLS + 1 LAWN</li>*@
                    <li><div class="score"><span>BOOK NOW</span></div></li>
                </ul>
            </div>
        </div>
                        <!-- /box_grid -->
    }
    @*<img id="loader" alt="" src="~/CSSWeb/ajax-loader.gif" style="display: none" />*@
</div>
<div class="row" id="allrecords"></div>