
<div class="col-md-2-3">

    <div class="h4-1">
        Add Banquet hall
        <button type="button" class="btn btn-danger" style="border-radius:1px;">
            Preview
        </button>
    </div>

    @foreach (var item in ViewBag.images)
    {
        @*<img src="http://design.maa-aahwanam.com/panagea/images/banner3.jpg" style="width: 645px;">*@
        <img style="width: 645px;" src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
    }
    @if (@ViewBag.ks == "ksc")
    {<div class="h6-1"><input type="text" value="@ViewBag.service.VenueType" id="venuetype1" name="venuetype1" placeholder="Venue type" />@ViewBag.service.Status</div>
    <input type="hidden" id="vsid" value="@ViewBag.service.Id" />

    }
    else if (@ViewBag.ks == "ks")
    {

        <h6 class="h6-1"><input type="text" value="" id="venuetype1" name="venuetype1" placeholder="Venue type" /><label style="float:right;">Inactive</label></h6>

    }
</div>
<div class="col-md-2-8">
    <form>
        <input type="file" name="pic" accept="image/*" style="padding-top: 43px;padding-left: 40px;">
        <input type="file" name="pic" accept="image/*">

    </form>
</div>
<div class="col-md-2-9">
  
      
     <form>

         <input type="text" id="fname" name="fname" value="John">

        <input type="text" id="lname" name="lname" value="Doe">
    </form>

    <table>

        <tr>
            <th>Peak days</th>
            <th>Normal Days</th>
            <th>Holidays</th>
            <th>Choice days</th>
        </tr>
        <tr>
            <td>$000000</td>
            <td>$000000</td>
            <td>$000000</td>
            <td>$000000</td>
        </tr>
    </table>

</div>
<div class="col-md-2-10">

    <button class="button">Mocktails(2)</button>
    <button class="button">soup(2)</button>
    <button class="button">salad(2)</button>
    <button class="button">mains(2)</button>
    <button class="button">rice&curd(2)</button>
    <button class="button">Rajasthani(2)</button>
    <button class="button">deserts(2)</button>
    <button class="button">Add item</button><br><br>
    <a href="#" style="padding-left: 17px;margin-top: 3px; color:#dc3545;float:right">Duplicate</a><a href="#" style="padding-left:17px;margin-top:3px; color:#dc3545;float:right">Publish</a>
</div>

<div class="col-md-2-10" style="padding-top: 13px;">
    <div class="tab-pane" id="exampleTabsLeftFive" role="tabpanel">
        <input type="hidden" id="Imagedescription" name="Imagedescription" />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center upload-file padding-top-10 padding-bottom-10">
                <h4>Select Below</h4>
                <input type="file" class="opacity-0" name="vamsi" id="fileUpload1" multiple>
                <button class="btn btn-secondary">Click Here</button>
            </div>
        </div>
        <div class="row my-30" id="dvPreview">
            @foreach (var item in ViewBag.images)
            {
                <div class='col-xs-6 col-sm-4 col-md-3 blocks'>
                    <div class='block thumbnail'>
                        <div class='row thumb-img'>
                            <img style='height:110px;width:110px' src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
                        </div>
                        <div class='row my-30'>
                            <div class='form-group-1 col-xs-12 col-sm-12 col-md-12'>
                                <input type='text' class='form-control' placeholder='Description:' value="@item.Imagedescription">
                            </div>
                        </div>
                        <div class='hr-line border-default-bottom'></div>
                        <div class='row text-center'>
                            <div class='col-xs-12 col-md-12'>
                                <p class='red'>
                                    <small><i class='fa fa-times padding-right-5 primaryColor' aria-hidden='true'></i>Remove Photo</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button type="submit" class="btn btn-primary next">Save</button>
            </div>
        </div>
        <div class="blockDescrption" style="display:none"></div>
    </div>


</div>
<div class="col-md-2-10">
    <h5 class="h5-1">Availability calender</h5><br>
    <img src="http://design.maa-aahwanam.com/panagea/images/calendar.jpg">
</div>

<div class="col-md-2-4 row" style="overflow-y: auto;padding:20px" id="exampleTabsLeftTwo">

    <div>
        <center><h6 class="uk-h6-1">AMENTIES</h6></center>
        <div class="box-row" style="padding-top:20px;">

            <div class="grid-container">
                <div class="grid-item">
                    <p class="caption">
                        <img src="/newdesignstyles/VenueIcons/AC.png" title="AC">
                        <input type="checkbox" id="AC" style="display:none" value="AC" />
                    </p>

                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Balcony.png" />
                        <input type="checkbox" class="cartcheckbox" id="Balcony" style="display:none" value="Balcony" />
                    </p>

                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Banquet_Hall.png" />
                        <input type="checkbox" class="cartcheckbox" id="Banquet Hall" style="display:none" value="Banquet_Hall" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Bar.png" />


                        <input type="checkbox" id="Bar" class="cartcheckbox" style="display:none" value="Bar" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Bath_Tub.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Bath Tub" value="Bath Tub" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Card_Payment.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Card Payment" value="Card Payment" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/CCTV_Cameras.png" />

                        <input type="checkbox" class="cartcheckbox" style="display:none" id="CCTV Cameras" value="CCTV Cameras" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Coffee_Tea_Maker.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" value="Coffee_Tea_Maker" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Complimentary_Breakfast.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Complimentary Breakfast" value="Complimentary Breakfast" />
                    </p>
                </div>


                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Conference_Room.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Conference Room" value="Conference Room" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Dining_Area.png" />
                        <input type="checkbox" class="cartcheckbox" id="Dining Area" style="display:none" value="Dining Area" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Electricity.png" />
                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Electricity" value="Electricity" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Full_Length_Mirrror.png" />
                        <input type="checkbox" class="cartcheckbox" id="Full Length Mirrror" style="display:none" value="Full Length Mirrror" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Geyser.png" />
                        <input type="checkbox" class="cartcheckbox" id="Geyser" style="display:none" value="Geyser" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Gym.png" />
                        <input type="checkbox" class="cartcheckbox" id="Gym" style="display:none" value="Gym" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Hair_Dryer.png" />
                        <input type="checkbox" class="cartcheckbox" id="Hair Dryer" style="display:none" value="Hair Dryer" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/HDTV.png" />
                        <input type="checkbox" class="cartcheckbox" id="HDTV" style="display:none" value="HDTV" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/In_house_Restaurant.png" />
                        <input type="checkbox" class="cartcheckbox" id="In-house Restaurant" style="display:none" value="In-house Restaurant" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/In_Room_Safe.png" />
                        <input type="checkbox" class="cartcheckbox" id="In-Room Safe" style="display:none" value="In-Room Safe" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Intercom.png" />
                        <input type="checkbox" class="cartcheckbox" id="Intercom" style="display:none" value="Intercom" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Jacuzzi.png" />
                        <input type="checkbox" class="cartcheckbox" id="Jacuzzi" style="display:none" value="Jacuzzi" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Kindle.png" />
                        <input type="checkbox" class="cartcheckbox" id="Kindle" style="display:none" value="Kindle" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/King_Bed.png" />
                        <input type="checkbox" class="cartcheckbox" id="King Bed" style="display:none" value="King Bed" />

                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Kitchen.png" />
                        <input type="checkbox" class="cartcheckbox" id="Kitchen" style="display:none" value="Kitchen" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Laundry.png" />
                        <input type="checkbox" class="cartcheckbox" id="Laundry" style="display:none" value="Laundry" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Lift_or_Elevator.png" />
                        <input type="checkbox" class="cartcheckbox" id="Lift/Elevator" style="display:none" value="Lift/Elevator" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Mini_Fridge.png" />
                        <input type="checkbox" class="cartcheckbox" id="Mini Fridge" style="display:none" value="Mini Fridge" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Netflix.png" />
                        <input type="checkbox" class="cartcheckbox" id="Netflix" style="display:none" value="Netflix" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Parking_Facility.png" />
                        <input type="checkbox" class="cartcheckbox" id="Pet Friendly" style="display:none" value="Pet Friendly" />
                    </p>
                </div>

                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Pet_Friendly.png" />
                        <input type="checkbox" class="cartcheckbox" id="ParkingFacility" style="display:none" value="ParkingFacility" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Power_Backup.png" />

                        <input type="checkbox" class="cartcheckbox" id="Power Backup" style="display:none" value="Power Backup" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Queen_Bed.png" />
                        <input type="checkbox" class="cartcheckbox" id="Queen Bed" style="display:none" value="Queen Bed" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Room_Heater.png" />
                        <input type="checkbox" class="cartcheckbox" id="Room Heater" style="display:none" value="Room Heater" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Single_Bed.png" />
                        <input type="checkbox" class="cartcheckbox" id="Single Bed" style="display:none" value="Single Bed" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Sofa_Set.png" />
                        <input type="checkbox" class="cartcheckbox" id="Sofa Set" style="display:none" value="Sofa Set" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Spa.png" />
                        <input type="checkbox" class="cartcheckbox" id="Spa" style="display:none" value="Spa" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Sufficient_Room_Size.png" />
                        <input type="checkbox" class="cartcheckbox" id="Sufficient Room Size" style="display:none" value="Sufficient Room Size" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Sufficient_Washroom.png" />
                        <input type="checkbox" class="cartcheckbox" id="Sufficient Washroom" style="display:none" value="Sufficient Washroom" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Swimming_Pool.png" />
                        <input type="checkbox" class="cartcheckbox" id="Swimming Pool" style="display:none" value="Swimming Pool" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/TV.png" />
                        <input type="checkbox" class="cartcheckbox" id="TV" style="display:none" value="TV" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">

                        <img src="~/newdesignstyles/VenueIcons/Wellness_Center.png" />
                        <input type="checkbox" class="cartcheckbox" id="Wheelchair Accessible" style="display:none" value="Wheelchair Accessible" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/Wheelchair_Accessible.png" />
                        <input type="checkbox" class="cartcheckbox" id="Wellness Center" style="display:none" value="Wellness Center" />
                    </p>
                </div>
                <div class="grid-item">
                    <p class="caption">
                        <img src="~/newdesignstyles/VenueIcons/wifi.png" />
                        <input type="checkbox" class="cartcheckbox" id="Wifi" style="display:none" value="Wifi" />
                    </p>
                </div>


            </div>

            <button type="button" class="btn btn-block " onclick="updatedetails('two')">Submit</button>

        </div>

    </div>

</div>
<div class="col-md-2-5">
    <h5 class="h5-1">HALL DETAILS</h5>
    @if (@ViewBag.ks == "ksc")
    {                 <div class="ui equal width form">
        <div class="fields">
            <div class="four-field">
                <label></label>
                <input type="text" placeholder="Area Type">
            </div>

        </div>
        <div class="fields">
            <div class="four-field">
                <label></label>

                <input type="text" name="Dimentions" placeholder="Area Dimensions(in sft)" value="@ViewBag.service.Dimentions">
            </div>

        </div>

        <div class="fields">
            <div class="field-1">
                <label></label>
                <input type="text" placeholder="Max Capacity" value="@ViewBag.service.Maximumcapacity">
            </div>

            <div class="field-1">
                <label></label>
                <input type="text" placeholder="Minimumseatingcapacity Capacity" value="@ViewBag.service.Minimumseatingcapacity">
            </div>
        </div>
    </div>

    }
    else if (@ViewBag.ks == "ks")
    {

        <div class="ui equal width form">
            <div class="fields">
                <div class="four-field">
                    <label></label>
                    <input type="text" placeholder="Area Type">
                </div>

            </div>
            <div class="fields">
                <div class="four-field">
                    <label></label>

                    <input type="text" name="Dimentions" placeholder="Area Dimensions(in sft)">
                </div>

            </div>

            <div class="fields">
                <div class="field-1">
                    <label></label>
                    <input type="text" placeholder="Max Capacity">
                </div>

                <div class="field-1">
                    <label></label>
                    <input type="text" placeholder="Minimumseatingcapacity Capacity">
                </div>
            </div>
        </div>

    }


    <br>

</div>

<div class="col-md-2-11">
    <h5 class="h5-1">Add Description</h5>
    @if (@ViewBag.ks == "ksc")
    {
        <div class="ui equal width form">
            <div class="fields">
                <div class="four-field">
                    <label></label>
                    <input type="text" placeholder="Description" style="height: 109px;" value="@ViewBag.service.Description">
                </div>
            </div>
        
                <h5 class="h5-1">Address</h5><br>
                <div class="ui equal width form">
                    <div class="fields">
                            <label></label>
                            <input type="text" placeholder="Address" value="@ViewBag.Vendor.Address">
                        </div>

                    <div class="fields" style="width:250px">
                        <div class="field">
                            <label></label>
                            <input type="text" placeholder="Landmark" value="@ViewBag.Vendor.Landmark" style="width:120px">
                        </div>

                        <div class="field">
                            <label></label>
                            <input type="text" placeholder="City" value="@ViewBag.Vendor.City" style="width:120px">
                        </div>
                    </div>
                    <div class="eight field">
                        <label></label>
                        <input type="text" placeholder="ZipCode" value="@ViewBag.Vendor.ZipCode">
                    </div>
                
                </div>
            </div>

    }
    else if (@ViewBag.ks == "ks")
    {
        <div class="ui equal width form">
            <div class="fields">
                <div class="four-field">
                    <label></label>
                    <input type="text" placeholder="Description" style="height: 109px;">
                </div>
            </div>

            <h5 class="h5-1">Address</h5><br>
            <div class="ui equal width form">
                <div class="fields">
                    <div class="eight field">
                        <label></label>
                        <input type="text" placeholder="Address" >
                    </div>

                </div>
                <div class="fields" style="width:250px">
                    <div class="field">
                        <label></label>
                        <input type="text" placeholder="Landmark" style="width:120px">
                    </div>

                    <div class="field">
                        <label></label>
                        <input type="text" placeholder="City" style="width:120px" >
                    </div>
                </div>
                <div class="eight field">
                    <label></label>
                    <input type="text" placeholder="ZipCode" >
                </div>

            </div>
        </div>
    }
</div>
            



   