@model MaaAahwanam.Models.ManageUser
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: Users ::</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">

    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="~/CSSWeb/css/dashboard.css" rel="stylesheet" />

    <style type="text/css">
        .button {
            background-color: #fff;
            border: none;
            color: black;
            padding: 6px 3px 15px 2px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 8px 0px 3px 6px;
            cursor: pointer;
            border-radius: 16px;
        }

        .button {
            height: 27px;
            width: 112px;
        }

        /*table, th, td {
                    border: 0px;
                    padding-left: 61px;
                    padding-top: 24px;
                    margin-top: -16px;
                    font-size: 16px;
                }*/

        input[type=text], input[type="email"], input[type="tel"] {
            width: 101%;
            padding: 12px 26px 0px 10px;
            margin: 15px 5px 15px 0px;
            box-sizing: border-box;
            background-color: #fff;
            color: black;
        }

        p.caption {
            margin: 0 30px 0px 0;
            background-color: yellow;
        }

        table.dataTable thead th, table.dataTable tfoot th {
            white-space: nowrap;
        }

        table.dataTable, table.dataTable th, table.dataTable td {
            white-space: nowrap;
        }

        .caption {
            font-size: 10px;
            font-family: lato;
            color: #000;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            border-radius: 30px;
            height: 60px;
            width: 60px;
            grid-gap: 30px 30px;
        }

        .grid-item {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            border-radius: 30px;
            height: 60px;
            width: 60px;
        }

        /*.dt-checkboxes {
        float :left;
        }*/

        .sliderdiv {
            border: 4px grey solid;
            border-style: dashed;
            height: 100px;
            width: 100px;
            margin-top: 25px;
        }

            .sliderdiv img {
                padding: 35px;
            }

        .sliderdiv1 {
            border: 4px grey solid;
            border-style: dashed;
            height: 100px;
            width: 100px;
            margin-top: 25px;
        }

            .sliderdiv1 img {
                padding: 35px;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="https://tympanus.net/Development/TextInputEffects/css/set1.css" />
    <style>
        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 0.8em;
            width: 60%;
            border: none;
            border-radius: 0;
            background: #f0f0f0;
            color: #aaa;
            font-weight: normal;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none;
        }

        .input__label--hoshi {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 5.7em 0.25em;
            width: 100%;
            height: calc(100% - 1em);
            text-align: left;
            pointer-events: none;
        }

        .kscfont {
            font-size: 15px;
            font-weight: 900;
        }
    </style>
    <style>
        .overlay {
            background: no-repeat scroll center center #FFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.8);
            /* END EXTERNAL S */
        }
    </style>
</head>
@using MaaAahwanam.Web.Custom
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <body>
        <div class="overlay" style="display: none;">
            <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
                <img src="~/CSSWeb/images/Loader.gif" /><br>
                <p style="color: white; font-style: italic; font-family:serif;" id="loadermsg"></p>
            </div>
        </div>
        <div id="page">
            <header class="header menu_fixed">
                <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
                <div id="logo">
                    <a href="/home">
                        <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                        <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                    </a>
                </div>

                <ul id="top_menu"></ul>
                <!-- /top_menu -->
                <a href="#menu" class="btn_mobile">
                    <div class="hamburger hamburger--spin" id="hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </a>
                <nav id="menu" class="main-menu">
                    <ul>
                        <li><span><a href="#0">Add Manager</a></span>
                        <li><span><a href="#0">Add service</a></span>
                        <li>
                            <span><a href="#0">Settings</a></span>
                        </li>
                    </ul>
                </nav>

            </header>
            <!-- /header -->
            <main>
                <div id="error_page">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="ui-cards">
                                    @{Html.RenderAction("profilepic", "VDashboard");}
                                    @{Html.RenderAction("sidebar", "VDashboard");  }
                                </div>
                            </div>
                            <div class="col-md-10" style="color:black">
                                <div class="isotope-wrapper" style="padding: 30px;margin-top: 70px;">
                                    <div>
                                        <table style="width:100%">
                                            <tr>
                                                <td><h4 style="text-transform:uppercase">Customers/Clients</h4></td>
                                                <td style="float:right"><button id="btnadd" class="btn btn-primary">Add New Customer</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="overflow-x: auto;">
                                        <table id="allorders" class="display" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>S.No</th>
                                                    <th>User ID</th>
                                                    <th>Customer Type</th>
                                                    <th>Company Name</th>
                                                    <th>First Name </th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Flat No/Street</th>
                                                    <th>Locality</th>
                                                    <th>PinCode</th>
                                                    <th>City</th>
                                                    <th>State</th>
                                                    <th>Country</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var number = 0;
                                                    foreach (var users in ViewBag.Userlist)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" class="chcktbl" value="@users.id" /></td>
                                                            <td>@(++number)</td>
                                                            <td>@users.id </td>
                                                            <td>@users.type</td>
                                                            <td>@users.Businessname</td>
                                                            <td>@users.firstname</td>
                                                            <td>@users.lastname </td>
                                                            <td>@users.email</td>
                                                            <td>@users.phoneno</td>
                                                            <td>@users.adress1</td>
                                                            <td>@users.adress2</td>
                                                            <td>@users.pincode</td>
                                                            <td>@users.city</td>
                                                            <td>@users.state</td>
                                                            <td>@users.country</td>
                                                            <td>@users.Status</td>
                                                            <td class="tdbtn" id="btndata"><button type="button" id="btnBook" class="btn book btn-danger" disabled>Book Now</button></td>
                                                        </tr>

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="center">
                                        @{Html.RenderAction("orderdetails", "ManageUser"); }
                                    </div>

                                    <div class="row" id="saverecord" style="display:none;margin-top:50px">
                                        <div align="center"><h3 style="text-transform:uppercase">Add/Edit Customer</h3></div>

                                      

                                        <form method="POST">
                                            <input type="hidden" id="usedid" name="usedid" value="" />
                                            <input type="hidden" id="vpbookdetails" name="vpbookdetails" value="" />
                                            <input type="hidden" id="vendorId" name="vendorId" value="@ViewBag.masterid" />
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <div class="row">
                                                    <input type="hidden" id="id" name="id" value="" />
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <label class="input input--hoshi" style="font-weight:bold">Customer Type</label>
                                                        <span class="form-check" style="display:inline">
                                                            <input class="form-check-input" name="type" type="radio" id="radio1" value="Individual" required>
                                                            <label class="form-check-label" for="radio1">Individual</label>
                                                        </span>
                                                        <span class="form-check" style="display:inline">
                                                            <input class="form-check-input" name="type" type="radio" id="radio2" value="Corporate" checked required>
                                                            <label class="form-check-label" for="radio2">Corporate</label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4" style="display:block;">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" pattern="^[a-zA-Z]+$+" title="Please enter on alphabets only" id="Businessname" name="Businessname" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Businessname">
                                                                <span class="input__label-content input__label-content--hoshi">Company Name</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" pattern="[a-zA-Z]+" title="Please enter on alphabets only" id="firstname" name="firstname" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="firstname">
                                                                <span class="input__label-content input__label-content--hoshi">First Name</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" pattern="[a-zA-Z]+" title="Please enter on alphabets only" id="lastname" name="lastname" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="lastname">
                                                                <span class="input__label-content input__label-content--hoshi">Last Name</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="email" id="email" name="email" value="" onchange="checkEmail(this.value)" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$+" title="Please enter valid email" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="email">
                                                                <span class="input__label-content input__label-content--hoshi">Email</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="phoneno" name="phoneno" minlength="10+" title="Enter Numbers and 10 digits only" maxlength="10" pattern="[0-9]+" title="number only" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="phoneno">
                                                                <span class="input__label-content input__label-content--hoshi">Phone Number</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="adress1" name="adress1" pattern="[a-zA-Z0-9\s]+" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="adress1">
                                                                <span class="input__label-content input__label-content--hoshi"> Flat No/Street</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="adress2" name="adress2" pattern="[a-zA-Z0-9\s]+" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="adress2">
                                                                <span class="input__label-content input__label-content--hoshi">Locality</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="pincode" minlength="6+(!000000)+" title="Enter Numbers and 6 digits only" maxlength="6" name="pincode" value="" pattern="[0-9]+" title="Enter number only and enter 6 digits only" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="pincode">
                                                                <span class="input__label-content input__label-content--hoshi">PinCode</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="city" name="city" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="city">
                                                                <span class="input__label-content input__label-content--hoshi">City</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="state" name="state" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="state">
                                                                <span class="input__label-content input__label-content--hoshi">State</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <span class="input input--hoshi">
                                                            <input class="input__field input__field--hoshi" type="text" id="country" name="country" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="country">
                                                                <span class="input__label-content input__label-content--hoshi">Country</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-4 col-md-4">
                                                        <label class="d-block mb-0" style="font-weight:bold">Status</label>
                                                        <fieldset class="form-check" style="display:inline">
                                                            <input type="radio" class="chckactive" id="Status1" name="Status" value="Active" required />
                                                            <label class="form-check-label" for="Status1">Active</label>
                                                        </fieldset>
                                                        <fieldset class="form-check" style="display:inline">
                                                            <input type="radio" class="chckinactive" id="Status2" name="Status" value="InActive" checked required />
                                                            <label class="form-check-label" for="Status2">InActive</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div align="center">
                                                <div style="position:absolute; left: 485px; margin-left: -94px;">
                                                    @if (@Request.QueryString["select"] != null)
                                                    {
                                                        <button id="booknow" type="button" name="command" class="btn btn-success">Book Now</button>
                                                        <button id="booknowss" type="button" name="command" class="btn btn-success" style="margin-left: -55px;">save and Book Now</button>
                                                    }
                                                </div>
                                                <div style="position: absolute; display: inline;">
                                                    <button id="SaveUser" type="submit" name="command" value="Save" class="btn btn-success" style="display:block">Save</button>
                                                    <button id="EditUser" type="submit" name="command" value="Update" class="btn btn-success" style="display:none">Update</button>
                                                </div>                              
                                                <div style="margin-left: 73px; display: inline;">
                                                    <button id="CancelUser" type="button" class="btn btn-danger">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /container -->
                        </div>
                    </div>
                </div>
                <!-- /error_page -->
            </main>
            <!--/main-->
            <div id="toTop"></div><!-- Back to top button -->
        </div>
        <!-- COMMON SCRIPTS -->
        <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
        <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
        <script src="~/newdesignstyles/Scripts/main.js"></script>
        <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>
        <!-- DATEPICKER  -->
        <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
        <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
        <!-- semantic -->
        <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
        <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#allorders').DataTable();
                $('#addservices').css("display", "none");
                var vpbook1 = window.localStorage.getItem("vpbook");
                var vpbook = '';
               var vpbook2 = '@Request.QueryString["select"]';
                $('#vpbookdetails').val(vpbook);
                if (vpbook1 != "") { vpbook = vpbook2; } else { vpbook = vpbook1; }

                $.ajax({
                    //alert(defcalender);

                    url: '/ManageUser/orderdetails?select=' + vpbook,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $('.center').html(result);
                    }
                });

                function addservice() {
                    $('#addservices').css("display", "block");
                    $('#addservicesbutton').css("display", "none");
                }
            })
            $('#btnadd').click(function () {
                $('#saverecord').css('display', 'block');
                $('#Businessname').val('');
                $('#firstname').val('');
                $('#lastname').val('');
                $('#email').val('');
                $('#phoneno').val('');
                $('#adress1').val('');
                $('#adress2').val('');
                $('#city').val('');
                $('#state').val('');
                $('#country').val('');
                $('#pincode').val('');
                $('#Status').val('');
                $('#SaveUser').css('display', 'block');
                $('#EditUser').css('display', 'none');
                $('#booknow').css('display', 'none');
                $('#booknowss').css('display', 'block');

            });

            $('#CancelUser').click(function () {
                $('#saverecord').css('display', 'none');
            });





            $(document).on('click', '.chcktbl', function () {
                if ($(this).is(':checked')) {
                    $(this).closest('tr').find('#btnBook').removeAttr('disabled');
                    $('#saverecord').css('display', 'block');
                    $('#SaveUser').css('display', 'none');
                    $('#EditUser').css('display', 'block');

                    $('#booknow').css('display', 'block');
                    $('#booknowss').css('display', 'none');
                    var radataid = $(this).val();
                    $('#id').val(radataid);
                    //alert(radataid);
                    $.ajax({
                        url: '/ManageUser/GetUserDetails?id=' + radataid,
                        type: 'POST',
                        contentType: 'application/json',

                        success: function (result) {
                            if (result.type == "Corporate") {

                                $("input[name=type][value='Corporate']").prop('checked', true);
                            }
                            else {
                                $("input[name=type][value='Individual']").prop('checked', true);
                            }
                            $("#usedid").val(result.id);
                            $("#Businessname").val(result.Businessname);
                            $("#firstname").val(result.firstname);
                            $("#lastname").val(result.lastname);
                            $("#email").val(result.email);
                            $("#phoneno").val(result.phoneno);
                            $("#adress1").val(result.adress1);
                            $("#adress2").val(result.adress2);
                            $("#city").val(result.city);
                            $("#state").val(result.state);
                            $("#country").val(result.country);
                            $("#pincode").val(result.pincode);
                            //$("#Status").val(result.Status);
                            if (result.Status == "Active") {

                                $("input[name=Status][value='Active']").prop('checked', true);
                            }
                            else {
                                $("input[name=Status][value='InActive']").prop('checked', true);
                                $('#booknow').css("display", "none");

                            }
                        },
                        error: function (result) {
                            alert("failed");
                        }
                    })
                }
                else {
                    $(this).closest('tr').find('#btnBook').attr('disabled', 'disabled');
                    $('#saverecord').css('display', 'none');
                }


            });

            @*$('#EditUser').click(function () {
            var status="null"
            var Id = $('#id').val();
            var manageuser = {
                type:
            ,
                Businessname: $('#Businessname').val(),
                firstname: $('#firstname').val(),
                lastname: $('#lastname').val(),
                email: $('#email').val(),
                adress1: $('#adress1').val(),
                adress2: $('#adress2').val(),
                city: $('#city').val(),
                state: $('#state').val(),
                country: $('#country').val(),
                phoneno: $('#phoneno').val(),
                pincode: $('#pincode').val(),
                Status: $("input[name='Status']:checked").val()
            }

            $.ajax({
                url: '/ManageUser/UpdateUserDetails?id=' + Id,
                type: 'POST',
                data: JSON.stringify({ mnguser: manageuser }),
                contentType: 'application/json',
                success: function (data) {
                    alert(data);
                    window.location.href = "@Url.Action("Index", "ManageUser")";
                }
            });
        });*@
            function checkEmail(val) {
                //alert(val);
                vendorId = $('#vendorId').val();
                $.ajax({
                    url: '/ManageUser/checkemail?email=' + val + "&&id=" + vendorId,
                    type: 'Post',
                    contentType: 'application/json',
                    success: function (result) {
                        //alert(result);
                    },
                    error: function (result) {
                        alert("failed");
                    }

                });

            }
            $('#booknow').click(function () {
                var vid = $("#vendorId").val();
                var userid = $("#usedid").val();
                var packid = '@ViewBag.pid';
                var loc = '@ViewBag.loc';
                var eventtype = '@ViewBag.eventtype';
                var guests = '@ViewBag.guest';
                var date = '@ViewBag.date';
                if (packid == '') {
                    var selectedp = window.localStorage.getItem("vpbook");
                }
                $('.overlay').show();
                $('#loadermsg').text('Booking in process....');
                $.ajax({
                    url: '/ManageUser/booknow?uid=' + userid + '&&loc=' + loc + '&&eventtype=' + eventtype + '&&eventtype=' + eventtype + '&&count=' + guests + '&&date=' + date + '&&pid=' + packid + '&&vid=' + vid + '&&selectedp=' + selectedp,
                    type: 'POST',
                    contentType: 'application/json',

                    success: function (result) {
                        if (result != "") {
                            alert("Order placed Successfully");
                            window.location.href = "/vinvoice/Index?oid=" + result;
                            window.localStorage.removeItem("vpbook");
                        } else {
                            alert("Error Occurred in placing order");
                        }



                    }
                });
            });

            $('#booknowss').click(function () {
                var businessname = $('#Businessname').val();
                alert(businessname);
                var firstname = $('#firstname').val();
                var lastname = $('#lastname').val();
                var email = $('#email').val();
                var phoneno = $('#phoneno').val();
                var adress1 = $('#adress1').val();
                var adress2 = $('#adress2').val();
                var city = $('#city').val();
                var state = $('#state').val();
                var country = $('#country').val();
                var pincode = $('#pincode').val();
                var Status = $('#Status').val();
                var vid = $("#vendorId").val();
                var packid = '@ViewBag.pid';
                var loc = '@ViewBag.loc';
                var eventtype = '@ViewBag.eventtype';
                var guests = '@ViewBag.guest';
                var date = '@ViewBag.date';
                if (packid == '') {
                    var selectedp = window.localStorage.getItem("vpbook");
                }
                $('.overlay').show();
                $('#loadermsg').text('Booking in process....');
                $.ajax({
                    url: '/ManageUser/booknowss?loc=' + loc + '&&eventtype=' + eventtype + '&&eventtype=' + eventtype + '&&count=' + guests + '&&date=' + date + '&&pid=' + packid + '&&vid=' + vid + '&&selectedp=' + selectedp + '&&businessname=' + businessname + '&&firstname=' + firstname + '&&lastname=' + lastname + '&&email=' + email + '&&phoneno=' + phoneno + '&&adress1=' + adress1 + '&&adress2=' + adress2 + '&&city=' + city + '&&state=' + state + '&&country=' + country + '&&pincode=' + pincode + '&&Status=' + Status,
                    type: 'POST',
                    contentType: 'application/json',

                    success: function (result) {
                        if (result == "success") {
                            alert("Order placed Successfully");
                            window.location.href = "/vinvoice/Index?oid=" + result;
                            window.localStorage.removeItem("vpbook");
                        } else {
                            alert("Error Occurred in placing order");
                        }



                    }
                });
            });


        </script>

    </body>
                                                    }
                                                    else
                                                    {
                                                        Response.Redirect("/Home");
                                                    }

</html>
