@model MaaAahwanam.Models.ManageUser
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Managa Vendor</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">

    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="~/CSSWeb/css/dashboard.css" rel="stylesheet" />

    <style type="text/css">
                .button {
                    background-color: #fff;
                    border: none;
                    color: black;
                    padding: 6px 3px 15px 2px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 8px 0px 3px 6px;
                    cursor: pointer;
                    border-radius: 16px;
                }

                .button {
                    height: 27px;
                    width: 112px;
                }

                /*table, th, td {
                    border: 0px;
                    padding-left: 61px;
                    padding-top: 24px;
                    margin-top: -16px;
                    font-size: 16px;
                }*/

                input[type=text] {
                    width: 100%;
                    padding: 12px 26px;
                    margin: 15px 5px 15px 0px;
                    box-sizing: border-box;
                    border: 1px black solid;
                    background-color: #fff;
                    /*color: white;*/
                }

                p.caption {
                    margin: 0 30px 0px 0;
                    background-color: yellow;
                }

                .caption {
                    font-size: 10px;
                    font-family: lato;
                    color: #000;
                }

                .grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    border-radius: 30px;
                    height: 60px;
                    width: 60px;
                    grid-gap: 30px 30px;
                }

                .grid-item {
                    background-color: white;
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    padding: 20px;
                    font-size: 30px;
                    text-align: center;
                    border-radius: 30px;
                    height: 60px;
                    width: 60px;
                }

                /*.dt-checkboxes {
        float :left;
        }*/

                .sliderdiv {
                    border: 4px grey solid;
                    border-style: dashed;
                    height: 100px;
                    width: 100px;
                    margin-top: 25px;
                }

                    .sliderdiv img {
                        padding: 35px;
                    }

                .sliderdiv1 {
                    border: 4px grey solid;
                    border-style: dashed;
                    height: 100px;
                    width: 100px;
                    margin-top: 25px;
                }

                    .sliderdiv1 img {
                        padding: 35px;
                    }
    </style>
</head>
<body>
    <div id="page">
        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                </a>
            </div>

            <ul id="top_menu"></ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li><span><a href="#0">Add Manager</a></span>
                    <li><span><a href="#0">Add service</a></span>
                    <li>
                        <span><a href="#0">Settings</a></span>
                    </li>
                </ul>
            </nav>

        </header>
        <!-- /header -->
        <main>
            <div id="error_page">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="ui-cards">
                                @{Html.RenderAction("profilepic", "VDashboard");}
                                @{Html.RenderAction("sidebar", "VDashboard");  }
                            </div>
                        </div>
                        <div class="col-md-10" style="color:black">
                            <div class="isotope-wrapper" style="padding: 30px;margin-top: 70px;">
                                <div>
                                    <table style="width:100%">
                                        <tr>
                                            <td><h4 style="text-transform:uppercase">Customers/Clients</h4></td>
                                            <td style="float:right"><button id="btnadd" class="btn btn-primary">Add New Customer</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <table id="allorders" class="display" style="width:100%;padding-bottom:50px">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>S.No</th>
                                            <th>Vendor ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var number = 0;
                                            foreach (var users in ViewBag.Userlist)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" class="chcktbl" /></td>
                                                    <td>@(++number)</td>
                                                    <td>@users.vendorId </td>
                                                    <td>@users.firstname</td>
                                                    <td>@users.lastname </td>
                                                    <td>@users.email</td>
                                                    <td class="tdbtn" id="btndata"><button type="button" id="btnBook" class="btn book btn-danger" disabled>Book Now</button></td>
                                                </tr>

                                            }

                                        }
                                   </tbody>
                                </table>
                                <div id="saverecord" style="display:none;margin-top:50px">
                                    <h4 style="text-transform:uppercase">Add/Edit Customer</h4>
                                    <table id="mngvendor" class="allvendors" style="width:100%;padding-bottom:50px">
                                        <tbody>
                                            <tr>
                                                <td>Customer Type</td>
                                                <td>
                                                    <label for="CtypeIndividual">
                                                        <input type="radio" id="CtypeIndividual" name="type" />
                                                        Individual
                                                    </label>
                                                    <label for="CtypeCorporate">
                                                        <input type="radio" id="CtypeCorporate" name="type" />
                                                        Corporate
                                                    </label>
                                                </td>
                                                <td>Company Name</td>
                                                <td><input type="text" id="cmpname" /></td>
                                                <td>First Name</td>
                                                <td><input type="text" /></td>

                                            </tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td><input type="text" /></td>
                                                @*<td>Middle Name</td>
                                                    <td><input type="text" /></td>*@
                                                <td>Email</td>
                                                <td><input type="text" /></td>

                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td><input type="text" /></td>
                                                <td>Address1</td>
                                                <td><input type="text" /></td>
                                                <td>Address2</td>
                                                <td><input type="text" /></td>

                                            </tr>
                                            <tr>
                                                <td>City</td>
                                                <td><input type="text" /></td>
                                                <td>State</td>
                                                <td><input type="text" /></td>
                                                <td>Country</td>
                                                <td><input type="text" /></td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    <button id="SaveCustomer" type="submit" class="btn btn-success">Save</button>
                                    <button id="CancelVendor" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!-- /container -->
                    </div>
                </div>
            </div>
            <!-- /error_page -->
        </main>
        <!--/main-->
        <div id="toTop"></div><!-- Back to top button -->
    </div>
    <!-- COMMON SCRIPTS -->
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>
    <!-- DATEPICKER  -->
    <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
    <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#allorders').DataTable();
            $('#addservices').css("display", "none");
        });
        function addservice() {
            $('#addservices').css("display", "block");
            $('#addservicesbutton').css("display", "none");
        }
        $('#btnadd').click(function () {
            $('#saverecord').css('display', 'block');
        });
        $('#CancelVendor').click(function () {
            $('#saverecord').css('display', 'none');
        });
        $(function () {
            $('.chcktbl').click(function () {
                if ($(this).is(':checked')) {
                    $(this).closest('tr').find('#btnBook').removeAttr('disabled');
                }
                else {
                    $(this).closest('tr').find('#btnBook').attr('disabled', 'disabled');
                }
            });
        });
    </script>

</body>
</html>
