<style>
    #pkgmodal, #Querymodel, #viewmenuitems {
            position: relative;
        }
</style>

@if (ViewBag.loc != null)
{
    <div>
        <div>
            <label> location :</label>
            <label class="kscfont">@ViewBag.loc ,</label>

            <label>eventdate : </label>
            <label class="kscfont">@ViewBag.date ,</label>

            <label>eventtype : </label><label class="kscfont">@ViewBag.eventtype ,</label>

            <label> price : </label><label class="kscfont">@ViewBag.price ,</label>

            <label> guest :</label><label class="kscfont">@ViewBag.guest ,</label>

            <label> total :</label><label class="kscfont">@ViewBag.total ,</label>
            <label> Package name :</label> <a class="viewpkg" style="color:#dc3545;cursor:pointer">@ViewBag.pname</a>
        </div>
    </div>
}


<div id="viewpkgitems" class="ui long writemsg modal">
    <div class="header" style="background-color:#573791;color:white">
        <text class="pkgname"></text> @*- <text class="pkgtype"></text>*@
        <button style="background-color:black;color:white;border:none;font-size:14px;height:30px;width:60px;float:right" onclick="$('#viewpkgitems').modal('hide')">Close</button>
    </div>
    <div class="scrolling content" id="pkgitems">
    </div>
    <div class="actions">
        <div class="ui negative button" style="height:40px;">
            CANCEL
        </div>
    </div>
</div>

<script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
<script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
<script>
    $('.viewpkg').click(function () {
        var pkgid = '@ViewBag.pid';
        var maindiv = '';
        $.ajax({
            url: '/ManageUser/GetParticularPackage?pid=' + pkgid,
            type: 'post',
            datatype: 'json',
            data: pkgid,
            success: function (data) {
                $('#viewpkgitems .pkgname').text(data.PackageName);
                var count = data.menuitems.split(',').length;
                for (var i = 0; i < count; i++) {
                    var totalitem = data.menuitems.split(',')[i];
                    var heading = totalitem.split('(')[0];
                    var items = totalitem.split('(')[1].split(')')[0].split('!');
                    maindiv+= '<div class="heading">'+heading+'</div><div class="items">'+items+'</div><br/>';
                }
                $('#viewpkgitems #pkgitems').append(maindiv);
                $('#viewpkgitems').modal('show');
            }
        });
    });
</script>