

@if (ViewBag.loc != null)
{
    <div>
        <div>
            <label> location :</label>
            <label class="kscfont">@ViewBag.loc ,</label>

            <label>eventdate : </label>
            <label class="kscfont">@ViewBag.date ,</label>

            <label>eventtype : </label><label class="kscfont">@ViewBag.eventtype ,</label>

            <label> price : </label><label class="kscfont">@ViewBag.price ,</label>

            <label> guest :</label><label class="kscfont">@ViewBag.guest ,</label>

            <label> total :</label><label class="kscfont">@ViewBag.total ,</label>
            <label> Package name :</label><label class="kscfont">@ViewBag.pname .</label>


        </div>
    </div>}

