
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row innerPagesBg py-4">
        <div class="container cartPage">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <h3 class="noteWorthybold">
                        Cart
                        <div class="blackBorder"></div>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-8">

                    @if (ViewBag.cartitems != null)
                    {
                        foreach (var item in ViewBag.cartitems)
                        {
                            <div class="p-3 bgWhite mb-2 block">
                                <div class="row mx-0">
                                    @if (item.image != null)
                                    {

                                        <div class="col-12 col-sm-4 col-md-4 pl-sm-0 pl-md-0 d-flex justify-content-center float-left" style="background: url('../vendorimages/@item.image');background-repeat: no-repeat;background-size: cover;background-position: center;">
                                        </div>

                                    }
                                    else if (item.image == null)
                                    {
                                        <div class="col-12 col-sm-4 col-md-4 pl-sm-0 pl-md-0 d-flex justify-content-center float-left" style="background: url('~/noimages.png');background-repeat: no-repeat;background-size: cover;background-position: center;">
                                        </div>
                                    }


                                    <div class="col-12 col-sm-8 col-md-8 float-left detailsBlock">
                                        <div class="w-100">
                                            <h4 class="noteWorthybold d-inline">@item.BusinessName</h4>
                                            <label class="mb-0 float-right">
                                                <input type="checkbox" checked>
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="w-100 text-left float-left address">
                                            <p class="float-left">
                                                @item.Address
                                                <br>
                                                @item.Landmark,@item.City <br>
                                            </p>
                                            <p class="float-right total">
                                                Rs <span>000</span>
                                            </p>
                                        </div>
                                        <ul class="pl-0 customDates float-left"></ul>
                                        <div class="w-100 buttons">
                                            <ul class="pl-0 float-right">
                                                <li><span class="addDates">Add Dates</span></li>
                                                <li><a href="#" onclick="addwishlistItem(@item.CartId);">Wishlist</a></li>
                                                <li><span class="deleteBlock" onclick="DeletecartItem(@item.CartId);">Delete</span></li>
                                            </ul>
                                        </div>
                                        <div class="dateInput">
                                            <div class="triangle"></div>
                                            <i class="fa fa-times"></i>
                                            <div class="form-group mb-0">
                                                <input type="text" value="" class="form-control datetimepicker" placeholder="Date Here" />
                                            </div>
                                            <span class="addSelDates">Add Date</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        }
                    }


                    <div class="row mt-3 d-flex justify-content-center">
                        <button class="themeBgColorPrimary btn btnPrimary text-white border-0 bookNow" disabled>Book Now</button>
                    </div>
                </div>
                @*<div class="col-12 col-sm-4 col-md-4">
                <div class="p-3 bgWhite">
                    <div class="row mx-0">
                            <div class="w-100">Block One</div>
                            <div class="w-100">Block Two</div>
                    </div>
                </div>
            </div>*@
                <div class="col-12 col-sm-4 col-md-4">
                    <div class="p-3 bgWhite">
                        <div class="w-100 px-4 py-3">
                            <div class="row mx-0">
                                <h3 class="noteWorthybold">
                                    More Services
                                    <div class="blackBorder"></div>
                                </h3>
                            </div>
                            <div class="row mx-0 mt-4">
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block w-100">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                        <p class="mb-0">Taj Banjara</p>
                                        <div class="w-100">
                                            <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                        </div>
                                        <div class="row mx-0 d-block float-right">
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row mx-0 my-4">
                                <div class="mx-auto d-inline-flex">
                                    <span class="themeBgColorPrimary btnSecondary text-white">
                                        <i class="fa fa-plus mr-1" aria-hidden="true"></i>More
                                    </span>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
</div>


@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('body').attr("id", "userAuthentication");
        //});
        //$('.container').hide();
        $('.search').hide();
    </script>

    <script type="text/javascript">

        /*--- Date and Time ----*/
        $('.datetimepicker').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
            maxDate: '+1970/03/02'//tomorrow is maximum date calendar
        });
        /*------------ Date and Time --------------*/

        /*-- Add Dates Block --*/

        var addDates = $(".cartPage .block .detailsBlock .buttons > ul > li > span.addDates"),
  dateInput = $(".cartPage .block .detailsBlock .buttons + .dateInput"),
  closeDateInput = $(".cartPage .block .detailsBlock .buttons + .dateInput > .triangle + i.fa-times"),
  removeCustLi = $(".cartPage ul.customDates > li > i"), total;
        $(addDates).click(function(){
            $(this).parents(".buttons").next(dateInput).css("display","block");
        });

        $(closeDateInput).click(function(){
            $(this).parents(".dateInput").css("display","none");
        });

        $(".addSelDates").click(function(){
            var dateVal = $(this).prev(".form-group").find("input").val();
            if(dateVal != ""){
                var custLi = $(this).parents(dateInput).prevAll("ul.customDates").append("<li>" + '<i class="fa fa-times"></i>' + dateVal + "<br/>" + "Rs " + "<span>"+ 3500 + "</span>" +  "</li>");
            }
            $(this).prev(".form-group").find("input").val('');

            /*-- Total Price Increase --*/
            total = 0;
            $(this).parents(".dateInput").prevAll(".customDates").find("li").each(function(){
                var spanTxt = parseInt($(this).find("span").text());
                total+=spanTxt;
                $(this).parents("ul.customDates").prev(".address").find(".total").find("span").text('').append(total);
            });
            /*-- Total Price Increase --*/

        });
        $(document).on('click', '.cartPage ul.customDates > li', function(){
            /*-- Total Price Decrease --*/
            $(this).each(function(){
                var thisLiVal = parseInt($(this).find("span").text());
                var spanTxt = parseInt($(this).parents("ul.customDates").prev(".address").find(".total").find("span").text());
                total=spanTxt - thisLiVal;
                $(this).parents("ul.customDates").prev(".address").find(".total").find("span").text('').append(total);
            });
            /*-- Total Price Decrease --*/
            $(this).remove();
        });

        /*-- Add Dates Block --*/

        ///*-- Delete Blocks --*/
        //var deleteBlock = $(".cartPage .block .detailsBlock .buttons > ul > li > span.deleteBlock");
        //$(deleteBlock).click(function () {
        //    $(this).parents('.block').remove();

        //});

        /*-- Checkbox Fun for Book Now Button --*/

        function checkFun(){
            $(".cartPage .block").each(function(){
                if(($(this).find("input[type='checkbox']")).is(':checked')){
                    $(this).parents(".cartPage").find("button.btn").prop('disabled', false);
                    return false;
                }else{
                    $(this).parents(".cartPage").find("button.btn").prop('disabled', true);
                }
            });
        }

        $(document).ready(function () {
            checkFun();
            $("ul.customDates").append("<li>" + '<i class="fa fa-times"></i>' + dateVal + "<br/>" + "Rs " + "<span>"+ 3500 + "</span>" +  "</li>");
        });
        $(".cartPage .block").find("input[type='checkbox']").change(function () {
            checkFun();
        });

        /*-- Checkbox Fun for Book Now Button --*/

        /*-- Book Now Button --*/
        $(".cartPage .bookNow").click(function () {
            alert("Yes");
        });
        /*-- Book Now Button --*/

        function DeletecartItem(cartId) {
            var obj = {}
            obj.cartId = cartId;
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/NCartView/DeletecartItem',
                data: {},
                data: JSON.stringify(obj),
                //data: sendInfo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    //alert('error');
                    alertmsg("error");
                }
            });
        }

        function addwishlistItem(cartId) {
            var obj = {}
            obj.cartId = cartId;
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/NCartView/addwishlistItem',
                data: {},
                data: JSON.stringify(obj),
                //data: sendInfo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    //alert('error');
                    alertmsg("error");
                }
            });
        }
    </script>
}

