@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    @*<input type="hidden" id="L1" name="L1" value="@ViewBag.count" />*@

    <div class="row innerPagesBg py-4">
        <div class="container cartPage">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <h3 class="noteWorthybold">
                        Cart
                        <div class="blackBorder"></div>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-8">

                    @if (ViewBag.cartitems != null)
                    {
                        foreach (var item in ViewBag.cartitems)
                        {
                            <div class="p-3 bgWhite mb-2 block">
                                <div class="row mx-0">
                                    @if (item.image != null)
                                    {

                                        <div class="col-12 col-sm-4 col-md-4 pl-sm-0 pl-md-0 d-flex justify-content-center float-left" style="background: url('../vendorimages/@item.image');background-repeat: no-repeat;background-size: cover;background-position: center;">
                                        </div>

                                    }
                                    else if (item.image == null)
                                    {
                                        <div class="col-12 col-sm-4 col-md-4 pl-sm-0 pl-md-0 d-flex justify-content-center float-left" style="background: url('~/noimages.png');background-repeat: no-repeat;background-size: cover;background-position: center;">
                                        </div>
                                    }

                                    @*<input type="hidden" value="200" id="cartid" />*@


                                    @*<input type="hidden" id="type" name="type" value="@item.ServicType">*@
                                    <div class="col-12 col-sm-8 col-md-8 float-left detailsBlock">
                                        <div class="w-100">
                                            <h4 class="noteWorthybold d-inline">@item.BusinessName</h4>
                                            <label class="mb-0 float-right">
                                                <input name="cardid" value="@item.CartId" type="checkbox" checked>
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="w-100 text-left float-left address">
                                            <p class="float-left">
                                                @item.Address
                                                <br>
                                                @item.Landmark,@item.City <br>
                                            </p>
                                            <p class="float-right total">
                                                @*        Rs <span name="cartprice" id="cartprice">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "") </span>*@
                                                Rs <span name="cartprice" id="cartprice">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "") </span>
                                            </p>
                                        </div>
                                        <ul class="pl-0 customDates float-left">
                                            @if (@item.ServiceType == "Venue" || @item.ServiceType == "Catering")
                                            {
                                                <li><i class="fa fa-times"></i>@item.eventstartdate.ToString("dd/MM/yyyy").Replace('-', '/')<br />Rs<span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(Convert.ToInt16(@item.Perunitprice) * @item.Quantity)).Replace(".00", "")</span></li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-times"></i>@item.eventstartdate.ToString("dd/MM/yyyy").Replace('-', '/')<br />Rs<span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", @item.Perunitprice).Replace(".00", "")</span></li>
                                            }
                                            @if (@item.c1date != null && @item.c1date != "")
                                     {
                                                <li><i class="fa fa-times"></i>@item.c1date.Split(',')[0] <br /> Rs <span> @item.c1date.Split(',')[1]</span></li>

                                     }
                                            @if (item.c2date != null)
                                            {

                                                <li><i class="fa fa-times"></i>@item.c2date.Split(',')[0] <br /> Rs <span> @item.c2date.Split(',')[1]</span></li>
                                            }
                                            @if (@item.c3date != null)
                                            {
                                                <li><i class="fa fa-times"></i>@item.c3date.Split(',')[0] <br /> Rs <span> @item.c3date.Split(',')[1]</span></li>

                                            }
                                        </ul>
                                        <div class="w-100 buttons">
                                            <ul class="pl-0 float-right">
                                                <li><span class="deleteBlock" onclick="savecartItem(@item.CartId);">Save for Later</span></li>

                                                <li><span class="addDates">Add Dates</span></li>
                                                <li><a href="#" onclick="addwishlistItem(@item.CartId);"> Wishlist </a></li>
                                                <li><span class="deleteBlock" onclick="DeletecartItem(@item.CartId);">Remove</span></li>
                                            </ul>
                                        </div>
                                        <div class="dateInput">
                                            <div class="triangle"></div>
                                            <i class="fa fa-times"></i>
                                            <div class="form-group mb-0">
                                                <input type="text" value="" class="form-control datetimepicker" placeholder="Date Here" />
                                            </div>
                                            <span class="addSelDates">Add Date</span>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" id="cartid" name="cartid" value="@item.CartId">


                            </div>

                        }
                    }


                    <div class="row mt-3 d-flex justify-content-center">
                        <button class="themeBgColorPrimary btn btnPrimary text-white border-0 bookNow" disabled>Book Now</button>
                    </div>
                </div>
                @*<div class="col-12 col-sm-4 col-md-4">
                <div class="p-3 bgWhite">
                    <div class="row mx-0">
                            <div class="w-100">Block One</div>
                            <div class="w-100">Block Two</div>
                    </div>
                </div>
            </div>*@
                <div class="col-12 col-sm-4 col-md-4 ">
                    <div class="px-15">
                        <div class="row bgWhite mb-3 firstBlock">
                            @{Html.RenderAction("savedlater", "NCartView"); }
                        </div>
                        <div class="row bgWhite mb-3 firstBlock">
                            @{Html.RenderAction("DealsSection", "NCartView"); }
                        </div>
                       
                    </div>
                </div>

             

            </div>

    </div>
</div>
    </div>

@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('body').attr("id", "userAuthentication");
        //});
        //$('.container').hide();
        //  $('.search').hide();

        $(document).ready(function () {
            var type = $('#type').val();
        });


    </script>

    <script type="text/javascript">

        /*--- Date and Time ----*/
        $('.datetimepicker').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
            maxDate: '+1970/03/02'//tomorrow is maximum date calendar
        });
        /*------------ Date and Time --------------*/

        /*-- Add Dates Block --*/
        var price = $('#cartprice span').html();

        var addDates = $(".cartPage .block .detailsBlock .buttons > ul > li > span.addDates"),
  dateInput = $(".cartPage .block .detailsBlock .buttons + .dateInput"),
  closeDateInput = $(".cartPage .block .detailsBlock .buttons + .dateInput > .triangle + i.fa-times"),
  removeCustLi = $(".cartPage ul.customDates > li > i"), total,hiddenField = $(".block > input[type='hidden']");
        $(addDates).click(function(){
            $(this).parents(".buttons").next(dateInput).css("display","block");
        });

        $(closeDateInput).click(function(){
            $(this).parents(".dateInput").css("display","none");
        });

        $(".addSelDates").click(function(){
            var price1 ='';
            var cartId = $(this).parents(".block").find(hiddenField).val();
            // alert("Hidden Text : " + cartIdl);
            var dateVal = $(this).prev(".form-group").find("input").val();
            var priceval = $(this).parents(dateInput).prevAll("ul.customDates");
            var totaltextfind = $(this).parents(".dateInput").prevAll(".customDates").find("li");
            var totalprice = totaltextfind.parents("ul.customDates").prev(".address").find(".total").find("span").text();
            var totalpr = totaltextfind.parents("ul.customDates").prev(".address").find(".total").find("span").text('');

            var totalprice1 = totalprice.replace(",", "");
            var spanTxt = $(this).parents(".dateInput").prevAll(".customDates").find("li").find("span").text();
            var spanTxt1 = spanTxt.replace(",", "");
            spanTxt = parseInt(spanTxt1);
            total = parseInt(totalprice1);

            $.get("/NCartView/getprice?cartid=" + cartId, function (data, status) {

                price1 = parseInt(data);
                priceval.append("<li>" + '<i class="fa fa-times"></i>' + dateVal + "<br/>" + "Rs " + "<span>"+ price1 + "</span>" +  "</li>");
                total += spanTxt;
                alert(total);
                //totalpr.append(total);
                alert(dateVal);

                $.ajax({
                    url: '/NCartView/multipledateinsert?cartid=' + cartId + '&&price=' + price1 + '&&date=' + dateVal + '&&total=' + total, 
                    type: 'POST',
                    dataType : 'json',
                    success: function (data) {
                        if (data == "success") {
                            alert("Order Placed successfully");
                            location.href = '/NCartView/Index'
                        }
                        else if (data == "failed") {
                            alert("only four dates are allowed");
                          location.href = '/NCartView/Index'
                        }
                        else {
                            alert("not updated");
                            location.href = '/NCartView/Index'
                        }
                    },
                    error: function (data) {
                        alert("Error in placing the order.");
                       location.href = '/NCartView/Index'

                    }
                })
            });



            $(this).prev(".form-group").find("input").val('');

            /*-- Total Price Increase --*/
            total = price;
            $(this).parents(".dateInput").prevAll(".customDates").find("li").each(function(){
                var spanTxt = parseInt($(this).find("span").text());
                total+=spanTxt;
                $(this).parents("ul.customDates").prev(".address").find(".total").find("span").text('').append(total);
            });
            /*-- Total Price Increase --*/

        });
        //$(document).on('click', '.cartPage ul.customDates > li > i', function(){
        //    /*-- Total Price Decrease --*/
        //    $(this).each(function(){
        //        var thisLiVal = parseInt($(this).parent('li').find("span").text());
        //        var spanTxt = parseInt($(this).parents("ul.customDates").prev(".address").find(".total").find("span").text());
        //        total=spanTxt - thisLiVal;
        //        $(this).parents("ul.customDates").prev(".address").find(".total").find("span").text('').append(total);
        //    });
        //    /*-- Total Price Decrease --*/
        //    $(this).parent('li').remove();
        //});


        /*-- Add Dates Block --*/

        ///*-- Delete Blocks --*/
        //var deleteBlock = $(".cartPage .block .detailsBlock .buttons > ul > li > span.deleteBlock");
        //$(deleteBlock).click(function () {
        //    $(this).parents('.block').remove();

        //});

        /*-- Checkbox Fun for Book Now Button --*/

        function checkFun(){
            $(".cartPage .block").each(function(){
                if(($(this).find("input[type='checkbox']")).is(':checked')){
                    $(this).parents(".cartPage").find("button.btn").prop('disabled', false);
                    return false;
                }else{
                    $(this).parents(".cartPage").find("button.btn").prop('disabled', true);
                }
            });
        }
        function DealsPartial() {
            var lastrecord = parseInt($('#L1').val()) + parseInt(2);
            //  var type = $('#type').val();
            //  var type = document.URL.split('type=')[1].split('&&')[0];
            var url = '/NParticularVendor/DealsSection?type=' + type + '&&L1=' + lastrecord;
            $("#dealspartial").empty().load(url);
            $('#L1').val(lastrecord);
        }

        $(document).ready(function () {
            checkFun();
        //    $("ul.customDates").append("<li>" + '<i class="fa fa-times"></i>' + dateVal + "<br/>" + "Rs " + "<span>"+ 3500 + "</span>" +  "</li>");
        });

        $(document).on('click', '.cartPage ul.customDates > li > i', function(){
            /*-- Total Price Decrease --*/
            $(this).each(function(){
                var thisLiVal = parseInt($(this).parent('li').find("span").text());
                var spanTxt = parseInt($(this).parents("ul.customDates").prev(".address").find(".total").find("span").text());
                total=spanTxt - thisLiVal;
                $(this).parents("ul.customDates").prev(".address").find(".total").find("span").text('').append(total);
            });

            /*-- Hidden Field Value --*/

            var cartId = $(this).parents(".block").find(hiddenField).val();

            //var hiddenVal = $(this).parents(".block").find(hiddenField).val();
            //alert("Hidden Text : " + cartId);
            /*-- Hidden Field Value --*/
            var LiDate = $(this).parent("li").text().split('Rs')[0];
            //alert("Date : " + LiDate);
            var LiPrice = $(this).parent("li").text().split('Rs')[1];
            //alert("Price : " + LiPrice);

            /*-- Total Price Decrease --*/
            $(this).parent('li').remove();

            $.ajax ({
                url: '/NCartView/multipledatedelete?cartid=' + cartId + '&&price=' + LiPrice + '&&date=' + LiDate + '&&total=' + total, 
            type: 'POST',
            dataType : 'json',
            success: function (data) {
                if (data == "success") {
                    alert("Date is deleted successfully");
                   location.href = '/NCartView/Index'
                }
                else if (data == "failed") {
                    alert("only four dates are allowed");
                    location.href = '/NCartView/Index'
                }
                else {
                    alert("not updated");
                    location.href = '/NCartView/Index'
                }
            },
            error: function (data) {
                alert("Error in placing the order.");
                location.href = '/NCartView/Index'

            }
        })




        });



        $(".cartPage .block").find("input[type='checkbox']").change(function () {
            checkFun();
        });

        /*-- Checkbox Fun for Book Now Button --*/

        /*-- Book Now Button --*/
        $(".cartPage .bookNow").click(function () {
            //  alert("Yes");
            var cartnos = '';
            if ($(".cartselect input[type='checkbox']").is(':checked')) {

                var favorite = [];
                $.each($("input[name='cardid']:checked"), function () {
                    favorite.push($(this).val());
                    cartnos = favorite.join(", ");
                })
            }

            alert(cartnos);

            //url1 = '/NCartView/booknow?cartnos=' +cartnos;
            //$.ajax({
            //    url: url1,
            //    success: function (data) {
            //        if (data == "Success") {
            //            //  alert("Sucessfully Added to cart")
            //            alert("Sucessfully Added to cart");

            //            if (data != null) {
            //                window.location.reload();
            //            }
            //        }
            //        else if (data == "failed") {
            //            //   alert("login to the cart");
            //            alertmsg("Login to the cart");
            //        }
            //    }
            //});

        });

        /*-- Book Now Button --*/

        function DeletecartItem(cartId) {
            alertify.confirm("Are you sure You want to delete.",
         function () {

             var obj = {}
             obj.cartId = cartId;
             $.ajax({
                 type: "POST",
                 url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/NCartView/DeletecartItem',
                 data: {},
                 data: JSON.stringify(obj),
                 //data: sendInfo,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     if (data != null) {
                         alertify.alert("Item Deleted");
                         window.location.reload();
                     }
                 },
                 error: function (data) {
                     //alert('error');
                     alertmsg("error");
                 }
             });

         },
         function () {
         });
        }
        function savecartItem(cartId) {
            alertify.confirm("Are you sure You want to Save for Later.",
         function () {

             var obj = {}
             obj.cartId = cartId;
             $.ajax({
                 type: "POST",
                 url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/NCartView/Updatecartitem',
                 data: {},
                 data: JSON.stringify(obj),
                 //data: sendInfo,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     if (data != null) {
                         alertify.alert("Item is save for later");
                         window.location.reload();
                     }
                 },
                 error: function (data) {
                     //alert('error');
                     alertmsg("error");
                 }
             });

         },
         function () {
         });
        }
        function addwishlistItem(cartId) {
            alertify.confirm("Are you sure You want to add to wishlist.",
         function () {

             var obj = {}
             obj.cartId = cartId;
             $.ajax({
                 type: "POST",
                 url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/NCartView/addwishlistItem',
                 data: {},
                 data: JSON.stringify(obj),
                 //data: sendInfo,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     if (data != null) {
                         window.location.reload();
                     }
                 },
                 error: function (data) {
                     //alert('error');
                     alertmsg("error");
                 }
             });
             //     alertify.success('Deleted');

         },
         function () {
         });
        }
    </script>
}

