
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}

@section css{
    <link href="~/newdesignstyles/css/reseller.css" rel="stylesheet" />

    <style>

        .kscaddstaffdiv {
        margin:0;
        }

        .kscfont {
            font-size: 15px;
            font-weight: 900;
        }

        .addcutomerpopup, .cutomtblpopup {
            position: relative;
        }

        .txtd {
            margin-top: -5%;
        }


        * {
            box-sizing: border-box;
        }

        /* basic stylings ------------------------------------------ */

        .group {
            position: relative;
            margin-bottom: 19px
        }

        input {
            font-size: 18px;
            padding: 5px 0px 5px 0px;
            display: block;
            width: 300px;
            border: none;
            border-bottom: 1px solid #757575;
        }

            input:focus {
                outline: none;
            }

        /* LABEL ======================================= */
        label {
            color: #999;
            font-size: 12px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input:focus ~ label, input:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: #5264AE;
        }

        /* BOTTOM BARS ================================= */
        .bar {
            position: relative;
            display: block;
            width: 300px;
        }

            .bar:before, .bar:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264AE;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            .bar:before {
                left: 50%;
            }

            .bar:after {
                right: 50%;
            }

        /* active state */
        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width: 50%;
        }

        /* HIGHLIGHTER ================================== */
        .highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }

                /* active state */
                input:focus ~ .highlight {
                    -webkit-animation: inputHighlighter 0.3s ease;
                    -moz-animation: inputHighlighter 0.3s ease;
                    animation: inputHighlighter 0.3s ease;
                }
    </style>
}

<div class="col-md-10">
    <div class="container-fluid" style="padding:10px;">
        <div class="suppliertxt">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Staff</h1>
                </div>
                <div class="col-sm-6">
                    <button id="btnadd" class="btn btn-primary" style="float:right">Add New Suppliers</button>
                </div>
            </div>

        </div>
        <div style="overflow-x: auto;padding:10px;">
            <table id="allorders" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Select</th>

                        <th>First Name </th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Designation</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.getstafflist)
                    {
                        <tr>
                            <td><input type="checkbox" class="chcktbl" value="@item.ID" /></td>
                            <td>@item.fname</td>
                            <td>@item.lname</td>
                            <td>@item.emailid</td>
                            <td>@item.phoneno</td>
                            <td>@item.designation</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row" id="saverecord" style="display:none;margin-top:50px">
            <div align="center"><h3 style="text-transform:uppercase">Add/Edit Staff</h3></div>
            <input type="hidden" id="vendorId" name="vendorId" value="@ViewBag.masterid" />
            <div class="col-12 col-sm-12 col-md-12" style="padding-top: 20px;">
                <div class="row">
                    <input type="hidden" id="id" name="id" value="" />
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="firstname" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>First Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="lastname" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="email" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email ID</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="phoneno" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <div>
                            <div class="group">
                                <input type="text" id="designation" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Designation</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="ui toggle checkbox"> <input type="checkbox" class="kscaddstaff" value="active" name="public" style="margin-top: -19px; margin-left:7px"> <label>Active</label> </div>
                    </div>
                </div>

                <div class="container-fluid">

                    <div class="accordionks mt-2">
                        <div class="row">
                            <div class="col-md-4">

                                <span id="span-package-1">Service Name</span>
                            </div>
                            <div class="col-md-4">
                                <span id="span-package-1">View</span>
                            </div>

                            <div class="col-md-4">

                                <span id="span-package-1">add/Edit</span>


                            </div>
                            @*<div class="col-md-3">
                                <span id="span-package-1">  Add New </span>
                            </div>*@
                        </div>
                    </div>



                    <div class="accordion1 mt-2" id="package">
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Orders</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_view" style="margin-top: 0px; margin-left:7px"> <label style="margin-top: 21px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle kscaddstaffdiv checkbox"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_add" style="margin-top: 0px; margin-left:7px"> <label style="margin-top: 21px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Book Now</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Quotations</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Service</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">RevenueModel</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Invoice</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Payment</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Customer</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Supplier</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span id="span-package-1">Addstaff</span>
                            </div>
                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                            </div>

                            <div class="col-md-4">
                                <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                            </div>
                            @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                        </div>

                    </div>






                </div>
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-4">
                            <button id="SaveStaff" type="submit" name="command" value="Save" class="btn btn-success" style="display:block">Save</button>
                        </div>
                        <div class="col-md-4">
                            <button id="EditVendor" type="submit" name="command" value="Update" class="btn btn-success" style="display:none">Update</button>
                        </div>
                        <div class="col-md-4">
                            <button id="CancelVendor" type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @if (ViewBag.details != null)
        {
        <div class="row" id="saverecord1" style="display:none;margin-top:50px">

            <div align="center"><h3 style="text-transform:uppercase">Add/Edit Staff</h3></div>
            <input type="hidden" id="vendorId" name="vendorId" value="@ViewBag.masterid" />
            <div class="col-12 col-sm-12 col-md-12" style="padding-top: 20px;">

                @foreach (var item in ViewBag.details)
                {

                    <div class="row">
                        <input type="hidden" id="id" name="id" value="" />
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="firstname" value="@item.fname" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>First Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="lastname" value="@item.lname" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="email" value="@item.emailid" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email ID</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="phoneno" value="@item.phoneno" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Phone Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="password" value="@ViewBag.password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4">
                            <div>
                                <div class="group">
                                    <input type="text" id="designation" value="@item.designation" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Designation</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4">
                            @if (@item.Status == "Active")
                            {<div class="ui toggle checkbox"> <input type="checkbox" class="kscaddstaff" value="active" name="public" style="margin-top: -19px; margin-left:7px" checked> <label>Active</label> </div>
                            }
                            else
                            {
                                <div class="ui toggle checkbox"> <input type="checkbox" class="kscaddstaff" value="active" name="public" style="margin-top: -19px; margin-left:7px"> <label>Active</label> </div>
                            }
                        </div>
                    </div>

                    <div class="container-fluid">

                        <div class="accordionks mt-2">
                            <div class="row">
                                <div class="col-md-4">

                                    <span id="span-package-1">Service Name</span>
                                </div>
                                <div class="col-md-4">
                                    <span id="span-package-1">View</span>
                                </div>

                                <div class="col-md-4">

                                    <span id="span-package-1">add/Edit</span>


                                </div>
                                @*<div class="col-md-3">
                                <span id="span-package-1">  Add New </span>
                            </div>*@
                            </div>
                        </div>



                        <div class="accordion1 mt-2" id="package">
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Orders</span>
                                </div>
                                @if (@item.order == 1)
                                {
                                    <div class="col-md-4">

                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_view" style="margin-top: 0px; margin-left:7px" checked> <label style="margin-top: 21px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle kscaddstaffdiv checkbox"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_add" style="margin-top: 0px; margin-left:7px"> <label style="margin-top: 21px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.order == 2)
                                {

                                    <div class="col-md-4">

                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_view" style="margin-top: 0px; margin-left:7px" checked> <label style="margin-top: 21px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle kscaddstaffdiv checkbox"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_add" style="margin-top: 0px; margin-left:7px" checked> <label style="margin-top: 21px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">

                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_view" style="margin-top: 0px; margin-left:7px"> <label style="margin-top: 21px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle kscaddstaffdiv checkbox"> <input type="checkbox" name="public" class="kscaddstaff" value="Orders_add" style="margin-top: 0px; margin-left:7px"> <label style="margin-top: 21px;">Add/Edit</label> </div>


                                    </div>

                                }
                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Book Now</span>
                                </div>
                                @if (@item.book == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.book == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="book_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>

                                }




                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Quotations</span>
                                </div>
                                @if (@item.quote == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>

                                }
                                else if (@item.quote == 2)
                                {


                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="quote_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Service</span>
                                </div>
                                @if (@item.service == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.service == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="service_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }

                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">RevenueModel</span>
                                </div>
                                @if (@item.revenuemodel == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.revenuemodel == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="RevenueModel_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>


                                }



                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Invoice</span>
                                </div>
                                @if (@item.invoice == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>

                                }
                                else if (@item.invoice == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="invoice_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>


                                }
                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Payment</span>
                                </div>

                                @if (@item.payment == 1)
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.payment == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="payment_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>

                                }

                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Customer</span>
                                </div>
                                @if (@item.customer == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (@item.customer == 2)
                                { <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="customer_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }

                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Supplier</span>
                                </div>
                                @if (@item.supplier == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (item.supplier == 2)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="supplier_add" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }



                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span id="span-package-1">Addstaff</span>
                                </div>
                                @if (@item.addstaff == 1)
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else if (item.addstaff == 2)
                                {

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">View</label> </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="ui toggle checkbox kscaddstaffdiv"> <input type="checkbox" name="public" class="kscaddstaff" value="addstaff_view" style="margin-top: -7px; margin-left:7px"> <label style="margin-top: 12px;">Add/Edit</label> </div>


                                    </div>
                                }
                                @*<div class="col-md-3">
                                <div class="ui toggle checkbox"> <input type="checkbox" name="public" style="margin-top: -7px; margin-left:7px"><label style="margin-top: 12px;"></label> </div>

                            </div>*@
                            </div>

                        </div>






                    </div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-4">
                                <button id="SaveStaff" type="submit" name="command" value="Save" class="btn btn-success" style="display:block">Save</button>
                            </div>
                            <div class="col-md-4">
                                <button id="EditVendor" type="submit" name="command" value="Update" class="btn btn-success" style="display:none">Update</button>
                            </div>
                            <div class="col-md-4">
                                <button id="CancelVendor" type="button" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        }
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {
            $('#allorders').DataTable({
                responsive: true
            });
            //$('#addservices').css("display", "none");

        });
        $('#btnadd').click(function () {
            $('input.chcktbl').prop('checked', false);
            $('#saverecord').css('display', 'block');
            $('#SaveVendor').css('display', 'block');
            $('#EditVendor').css('display', 'none');
        });
        $('#CancelVendor').click(function () {
            $('#saverecord').css('display', 'none');
        });

        $('#SaveStaff').click(function () {
            var val = $(this).val();
            var Id = $('#id').val();
            var policycheck;
            var chkArray = [];
            $(".kscaddstaff:checked").each(function () {
                chkArray.push($(this).val());
                var selected;
                selected = chkArray.join(',');
                /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
                if (selected.length > 0) {
                    //  alert("You have selected " + selected);
                    policycheck = selected;
                } else {
                    alert("Please at least check one of the checkbox");
                }
            });
            var type = $("input[name='type']:checked").val();
            if (type == 'Corporate') {
                var Businessname = $('#Businessname').val();
                if (Businessname == '') { alert('Enter Customer Business Name'); $('#Businessname').focus(); }
            }
            //var Businessname = $('#Businessname').val();
            var firstname = $('#firstname').val();
            var fnamepattren = /^[a-zA-Z\s]+$/;
            var lastname = $('#lastname').val();
            var lnamepattren = /^[a-zA-Z\s]+$/;
            var email = $('#email').val();
            var emailidpattren = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var password = $('#password').val();
            var phoneno = $('#phoneno').val();
            var phonenopattern = /^[0-9]{10}$/;
            var designation = $('#designation').val();
            //var pincodepattern = /^(?! )(?!0000)[0-9]{6}$/;
            //var cpattren = /^[a-zA-Z\s]+$/;
            //var spattren = /^[a-zA-Z\s]+$/;
            //var countrypattren = /^[a-zA-Z\s]+$/;
            //--validation messages--//
            //if (Businessname == '') { alert('Enter Customer Business Name'); $('#Businessname').focus(); }
            if (firstname == '') { alert('Enter Customer First Name'); $('#firstname').focus(); }
            else if (!fnamepattren.test(firstname)) { alert("Enter only alphabates"); $("#firstname").focus(); }
            else if (lastname == '') { alert('Enter Customer Last Name'); $('#lastname').focus(); }
            else if (!lnamepattren.test(lastname)) { alert("Enter only alphabates"); $("#lastname").focus(); }
            else if (email == '') { alert('Enter Email'); $('#email').focus(); }
            else if (!emailidpattren.test(email)) { alert("Please Enter a valid Email Address"); $("#email").focus(); }
            else if (phoneno == '') { alert('Enter Phone Number'); $('#phoneno').focus(); }
            else if (phoneno.length < 10) { alert('Enter 10 digits only'); $('#phoneno').focus(); }
            else if (!phonenopattern.test(phoneno)) { alert("Please Enter 10 digit Phone Number "); $("#phoneno").focus(); }
            else if (password == '') { alert('Enter Password'); $('#password').focus(); }
            else if (designation == '') { alert('Enter designation'); $('#designation').focus(); }
            else {
                var StaffAccess = {
                    VendorMasterID: $('#vendorId').val(),
                 //   fname: $("input[name='type']:checked").val(),
                   // Businessname: $('#Businessname').val(),
                    fname: firstname,
                    lname: lastname,
                    emailid: email,
                    phoneno: phoneno,
                    designation: designation,
                    
                }
                $.ajax({
                    url: '/ManageStaff/addupdatestaff?command=' + val + '&&id=' + Id + '&&kscadd=' + policycheck + '&&password=' + password,
                    type: 'POST',
                    data: JSON.stringify({ Staffsccess: StaffAccess }),
                    contentType: 'application/json',
                    success: function (data) {
                        alert(data);
                        $('#addcustomermodel').modal('hide');
                        window.location.reload();
                    },
                    error: function (data) {
                        alert("save is failed");
                    }
                });
            }
        });

        $(document).on('change', '.chcktbl', function () {
            //alert('ks');
            if ($(this).is(':checked')) {
                $('input.chcktbl').not(this).prop('checked', false);
                $(this).attr("checked", "checked");
                $(this).closest('tr').find('#btnBook').removeAttr('disabled');
                $('#saverecord').css('display', 'none');
              //  $('#saverecord1').css('display', 'block');

             //   $('#SaveUser').css('display', 'none');
               // $('#EditUser').css('display', 'block');
              //  var vpbook = window.localStorage.getItem("vpbook");
                //$('#booknowss').css('display', 'none');
              
                var radataid = $(this).val();
                $('#id').val(radataid);
                //alert(radataid);
                $.ajax({
                    url: '/ManageStaff/Index?sid=' + radataid,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (result) {
                        alert('show');
                      //  $('#saverecord1').html(result);
                        //if (result.type == "Corporate") {
                        //    $("input[name=type][value='Corporate']").prop('checked', true);
                        //}
                        //else {
                        //    $("input[name=type][value='Individual']").prop('checked', true);
                        //}
                        //$("#usedid").val(result.id);
                        //$("#Businessname").val(result.Businessname);
                        //$("#firstname").val(result.firstname);
                        //$("#lastname").val(result.lastname);
                        //$("#email").val(result.email);
                        //$("#phoneno").val(result.phoneno);
                        //$("#adress1").val(result.adress1);
                        //$("#adress2").val(result.adress2);
                        //$("#city").val(result.city);
                        //$("#state").val(result.state);
                        //$("#country").val(result.country);
                        //$("#pincode").val(result.pincode);
                        //$("#Status").val(result.Status);
                        //if (result.Status == "Active") {
                        //    $("input[name=Status][value='Active']").prop('checked', true);
                        //    if (vpbook == '' || vpbook == null)
                        //        $('#booknow').css('display', 'none');
                        //    else
                        //        $('#booknow').css('display', 'block');
                        //}
                        //else {
                        //    $("input[name=Status][value='InActive']").prop('checked', true);
                        //    $('#booknow').css("display", "none");
                        //}
                    },
                    error: function (result) {
                        alert("failed");
                    }
                })
            }
            else {
                $(this).closest('tr').find('#btnBook').attr('disabled', 'disabled');
                $('#saverecord').css('display', 'none');
            }
        });

    </script>
}