
@{
    ViewBag.Title = "update Deal";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @using (Html.BeginForm("updatedeal", "NVendorDeals", FormMethod.Post))
            {

                if (ViewBag.dealrecord1 != null)
                {
                    foreach (var item in ViewBag.dealrecord1)
                    {
                <div class="nav-tabs-vertical">
                    <div class="tab-content padding-vertical-15">
                        <form class="">
                            <input type="hidden" class="form-control" name="vid" value="@item.VendorId" autocomplete="off">
                            <input type="hidden" class="form-control" name="id" value="@item.DealID" autocomplete="off">

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" name="DealName" placeholder="Deal Name" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="number" class="form-control" name="OriginalPrice" placeholder="Original Price" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="number" class="form-control" name="DealPrice" placeholder="Deal Price" autocomplete="off">
                                </div>

                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control" name="Category" value="@item.Category" placeholder="@item.Category" autocomplete="off" disabled>

                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control" name="type" value="@item.VendorType - @item.VendorSubType" placeholder="@item.VendorType - @item.VendorSubType" autocomplete="off" disabled>

                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" name="food type" value="@item.FoodType" placeholder="@item.FoodType" autocomplete="off" disabled>

                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="number" class="form-control" name="minGuests" placeholder="Minimum Number Of Guests" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="number" class="form-control" name="maxGuests" placeholder="Maximum Number Of Guests" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    @*<input type="date" class="form-control" name="StartDate" placeholder="Start Date" autocomplete="off">*@
                                    <input placeholder="Start Date" name="StartDate" class="textbox-n" type="text" onfocus="(this.type='date')" id="date"> 
                                </div>
                                <div class="form-group col-sm-6">
                                    @*<input type="date" class="form-control" name="EndDate" placeholder="End Date" autocomplete="off">*@
                                    <input placeholder="End Date" name="EndDate" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">

                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" name="timeslot" value="Morning">
                                        <label>Morning</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" name="timeslot1" value="Evening">
                                        <label>Evening</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="ddesc" placeholder="Deal Description"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                    }
                }
            }
        </div>
    </div>
</div>

