<div class="container-fluid innerPagesBg" id="BlockFivePartial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 mb-4">
                <div class="totalDealsBlock bgWhite py-3">
                    <div class="row mx-0">
                        <h3 class="noteWorthybold px-15">
                            @ViewBag.type
                            <div class="blackBorder"></div>
                        </h3>
                    </div>

                    @if (ViewBag.others != null)
                    {
                        <div class="row mx-0 my-4">
                            @foreach (var item in ViewBag.others)
                            {
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 productBlock">
                                    <a href="/NParticularVendor?type=@ViewBag.type&&id=@item.id&&vid=@item.subid">
                                        <div class="w-100">
                                            @*<img src="~/newdesign/images/banquet-bg.png" class="img-fluid" alt="Deals" />*@
                                            @if (item.logo != null && item.logo != "")
                                            {<img src="~/vendorimages/@item.logo" alt="@item.logo" class="img-fluid">}
                                            else if (item.image != null && item.image != "")
                                            {<img src="~/vendorimages/@item.image" alt="@item.image" class="img-fluid">}
                                            else
                                            { <img src="~/noimages.png" alt="No Image Available" class="img-fluid">}
                                        </div>
                                        <div class="w-100">
                                            <div class="row mx-0 my-2 px-2 d-flex align-items-center">
                                                <p class="productName mb-0">@item.businessname</p>
                                                <span class="ml-auto"><i class="fa fa-plus addCartIcn" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="w-100">
                                        <div class="row px-2 d-flex align-items-center">
                                            <div class="col-6 col-md-6">
                                                <p class="productMinPrice mb-0 themeColor d-inline"> <span>@item.cost</span>  </p> @*<small>k</small>*@
                                                @*<p class="productMaxPrice mb-0 themeColor d-inline"> <span>@item.Maxorder</span>  </p>*@
                                            </div>
                                            <div class="col-6 col-md-6">
                                                <div class="starRating">
                                                    <div class="emptyStar"></div>
                                                    <div class="scoreStar yellowFont" style="width:51%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 d-inline-block">

                                        <div class="d-inline float-right yellowFont pr-2 totalReviewCount"> (<span>162</span>) </div>

                                    </div>
                                </div>
                            }
                            
                        </div>

                        if (ViewBag.count == "1")
                        {
                            <div class="row mx-0 my-4">
                                <div class="mx-auto d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white" onclick="PartialFive()"><i class="fa fa-plus mr-1" aria-hidden="true"></i>More</span> </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Records Available</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

