
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row innerPagesBg py-2">
        <input type="hidden" id="L1" name="L1" value="@ViewBag.count" />
        <input type="hidden" id="L2" name="L2" value="@ViewBag.count" />
        <input type="hidden" id="L3" name="L3" value="@ViewBag.count" />
        <input type="hidden" id="L4" name="L4" value="@ViewBag.count" />
        <input type="hidden" id="L5" name="L5" value="@ViewBag.count" />
        <div class="col-12 col-sm-12 col-md-9 mb-2 mb-sm-0 mb-md-0">
            @{Html.RenderAction("BlockOnePartial", "NResults"); } @*Venue Records partial View*@

            @{Html.RenderAction("BlockTwoPartial", "NResults"); } @*Catering Records partial View*@
        </div>
        <div class="col-12 col-sm-12 col-md-3 pl-md-0 topVenus">
            <div class="px-15">
                @{Html.RenderAction("BlockThreePartial", "NResults"); } @*Decorator Records partial View*@

                @{Html.RenderAction("BlockFourPartial", "NResults"); } @*Photography Records partial View*@
            </div>
        </div>
    </div>
</div>

@if (new string[] { "Mehendi", "Pandit" }.Contains(Request.QueryString["type"]))
{
    { Html.RenderAction("BlockFivePartial", "NResults"); } @*Mehendi/Pandit Records partial View*@
}
<div class="container">
    <div class="margin-top-50">
        <div class="row mx-0">
            <h3 class="noteWorthybold">
                What's Trending
                <div class="blackBorder"></div>
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme mt-3">
                    <a href="/NQuestionNaire?servicetype=Hotel" class="item">
                        <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                        <span class="d-block mt-2 text-center themeFontColor">Hotels</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Function Hall" class="item">
                        <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Function Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Convention Hall" class="item">
                        <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Convention Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Resort" class="item">
                        <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                        <span class="d-block mt-2 text-center themeFontColor">Resort</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                </div>
            </div>
        </div>
        @*<h3>Vamsi</h3>*@
    </div>
    @*<div class="margin-top-50">
            <div class="row mx-0">
                <h3 class="noteWorthybold">
                    Choose an other Service
                    <div class="blackBorder"></div>
                </h3>
            </div>
            <div class="row my-3">
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="#" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Venues</p>
                    </a>
                </div>
            </div>
        </div>*@
</div>

@section scripts{
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>


    <script>
        $(document).ready(function () {
            $.cookie("qurl", document.URL);
           // alert($.cookie("qurl"));
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>

    <script>
        var parameters = 'type=@Request.QueryString["type"]&&loc=@Request.QueryString["loc"]&&budget=@Request.QueryString["budget"]&&stype=@Request.QueryString["stype"].TrimEnd(',').Replace(' ','-')&&date=@Request.QueryString["date"]&&count=@Request.QueryString["count"]';
        function PartialOne() {
            var lastrecord = parseInt($('#L1').val()) + parseInt(6);
            var url = '/NResults/BlockOnePartial?' + parameters + '&&L1=' + lastrecord;
            //alert(url);
            $("#BlockOnePartial").empty().load(url);
            $('#L1').val(lastrecord);
        }

        function PartialTwo() {
            var lastrecord = parseInt($('#L2').val()) + parseInt(6);
            var url = '/NResults/BlockTwoPartial?' + parameters + '&&L2=' + lastrecord;
            $("#BlockTwoPartial").empty().load(url);
            $('#L2').val(lastrecord);
        }

        function Partialthree() {
            var lastrecord = parseInt($('#L3').val()) + parseInt(6);
            var url = '/NResults/BlockThreePartial?' + parameters + '&&L3=' + lastrecord;
            $("#BlockThreePartial").empty().load(url);
            $('#L3').val(lastrecord);
        }

        function Partialfour() {
            var lastrecord = parseInt($('#L4').val()) + parseInt(6);
            var url = '/NResults/BlockFourPartial?' + parameters + '&&L4=' + lastrecord;
            $("#BlockFourPartial").empty().load(url);
            $('#L4').val(lastrecord);
        }

        function PartialFive() {
            var lastrecord = parseInt($('#L5').val()) + parseInt(6);
            var url = '/NResults/BlockFivePartial?' + parameters + '&&L5=' + lastrecord;
            $("#BlockFivePartial").empty().load(url);
            $('#L5').val(lastrecord);
        }
    </script>
}

