@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.Contest>
@using MaaAahwanam.Web.Custom
@{
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

@section css{
    <!-- Image Cropper CSS -->
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/imgareaselect-default.css">
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/jquery.awesome-cropper.css">
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light secondNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"> <a class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link">About</a></li>
                <li class="nav-item"><a class="nav-link">Rules</a></li>
                <li class="nav-item"><a class="nav-link">Prizes</a></li>
                <li class="nav-item"><a class="nav-link">Sponsors</a></li>
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                {
                    <li class="nav-item"><a class="nav-link">My Entries</a></li>
                }
                <li class="nav-item"><a class="nav-link">Upload Image</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container margin-top-50">
    <div class="row">
        <div class="col-md-6 totalUploadCount primaryFont">
            <p class="mb-sm-4 mb-md-0"><span>@ViewBag.count</span> Images Uploaded</p>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-0">
                <input type="search" class="form-control" name="" placeholder="Search Here" />
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-50 pages">
    <div class="row my-3 components" id="Home">
        <input type="hidden" id="tcid" />
        @for (int i = 0; i < ViewBag.count; i++)
        {
            <div class="col-12 col-sm-4 col-md-4 block mb-3">
                <input type="hidden" id="cid" value="@ViewBag.AvailableContestEntries[i].ContestId" />
                <figure>
                    <img src="~/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />
                </figure>
                <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.AvailableContestEntries[i].Name</p>
                <p class="ml-3 mb-0">@ViewBag.time[i]</p>
                <p class="descrption">@ViewBag.AvailableContestEntries[i].Description</p>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.votecount[i]</span> people loved</div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row my-3 components" id="About">
        <div class="col-12 col-md-12">About Us Content</div>
    </div>
    <div class="row my-3 components" id="Rules">
        <div class="col-12 col-md-12">Rules Content</div>
    </div>
    <div class="row my-3 components" id="Prizes">
        <div class="col-12 col-md-12">Prizes Content</div>
    </div>
    <div class="row my-3 components" id="Sponsors">
        <div class="col-12 col-md-12">Sponsors Content</div>
    </div>
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
    {
        <div class="row my-3 components" id="My Entries">
            <div class="col-12 col-md-12">
                @for (int i = 0; i < ViewBag.mycount; i++)
                {
                    <div class="col-12 col-sm-4 col-md-4 block mb-3">
                        <input type="hidden" id="cid" value="@ViewBag.userenties[i].ContestId" />
                        <figure>
                            <img src="~/ContestPics/@ViewBag.userenties[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />
                        </figure>
                        <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.userenties[i].Name</p>
                        <p class="ml-3 mb-0">@ViewBag.mytime[i]</p>
                        <p class="descrption">@ViewBag.userenties[i].Description</p>

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.myvotes[i]</span> people loved</div>
                            @*<div class="col-12 col-sm-6 col-md-6">
                                <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                            </div>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="row my-3 components" id="Upload Image">
        <div class="col-12 col-sm-12 col-md-12">
            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
            {
                <form role="form">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" href="#">Signin / Signup </button>
                    @*<div class="col-12 col-sm-4 col-md-4 block mb-3">
                            <input type="hidden" id="cid" value="@ViewBag.AvailableContestEntries[i].ContestId" />
                            <figure>
                                <img src="~/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />
                            </figure>
                            <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.AvailableContestEntries[i].Name</p>
                            <p class="ml-3 mb-0">@ViewBag.time[i]</p>
                            <p class="descrption">@ViewBag.AvailableContestEntries[i].Description</p>

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.votecount[i]</span> people loved</div>
                                <div class="col-12 col-sm-6 col-md-6">
                                    <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                                </div>
                            </div>
                        </div>*@
                </form>

            }
            else
            {
                if (ViewBag.uploadimage == 0)
                {
                    <form role="form" method="post">
                        <input id="sample_input" type="hidden" name="sample_input">
                        <div class="w-100 mt-3">
                            <div class="form-group col-12 col-sm-8 col-md-6">
                                <label for="comment">Your Name:</label>
                                <input type="text" id="Item2_Name" name="Item2.Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="w-100 mt-3">
                            <div class="form-group col-12 col-sm-8 col-md-6">
                                <label for="comment">Description:</label>
                                <textarea class="form-control" rows="5" id="Item2_Description" name="Item2.Description" required></textarea>
                            </div>
                        </div>
                        <div class="w-100 mt-3">
                            <div class="form-group col-12 col-sm-8 col-md-6">
                                <input type="checkbox" id="Item2_TermsAndConditions" name="Item2.TermsAndConditions" value="1" required /> <label for="Item2_TermsAndConditions">Terms & Conditions</label>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="col-12 col-sm-8 col-md-6">
                                <button type="submit" class="btn themeRedBgColor text-white shareBtn py-2 px-4" name="command" value="Add">Enter Contest</button>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <form role="form">
                        @*<button type="button" class="btn btn-primary">Thanks for your participation </button>*@
                        <p>Thanks for your participation.Manage your Entry in My Entries Tab</p>
                    </form>
                }
            }

        </div>
    </div>
</div>
<div class="container-fluid blockPopup" id="popup">
    @{ Html.RenderAction("ParticularEntryView", "ParticularContest");}
</div>

@section scripts{
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.awesome-cropper.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample_input').awesomeCropper(
            { width: 250, height: 250, debug: true }//, disable()
            );//.on('change',function () { disable() });
            //$(".awesome-cropper > input[type='file']").attr('required', 'required');

            //function disable() {
            //    alert("disable");
            //}
        });
    </script>

    <script type="text/javascript">

        /*-- popUp Display Block / None --*/

        //var $appendFigure = $(".blockPopup .block figure"), $appendDescrption = $(".blockPopup .block .totalContent .descrption"), $appendContestants = $(".blockPopup .block .totalContent .contestants"), $appendPeopleLove = $(".blockPopup .block .totalContent .peopleLoved span");
        $("#Home .block").click(function () {
            $(".blockPopup").css("display", "block");

            var cid = $(this).find("figure").prevAll('#cid').val();
            var id = '@ViewBag.id';
            var url = '/ParticularContest/ParticularEntryView?id=@ViewBag.id&&tcid=' + cid;
            $('#popup').empty().load(url);
            //alert(cid);
            $('#tcid').val(cid);
            //var $blockFigure = $(this).find("figure").html(), $blockDescrption = $(this).find(".descrption").contents().clone(true), $blockContestants = $(this).find('.contestants').contents().clone(true),
            //  $blockPeopleLoved = $(this).find('.descrption').next('.row').find('.peopleLoved').html();
            //$($appendFigure).empty();
            //$($blockFigure).appendTo($appendFigure);
            //$($appendDescrption).empty();
            //$($blockDescrption).appendTo($appendDescrption);
            //$($appendContestants).empty();
            //$($blockContestants).appendTo($appendContestants);
            //$($appendPeopleLove).empty();
            //alert($(this).find('.descrption').next('.row').find('.peopleLoved').html());
            //$($blockPeopleLoved).appendTo($appendPeopleLove);
            //$(this).find('.tcid').html().empty().appendTo(cid);
        });

        $(document).on('click', ".blockPopup .blockClose i", function () {
            $(".blockPopup").css("display", "none");
        });
        //$(".blockPopup .blockClose i").click(function () {
        //    $(".blockPopup").css("display", "none");
        //});
        /*-- popUp Display Block / None --*/

        /*-- Vote / Un Vote --*/
        var vote = $(".totalContent .contentBottom label");

        //$(vote).on('click', function () {
        //$(document).on('click',vote ,function () {
        //    if ($(this).find("input[type='checkbox']").is(':checked')) {
        //        //$(this).find('span').empty();
        //        //$(this).find('span').append('UNVOTE');
        //    } else {
        //        $(this).find('span').empty();
        //        $(this).find('span').append('VOTE');
        //    }
        //    //voting(vote.text());
        //});



        //$(vote).change(function () {
        $(document).on('change', vote, function () {
            var checked = $(this).find("input[type='checkbox']").is(':checked');
            if (!checked) {
                voting("Remove")

            }
            else voting("Add")
        });

        //voting(vote.text());
        /*-- Vote / Un Vote --*/

        /*-- Pages Display --*/
        $("nav.secondNav ul li a").click(function () {
            var anchorTxt = $(this).text();
            //alert("Anchor Text : " + anchorTxt);
            $(this).parent('li').nextAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').prevAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').css('border-bottom', '2px solid #573393');
            $(".pages > div").each(function () {
                var pageId = $(this).attr('id');
                //alert("Page Text : " + pageId);
                if (anchorTxt == pageId) {
                    $(this).prevAll().css('display', 'none');
                    $(this).nextAll().css('display', 'none');
                    $(this).css('display', 'flex');
                }
            });
        });
        /*-- Pages Display --*/

    </script>

    <script>
        function voting(val) {
            var id = $('#tcid').val();
            var url = "";
            if (val == 'Add') {
                url = '/ParticularContest/Voting';
                $.ajax({
                    url: url,
                    type: "POST",
                    datatype: "json",
                    data: { id: id },
                    success: function (response) {
                        alert(response);
                        location.reload();
                    },
                    error: function (er) {
                        alertmsg("System Encountered Internal Error!!! Try Again After Some Time");
                    }
                });
            }
            //else if (val == 'Remove') {
            //    // url = '/ParticularContest/RemoveVote';
            //    alert("Voting is Done");
            //}
            //alert(url);

        }
    </script>

}
