@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.Contest>
@using MaaAahwanam.Web.Custom
@{
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

@section css{
    <!-- Image Cropper CSS -->
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/imgareaselect-default.css">
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/jquery.awesome-cropper.css">
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light secondNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"> <a class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link">About</a></li>
                <li class="nav-item"><a class="nav-link">Rules</a></li>
                <li class="nav-item"><a class="nav-link">Prizes</a></li>
                <li class="nav-item"><a class="nav-link">Sponsors</a></li>
                <li class="nav-item"><a class="nav-link">Upload Image</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container margin-top-50">
    <div class="row">
        <div class="col-md-6 totalUploadCount primaryFont">
            <p class="mb-sm-4 mb-md-0"><span>3,456</span> Images Uploaded</p>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-0">
                <input type="search" class="form-control" name="" placeholder="Search Here" />
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-50 pages">
    <div class="row my-3 components" id="Home">
        @*@foreach (var item in ViewBag.AvailableContestEntries)
        {
            <div class="col-12 col-sm-4 col-md-4 block mb-3">
                <figure>
                    <img src="~/ContestPics/@item.UploadedImage" class="img-fluid" alt="Happy Fathers Day" />
                </figure>
                <p class="contestants secondaryTextColor fontWeight700 mb-2">@item.Name</p>
                <p class="ml-3 mb-0"><span>@item.CreatedDate</span> days ago</p>
                <p class="descrption">@item.Description</p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><spana>350</spana> people loved</div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                    </div>
                </div>
            </div>
        }*@

        @for (int i = 0; i < ViewBag.count; i++)
        {
            <div class="col-12 col-sm-4 col-md-4 block mb-3">
                <figure>
                    <img src="~/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />
                </figure>
                <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.AvailableContestEntries[i].Name</p>
                <p class="ml-3 mb-0">@ViewBag.time[i]</p>
                <p class="descrption">@ViewBag.AvailableContestEntries[i].Description</p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><spana>@ViewBag.voedcount[i]</spana> people loved</div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row my-3 components" id="About">
        <div class="col-12 col-md-12">About Us Content</div>
    </div>
    <div class="row my-3 components" id="Rules">
        <div class="col-12 col-md-12">Rules Content</div>
    </div>
    <div class="row my-3 components" id="Prizes">
        <div class="col-12 col-md-12">Prizes Content</div>
    </div>
    <div class="row my-3 components" id="Sponsors">
        <div class="col-12 col-md-12">Sponsors Content</div>
    </div>
    <div class="row my-3 components" id="Upload Image">
        <div class="col-12 col-sm-12 col-md-12">
            @*@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
            {
                <form method="post" action="/ParticularContest/UserAuthentication?command=Login">
                    <div class="w-100 mt-3">
                        <div class="form-group col-12 col-sm-8 col-md-6">
                            <label for="comment">Username:</label>
                            <input type="text" id="Item1_UserName" name="Item1.UserName" class="form-control" required />
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <div class="form-group col-12 col-sm-8 col-md-6">
                            <label for="comment">Password:</label>
                            <input type="password" class="form-control" id="Item1_Password" name="Item1.Password" required />
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="col-12 col-sm-8 col-md-6">
                            <button type="submit" class="btn themeRedBgColor text-white shareBtn py-2 px-4" name="command" value="Login">Login</button>
                        </div>
                    </div>
                </form>
            }
            else
            {*@
                <form role="form" method="post">
                    <input id="sample_input" type="hidden" name="sample_input">
                    <div class="w-100 mt-3">
                        <div class="form-group col-12 col-sm-8 col-md-6">
                            <label for="comment">Your Name:</label>
                            <input type="text" id="Item2_Name" name="Item2.Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <div class="form-group col-12 col-sm-8 col-md-6">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" rows="5" id="Item2_Description" name="Item2.Description" required></textarea>
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <div class="form-group col-12 col-sm-8 col-md-6">
                            <input type="checkbox" id="Item2_TermsAndConditions" name="Item2.TermsAndConditions" value="1" required /> <label for="Item2_TermsAndConditions">Terms & Conditions</label>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="col-12 col-sm-8 col-md-6">
                            <button type="submit" class="btn themeRedBgColor text-white shareBtn py-2 px-4" name="command" value="Add">Enter Contest</button>
                        </div>
                    </div>
                </form>
            @*}*@

        </div>
    </div>
</div>
<div class="container-fluid blockPopup">
    <div class="row block">
        <div class="col-12 col-sm-6 col-md-7 pl-0">
            <figure class="mb-0">
            </figure>
        </div>
        <div class="col-12 col-sm-6 col-md-5 totalContent">
            <div class="contentTop">
                <p class="contestants secondaryTextColor fontWeight700 mb-2"></p>
                <p class="descrption"></p>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 fontWeight700 peopleLoved"><i class="fa fa-heart themeRedTextColor mr-2" aria-hidden="true"></i><span></span></div>
                </div>
            </div>
            <div class="contentBottom">
                <div class="w-100">
                    <label class="py-2">
                        <input type="checkbox" name="">
                        <span>Vote</span>
                    </label>
                </div>
                <div class="w-100 socialIcons my-2">
                    <ul class="pl-0 mb-0 text-center">
                        <li class="faceBook">
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
{
                            <a href=https://facebook.com/sharer.php?u= {@Request.Url.AbsoluteUri}><i class="fa fa-facebook" aria-hidden="true"></i></a>
}
else
{

    <a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>

}
                        </li>
                    </ul>
                </div>
                <p class="w-100 mb-0 text-center fontWeight700" style="font-size: 14px;">SHARE WITH YOUR FRIENDS</p>
            </div>
        </div>
        <div class="blockClose"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.awesome-cropper.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample_input').awesomeCropper(
            { width: 250, height: 250, debug: true }//, disable()
            );//.on('change',function () { disable() });
            //$(".awesome-cropper > input[type='file']").attr('required', 'required');

            //function disable() {
            //    alert("disable");
            //}
        });
    </script>

    <script type="text/javascript">

        /*-- popUp Display Block / None --*/

        var $appendFigure = $(".blockPopup .block figure"), $appendDescrption = $(".blockPopup .block .totalContent .descrption"), $appendContestants = $(".blockPopup .block .totalContent .contestants"), $appendPeopleLove = $(".blockPopup .block .totalContent .peopleLoved span");
        $("#Home .block").click(function () {
            $(".blockPopup").css("display", "block");
            var $blockFigure = $(this).find("figure").html(), $blockDescrption = $(this).find(".descrption").contents().clone(true), $blockContestants = $(this).find('.contestants').contents().clone(true),
              $blockPeopleLoved = $(this).find('.descrption').next('.row').find('.peopleLoved').html();
            $($appendFigure).empty();
            $($blockFigure).appendTo($appendFigure);
            $($appendDescrption).empty();
            $($blockDescrption).appendTo($appendDescrption);
            $($appendContestants).empty();
            $($blockContestants).appendTo($appendContestants);
            $($appendPeopleLove).empty();
            //alert($(this).find('.descrption').next('.row').find('.peopleLoved').html());
            $($blockPeopleLoved).appendTo($appendPeopleLove);
        });
        $(".blockPopup .blockClose i").click(function () {
            $(".blockPopup").css("display", "none");
        });
        /*-- popUp Display Block / None --*/

        /*-- Vote / Un Vote --*/
        var vote = $(".totalContent .contentBottom label");
        $(vote).click(function () {
            if ($(this).find("input[type='checkbox']").is(':checked')) {
                $(this).find('span').empty();
                $(this).find('span').append('UNVOTE');
            } else {
                $(this).find('span').empty();
                $(this).find('span').append('VOTE');
            }
        });
        /*-- Vote / Un Vote --*/

        /*-- Pages Display --*/
        $("nav.secondNav ul li a").click(function () {
            var anchorTxt = $(this).text();
            //alert("Anchor Text : " + anchorTxt);
            $(this).parent('li').nextAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').prevAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').css('border-bottom', '2px solid #573393');
            $(".pages > div").each(function () {
                var pageId = $(this).attr('id');
                //alert("Page Text : " + pageId);
                if (anchorTxt == pageId) {
                    $(this).prevAll().css('display', 'none');
                    $(this).nextAll().css('display', 'none');
                    $(this).css('display', 'flex');
                }
            });
        });
        /*-- Pages Display --*/

    </script>

}
