<div class="totalDealsBlock bgWhite py-3">
    <div class="row mx-0">
        <h3 class="noteWorthybold px-15">
            Deals(<span>@ViewBag.dealcount</span>)
            <div class="blackBorder"></div>
        </h3>
    </div>
    <input type="hidden" id="dealLastRecord" value="@ViewBag.dealLastRecord" />
    <input type="hidden" id="dealcount" value="@ViewBag.dealcount" />

    <div class="row mx-0 my-4" id="deals">
        @*@{Html.RenderPartial("deallist", "NLiveDeals");}*@
        @if (ViewBag.deal != "" && ViewBag.deal != null)
        {
            foreach (var deal in ViewBag.deal)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 productBlock">
                    <div class="w-100">
                        <a href="/NViewDeal/Index?id=@deal.DealID&&type=@deal.VendorType">
                            @if (@deal.image == null)
                            {
                                <img src="~/noimages.png" class="img-fluid" alt="Deals" />
                            }


                            else
                            {
                                <img src="~/vendorimages/@deal.image" class="img-fluid" alt="Deals" />
                            }
                        </a>
                    </div>
                    <div class="w-100">
                        <div class="row mx-0 my-2 px-2 d-flex align-items-center">
                            <a href="/NViewDeal/Index?id=@deal.DealID&&type=@deal.VendorType">
                                <p class="productName mb-0">@deal.BusinessName</p>
                            </a>
                            <span class="ml-auto"><i class="fa fa-plus addCartIcn" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="row mx-0 mb-2 px-2 d-flex align-items-center">
                            <p class="productDiscountPrice mb-0 themeColor">
                                <span>@deal.cost</span><small>k</small> INR
                            </p>
                            <p class="productMrp mb-0 ml-1 greyColor">
                                ( <span>2.50</span><small>k</small> INR )
                            </p>
                        </div>
                    </div>
                </div>
            }
        }




    </div>
    <div class="row mx-0 my-4">

        @if (@ViewBag.dealLastRecord <= @ViewBag.dealcount)
        {


            <div class="mx-auto d-inline-flex" id="more" name="more">
                <span class="themeBgColorPrimary btnSecondary text-white" onclick="load('deals')"><i class="fa fa-plus mr-1" aria-hidden="true"></i>More</span>
            </div>
        }
        else
        { <div class="mx-auto d-inline-flex" id="more" name="more">
            <span class="themeBgColorPrimary btnSecondary text-white"> Thats All !!!!</span>
        </div>

        }


    </div>
</div>