@*<link href="~/newdesignstyles/MDB-Free_4.5.12/css/mdb.min.css" rel="stylesheet" />*@
<style>
    .services {
        padding: 15px 15px 15px 20px;
    }

        .services div ,.services div >a {
            cursor: pointer;
            font-size: 14px;
            font-family: lato;
            color:black;
        }
</style>
<div class="services">
    <div onclick="location.href = '/vdb'">Dashboard</div>
    <div>Quotes</div>
    <div onclick="location.href = '/vdb?c=orders'">Orders</div>
    <div onclick="location.href = '/ManageUser'">Customers/clients</div>
    <div onclick="location.href = '/ManageVendor'">Suppliers</div>
    
    <div class="row" style="padding-top:2%">
        <button class="accordion" id="sidebaracc1" style="background-color: #fff;padding: 0;"> Resellers/Partners</button>
        <div class="panel">
            <div onclick="location.href = '/ReSellerManagement'"> Add Resellers/Partners</div>
            @if (ViewBag.resellername != null)
            {
                foreach (var item in ViewBag.resellername)
                {

                    <div><a class="subcatclose" value="@item.PartnerID,@item.PartnerName,@item.VendorType,Venue" style="color: red;font-size: 12px;">X</a><a href="/ReSellerManagement/Index?partid=@item.PartnerID&&vid=@item.VendorId"> @item.PartnerName</a></div>
                }
            }
        </div>

        <button class="accordion" id="sidebaracc2" style="background-color: #fff;padding: 0;">Services</button>
        <div class="panel" style="overflow-y:scroll">
            @foreach (var item in ViewBag.venues)
            {
                if (item.VenueType == "" || item.VenueType == null)
                {
                    <div><a class="subcatclose" value="@item.Id,,Venue" style="color: red;font-size: 12px;">X</a> <a href="/vdb/Index?c=first&&vid=@item.Id">Venue</a></div>
                }
                else
                {
                    <div><a class="subcatclose" value="@item.Id,@item.name,Venue" style="color: red;font-size: 12px;">X</a><a href="/vdb/Index?c=first&&vid=@item.Id"> @item.name - @item.VenueType</a></div>
                }
            }
            @foreach (var item in ViewBag.catering)
            {
                <div><a class="subcatclose" value="@item.Id,,@item.CuisineType,Catering" style="color: red;font-size: 12px;">X</a> <a href="/VDashboard/Index?c=first&&vsid=@item.Id">@item.CuisineType</a></div>
            }
            @foreach (var item in ViewBag.photography)
            {
                <div>  <a class="subcatclose" value="@item.Id,,@item.PhotographyType,Photography" style="color: red;font-size: 12px;">X</a> <a href="/VDashboard/Index?c=first&&vsid=@item.Id">@item.PhotographyType</a></div>
            }
            @foreach (var item in ViewBag.decorators)
            {
                <div><a class="subcatclose" value="@item.Id,,@item.DecorationType,Decorator" style="color: red;font-size: 12px;">X</a> <a href="/VDashboard/Index?c=first&&vsid=@item.Id">@item.DecorationType</a></div>
            }
            @foreach (var item in ViewBag.others)
            {
                <div>   <a class="subcatclose" value="@item.Id,,@item.type,Other" style="color: red;font-size: 12px;">X</a> <a href="/VDashboard/Index?c=first&&vsid=@item.Id">@item.type</a></div>
            }
        </div>
    </div>

    @*<div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            What is a dog?
        </div>
        <div class="content">
            <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What kinds of dogs are there?
        </div>
        <div class="content">
            <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How do you acquire a dog?
        </div>
        <div class="content">
            <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
            <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
        </div>
    </div>*@


    @*<div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Optional Details
        </div>
        <div class="content field">
            <label class="transition hidden">Maiden Name</label>
            <input placeholder="Maiden Name" type="text" class="transition hidden">
        </div>
    </div>*@

    @*<div class="ui basic vertical accordion menu">
        <div class="item">
            <a class="active title">
                <i class="dropdown icon"></i>
                Size
            </a>
            <div class="active content menu">
                <div class="ui form item">
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size" value="small">
                                <label>Small</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size" value="medium">
                                <label>Medium</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size" value="large">
                                <label>Large</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size" value="x-large">
                                <label>X-Large</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a class="active title">
                <i class="dropdown icon"></i>
                Colors
            </a>
            <div class="active content menu">
                <div class="ui form item">
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="small">
                                <label>Red</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="medium">
                                <label>Orange</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="large">
                                <label>Green</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="x-large">
                                <label>Blue</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@*<button type="button" onclick="addservice()" id="service">Add Service</button>*@
<div id="addservices" style="height:150px">
    <div id="addcategory" style="height:60px">
        <select class="form-control" id="serviceselection1" name="serviceselection1" style="height:40px">
            <option disabled selected>Select Service Type</option>
            <option value="Venue">Venue</option>
            <option value="Catering">Catering</option>
            <option value="Photography">Photography</option>
            <option value="Decorator">Decorator</option>
            <option value="Other">Others</option>
        </select>
    </div>
    <div>
        <button type="button" onclick="addservicenow()" class="btn btn-1 addbutton" style="border-radius:1px;width:100%;color:#fff;background-color:red; font-size:14px;">
            Submit
        </button>
    </div>
</div>
<div id="addservicesbutton" style="height:150px">
    <button type="button" onclick="addservice()" class="btn btn-1 " style="border-radius:1px;width:100%;color:#fff;background-color:red; font-size:14px;">
        Add Service
    </button>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<script>
    $(function() {
function toggleIcon(e) {
$(e.target)
.prev('.panel-heading')
.find(".plus-minus")
.toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
});
</script>*@

<script>
    $(document).on('click',  '#sidebaracc1', function () {
        $(this).next('.panel').css('display', 'block').css('max-height', '200px');
    });
    $(document).on('click', '#sidebaracc2', function () {
        $(this).next('.panel').css('display', 'block').css('max-height', '200px');
    });
</script>