

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: Index :: </title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">
    <!-- BX Slider -->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/jquery.bxslider.css" />

</head>
@using MaaAahwanam.Web.Custom


<body id="body-top">
    <div class="container-fluid">
        <div class="row">
            <nav class="top-menu">
                @*<ul>
                    <li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>*@
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    var user = (CustomPrincipal)HttpContext.Current.User;
                    if (user.UserType == "Vendor")
                    { Response.Redirect("/AvailableServices/changeid?id=" + user.UserId + ""); }
                    if (user.UserType == "User")
                    {
                        <ul>
                            <li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>
                            @*<li><a href="#"> LOG IN or SIGN UP FOR FREE</a></li>*@
                            <li><a href="#">Hi @ViewBag.username</a></li>
                            <li onclick="window.location.href = '/SampleStorefront/SignOut';"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Sign out</li>
                        </ul>
                    }
                }
                else
                {
                    <ul>
                        <li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>
                        @*<li><a href="#"> LOG IN or SIGN UP FOR FREE</a></li>*@
                        <li><a href="/SampleStorefront">Sign In</a></li>
                        <li><a href="/UserRegistration">Sign Up For Free</a></li>
                        <li><a href="/SampleStorefront"><i class="fa fa-suitcase" aria-hidden="true"></i>ARE YOU A PARTNER?</a></li>
                    </ul>
                }

                @*</ul>*@
            </nav>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Homepage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Wedding</a></li>
                            <li><a href="/VendorProducts/index?service=Venue">Venues</a></li>
                            <li><a href="#">Event Vendors</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Vendors <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/VendorProducts/index?service=Catering">Catering</a></li>
                                    <li><a href="/VendorProducts/index?service=Photography">Photography</a></li>
                                    <li><a href="/VendorProducts/index?service=Decorator">Decorator</a></li>
                                    @*<li role="separator" class="divider"></li>
                                        <li><a href="#">Event Vendors 4</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Event Vendors 5</a></li>*@
                                </ul>
                            </li>
                            <li><a href="#">Brides</a></li>
                            <li><a href="#">Grooms</a></li>
                            <li><a href="#">Event Ideas</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--<div class="row gallery">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gallery-left"></div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gallery-right"></div>
        </div>-->
    </div>
    <div class="container-fluid login-popup">
        <div class="login-form">
            <div class="form-group">
                <label>User Name</label>
                <input name="UserName" id="UserName" type="text" class="form-control" placeholder="" value="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="Password" id="Password" type="password" class="form-control" placeholder="">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" value="Login">Sign in</button>
            </div>
            <div class="form-group text-center">
                <a href="#">Forgot Password ?</a>
            </div>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="position: relative;">
            <article>

                <!-- Search box Start -->

                <form>
                    <h1>
                        I am a
                        <select id="mark" name="mark">
                            <!--<option value="">Dummy</option>-->
                            <option value="host">Host</option>
                            <option value="vendor">Vendor</option>
                        </select>
                        I want to
                        <select id="series" name="series">
                            <!--<option value="">Dummy</option>-->

                            <option value="register" data-chained="vendor">Register as a Vendor</option>
                            <option value="explore" data-chained="vendor">Explore the Portal</option>
                            <option value="account" data-chained="vendor">Go to My Account</option>

                            <option value="partners" data-chained="host">Explore Packages/Services/Partners</option>
                            <option value="portalwebsite" data-chained="host">Explore the Portal Website</option>
                        </select>

                        I need / I am a
                        <select id="model" name="model">
                            <!--<option value="">Dummy</option>-->

                            <option value="eventmanager" data-chained="account">Event manager</option>
                            <option value="groomingspecialists" data-chained="register">Grooming specialists</option>
                            <option value="performersartists" data-chained="register">Performers and Artists</option>
                            <option value="venuefood" data-chained="register">Venue/Food/Event Decor/Tents</option>
                            <option value="photographer" data-chained="explore">Photographer/Videographer/Website developer</option>
                            <option value="dj" data-chained="explore">DJ/Band and Dhol/Audio visual support</option>
                            <option value="invitationcards" data-chained="explore">Invitation cards supplier/Gifts supplier</option>
                            <option value="travel" data-chained="account">Travel and ticketing service</option>

                            <option value="eventmanager" data-chained="partners">Event manager</option>
                            <option value="groomingspecialists" data-chained="portalwebsite">Grooming specialists</option>
                            <option value="performersartists" data-chained="portalwebsite">Performers and artists</option>
                            <option value="venuefood" data-chained="portalwebsite">Venue/Food/Event Decor/Tents</option>
                            <option value="photographer" data-chained="portalwebsite">Photographer/Videographer/Website developer</option>
                            <option value="dj" data-chained="partners">DJ/Band and Dhol/Audio visual support</option>
                            <option value="invitationcards" data-chained="partners">Invitation cards supplier/Gifts supplier</option>
                            <option value="travel" data-chained="partners">Travel and ticketing service</option>
                        </select>
                        <br>
                        <div class="btn-group">
                            <button type="button" id="btnSearch" class="btn btn-primary btn-outline">Go <span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                    </h1>
                </form>
            </article>
            <!--<video poster="images/slider-1.jpg" playsinline="" autoplay muted="" loop>
              <source src="images/6580310.mp4" type="video/mp4">
            </video>-->
            <div class="carousel-area">
            </div>
        </div>
    </div>
    <div class="container-fluid steps-bg">
        <div class="how-it-work margin-top-100">
            <div class="row margin-bottom">
                <h3 class="text-center margin-top-0 margin-bottom-30">Plan Your Event in 3 Simple Steps</h3>
            </div>
            <div class="row steps margin-top">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <ul class="tabs">
                        <li class="tab1 tab-shadow">Step 1</li>
                        <li class="tab2">Step 2</li>
                        <li class="tab3">Step 3</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <ul class="tab-content">
                        <li>
                            <h5>Discover and Select Categories</h5>
                            <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-list fa-inverse"></i> </span>
                            <p>Choose categories of products/services based on your event</p>
                        </li>
                        <li>
                            <h5>Explore and Shortlist</h5>
                            <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-thumbs-up fa-inverse"></i> </span>
                            <p>Browse through various profiles and choose the ones that suit your needs</p>
                        </li>
                        <li>
                            <h5>Confirm and Connect</h5>
                            <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-map-marker fa-inverse"></i> </span>
                            <p>Send messages to the chosen profiles to discuss your requirements and confirm your booking only when you are convinced</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row margin-bottom-30">
                <div class="venue-quote-btn text-center">
                    <a href="#">Start Planing</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row gallery">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0 gallery-right">
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="cateres">
                    <a href="/VendorProducts/index?service=Catering">
                        <img src="~/newdesign/images/caterer.jpg" alt="Catrers">
                        <h5>Cateres</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="venues">
                    <a href="/VendorProducts/index?service=Venue">
                        <img src="~/newdesign/images/Venues.jpg" alt="Venues" />
                        <h5>Venues</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="Photographers">
                    <a href="/VendorProducts/index?service=Photography">
                        <img src="~/newdesign/images/photographer.jpg" alt="Photographer" />
                        <h5>Photographers</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/invitation.jpg" alt="invitation" />
                    <h5>Invitation</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/makeup.jpg" alt="Makeup Artist" />
                    <h5>Makeup Artist</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/wedding-planner.jpg" alt="Wedding Planner" />
                    <h5>Wedding Planner</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/wedding-decor.jpg" alt="Wedding-Decor" />
                    <h5>Wedding Decor</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <a href="/VendorProducts/index?service=Mehendi">
                        <img src="~/newdesign/images/mehendi.jpg" alt="Mehendi Artist" />
                        <h5>Mehendi Artist</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/beautynwellness.jpg" alt="Beauty &and; Wellness" />
                    <h5>Beauty & Wellness</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 gallery-left">
                <img src="~/newdesign/images/wedding-banner.jpg" alt="Wedding-Banner">
            </div>
        </div>
    </div>

    <div class="container margin-top-100">
        <div class="row">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Popular Hotels and Resorts</h3>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/golkondaresort.jpg" alt="Golkonda Hotels and Resorts">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Golkonda Hotels and Resorts</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:68%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/minerwagrand.jpg" alt="Minerwa Grand Secundrabad">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Minerwa Grand Secundrabad</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:75%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/alankritaresorts.jpg" alt="Alankrita Resorts">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Alankrita Resorts</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:74%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/celebrityclubresorts.jpg" alt="Celebrity Club Resorts">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Celebrity Club Resorts</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/palmexotica.jpg" alt="Palm Exotica">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Palm Exotica</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:75%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        <img src="~/newdesign/images/tridenthotels.jpg" alt="Trident Hotels">
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>Trident Hotels</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:90%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="#" class="more-btn">More Hotels and Resorts</a>
        </div>
        <div class="row" id="venueslist">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Venues</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Venue)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                            @if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:80%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>500 - 3000</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            <p>@item.cost <i class="fa fa-check" aria-hidden="true"></i></p>
                                            <span>Price Per Plate</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" id="catereslist">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Catering</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Catering)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Catering&&id=@item.id&&vid=@item.subid">
                            @if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    <a href="/VendorParticularService/Index?type=Catering&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:90%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>N/A</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            <p>@item.cost<i class="fa fa-check" aria-hidden="true"></i></p>
                                            <span>Price Per Plate</span>
                                            <!--<span class="dropdown">Price Per Plate <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <ul>
                                              <li></li>
                                            </ul>-->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" id="Photographers-list">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Photographers</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Photography)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Photography&&id=@item.id&&vid=@item.subid">
                            @if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    <a href="/VendorParticularService/Index?type=Photography&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:90%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>N/A</p>
                                            <span>Days</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            <p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>
                                            <span>Package Starts from</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row margin-top-100">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30 text-center">Photos</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bx-wrapper" style="max-width: 1850px;">
                    <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 300px;">
                        <div class="slider1" style="width: 6215%; position: relative; transition-duration: 0s; transform: translate3d(-1860px, 0px, 0px);">
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-12 more-updates text-center">
                <div class="text-center">
                    <h4>For More Updates</h4>
                </div>
                <div class="more-updates-left">
                    <p>CALL US FROM ANY CITY</p>
                    <p>+91 77020 53510</p>
                </div>
                <div class="more-updates-middle">OR</div>
                <div class="more-updates-right">
                    <p>HAVE US CALL YOU</p>
                    <p>WE WILL GET BACK SOON</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="topicon">
        @*<i class="fa fa-arrow-up" aria-hidden="true"></i>*@
        <i class="fa fa-arrow-up" aria-hidden="true" style="position:absolute;top: 8px;"></i>
    </div>
    <footer class="container-fluid margin-top-30">
        <div class="row">&copy;&nbsp;Ahwanam 2017. All right reserved.</div>
    </footer>
</body>

@section scripts{
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery.chained.js"></script>
    <!-- BX Slider -->
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        /*-------- Popular Vendors slides --------*/
        $(document).ready(function () {
            $('.slider1').bxSlider({
                slideWidth: 300,
                minSlides: 2,
                maxSlides: 6,
                slideMargin: 10
            });
        });
        /*-------- Popular Vendors slides --------*/
        /*-------- Chained Jquery --------*/
        $(function () {

            /* For jquery.chained.js */
            $("#series").chained("#mark");
            $("#model").chained("#series");
        });
        /*-------- Chained Jquery --------*/

        /*-------- Equal Heights --------*/
        $(document).ready(function () {
            if (screen.width < 481) {
                $(".gallery-left").height();
            } else {
                $(".gallery-left").height($(".gallery-right").height());
            }
        });
        /*-------- Equal Heights --------*/
        /*-------- Steps Tabs --------*/
        $(".steps ul.tabs li:first-of-type").click(function () {
            $(".steps ul.tab-content").css("transform", "translateY(0%)");
            $(this).addClass(" tab-shadow");
            $(this).nextAll("li").removeClass(" tab-shadow");
            $(this).prevAll("li").removeClass(" tab-shadow");
        });
        $(".steps ul.tabs li:nth-of-type(2)").click(function () {
            $(".steps ul.tab-content").css("transform", "translateY(-33.333%)");
            $(this).addClass(" tab-shadow");
            $(this).nextAll("li").removeClass(" tab-shadow");
            $(this).prevAll("li").removeClass(" tab-shadow");
        });
        $(".steps ul.tabs li:last-of-type").click(function () {
            $(".steps ul.tab-content").css("transform", "translateY(-66.666%)");
            $(this).addClass(" tab-shadow");
            $(this).nextAll("li").removeClass(" tab-shadow");
            $(this).prevAll("li").removeClass(" tab-shadow");
        });
        /*-------- Steps Tabs --------*/
        //<!----- Login Pop Up --------->
        $("a.login-popup-display").click(function () {
            $(".login-popup").css("display", "block");
        });
        $(".login-popup .login-form i").click(function () {
            $(this).parents(".login-popup").css("display", "none");
        });
        //<!----- Login Pop Up --------->

        // <!----- Vendors Scroll top --------->
        $("#cateres").click(function () {
            $("html, body").animate({
                scrollTop: $("#catereslist").offset().top
            }, "slow");
        });
        $("#venues").click(function () {
            $("html, body").animate({
                scrollTop: $("#venueslist").offset().top
            }, "slow");
        });
        $("#Photographers").click(function () {
            $('html,body').animate({
                scrollTop: $("#Photographers-list").offset().top
            }, "slow");
        });
        //<!----- Vendors Scroll top --------->

        //<!-------- Body Scroll Top ----------->
        $("#topicon").click(function () {
            $("html, body").animate({
                scrollTop: $("#body-top").offset().top
            }, "slow");
        });
        $("#topicon").hover(function () {
            $(this).css("opacity", "1");
        });
        $("#topicon").mouseleave(function () {
            $(this).css("opacity", ".7");
        });
        $(window).on("scroll ready", function () {
            var ScrollTop = $(this).scrollTop();
            if (ScrollTop > 500) {
                $("#topicon").css("opacity", ".7");
            } else {
                $("#topicon").css("opacity", "0");
            }
        });
        //<!-------- Body Scroll Top ----------->

    </script>
}

</html>
